<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
</head>
<body class="c12"><h1 class="c8 c16" id="h.r2nlz0rrghro"><span class="c15">CHAPTER ONE ~ THREE HOUSES</span></h1>
<h2 class="c13 c8" id="h.deqdtuaityck"><span class="c10">SESSION 1 ~ Getting to Know Each Other</span></h2>
<h3 class="c7" id="h.rbvhsp5g95nv"><span class="c11">24th of the Great Tree Moon, 1180</span></h3><h4 class="c0 c8"
                                                                                                      id="h.ebu736ooku7f">
    <span class="c9"><a class="c6"
                        href="https://discordapp.com/channels/670072498812878849/670442406738395137/673667273134833674">Thread 0101001</a></span>
</h4>
<p class="c0"><span class="c2">Characters: Ashe Ubert, Briar Eisner, Claude von Riegan, Cyril, Dimitri Alexandre Blaiddyd, Dorothea Arnault, Edelgard von Hresvelg, Hubert von Vestra, Lysithea von Ordelia, Mercedes von Martritz, Petra MacNeary, Sylvain Jose Gautier</span>
</p>
<p class="c0"><span class="c2">Location: Courtyard</span></p>
<p class="c0"><span class="c2">Date IRL: 02/02/2020</span></p>
<p class="c0"><span class="c2">Summary: The professors arrive, and students clamber to get a peek. Sylvain gets roasted by Petra, Claude has an ominous conversation with Hubert, and Mercedes, Ashe, and Lysithea bond over sweets.</span>
</p>
<p class="c0"><span class="c2">Notes: Our first scene ever, with several conversations going on at the same time! Probably mostly retconned.</span>
</p>
<p class="c0 c1"><span class="c2"></span></p><h4 class="c0 c8" id="h.fp23b27tlq75"><span class="c9"><a class="c6"
                                                                                                       href="https://discord.com/channels/670072498812878849/670443358514053130/674870065564352512">Thread 0101002</a></span>
</h4>
<p class="c0"><span class="c2">Characters: Ashe Ubert, Briar Eisner, Dimitri Alexandre Blaiddyd</span></p>
<p class="c0"><span class="c2">Location: Amiibo Gazebo</span></p>
<p class="c0"><span class="c2">Date IRL: 02/05/2020</span></p>
<p class="c0"><span class="c2">Summary: Ashe, Briar, and Dimitri have a pleasant conversation in the shade of the gazebo.</span>
</p>
<p class="c0"><span class="c2">Notes: Probably retconned?</span></p>
<p class="c0 c1"><span class="c2"></span></p><h4 class="c0 c8" id="h.qmcp1c13xzg"><span class="c9"><a class="c6"
                                                                                                      href="https://discordapp.com/channels/670072498812878849/670444480997884018/674828749056770058">Thread 0101003</a></span>
</h4>
<p class="c0"><span class="c2">Characters: Cyril, Marianne von Edmund</span></p>
<p class="c0"><span class="c2">Location: Stables</span></p>
<p class="c0"><span class="c2">Date IRL: 02/05/2020</span></p>
<p class="c0"><span class="c2">Summary: Cyril catches Marianne talking to a horse. Marianne retreats.</span></p>
<p class="c0"><span class="c2">Notes: Possibly retconned?</span></p>
<p class="c0 c1"><span class="c2"></span></p><h4 class="c0 c8" id="h.qruvbg7spgzs"><span class="c9"><a class="c6"
                                                                                                       href="https://discordapp.com/channels/670072498812878849/670442502586892298/675209509039374336">Thread 0101004</a></span>
</h4>
<p class="c0"><span class="c2">Characters: Felix Hugo Fraldarius, Ingrid Brandl Galatea</span></p>
<p class="c0"><span class="c2">Location: Blue Lions Classroom</span></p>
<p class="c0"><span class="c2">Date IRL: 02/06/2020</span></p>
<p class="c0"><span class="c2">Summary: Ingrid tries to read a book about horses. Felix tells her to learn to cook instead.</span>
</p>
<p class="c0"><span class="c2">Notes: Retconned.</span></p>
<p class="c0 c1"><span class="c2"></span></p><h4 class="c0 c8" id="h.btlt19shyor1"><span class="c9"><a class="c6"
                                                                                                       href="https://discordapp.com/channels/670072498812878849/717046934883270687/735323645202792531">Thread 0101005</a></span>
</h4>
<p class="c0"><span class="c2">Characters: Byleth Eisner, Dorothea Arnault, Hilda Valentine Goneril</span></p>
<p class="c0"><span class="c2">Location: Marketplace</span></p>
<p class="c0"><span class="c2">Date IRL: 02/06/2020</span></p>
<p class="c0"><span class="c2">Summary: Dorothea and Hilda try to sweet-talk the new professor. Byleth just wants to buy something for Briar.</span>
</p>
<p class="c0"><span class="c2">Notes: Possibly partially retconned?</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<h4 class="c0 c8" id="h.r2epbaxtr8m3"><span class="c9"><a class="c6"
                                                                                                       href="https://discordapp.com/channels/670072498812878849/670442406738395137/675509242920435733">Thread 0101006</a></span>
</h4>
<p class="c0"><span class="c2">Characters: Petra MacNeary, Sylvain Jose Gautier</span></p>
<p class="c0"><span class="c2">Location: Courtyard</span></p>
<p class="c0"><span class="c2">Date IRL: 02/07/2020</span></p>
<p class="c0"><span class="c2">Summary: Petra and Sylvain adopt a cat.</span></p>
<p class="c0"><span class="c2">Notes: Probably retconned out?</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<h4 class="c0 c8"><span class="c9"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670443306580443148/675428362730209312">Thread 0101007</a></span>
</h4></p>
<p class="c0"><span class="c2">Characters: Lysithea von Ordelia, Mercedes von Martritz</span></p>
<p class="c0"><span class="c2">Location: Kitchens</span></p>
<p class="c0"><span class="c2">Date IRL: 02/07/2020</span></p>
<p class="c0"><span class="c2">Summary: Lysithea and Mercedes bake some cookies.</span></p>
<p class="c0"><span class="c2">Notes:</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670443254663086097/675569488720297996">Thread 0101008</a></span>
</p>
<p class="c0"><span class="c2">Characters: Rowan van Almasi, Thyra Iphigenia Mateus</span></p>
<p class="c0"><span class="c2">Location: Sauna</span></p>
<p class="c0"><span class="c2">Date IRL: 02/07/2020</span></p>
<p class="c0"><span class="c2">Summary: Thyra gives Rowan a massage.</span></p>
<p class="c0"><span class="c2">Notes:</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670445991417085963/676307357034086412">Thread 0101009</a></span>
</p>
<p class="c0"><span class="c2">Characters: Arvyn von Richter, Rowan van Almasi</span></p>
<p class="c0"><span class="c2">Location: Fishing Docks</span></p>
<p class="c0"><span class="c2">Date IRL: 02/09/2020</span></p>
<p class="c0"><span
        class="c2">Summary: Arvyn and Rowan meet and chat about their lives. Continued in Thread 0101010.</span></p>
<p class="c0"><span class="c2">Notes:</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670443010978218016/676583314194300928">Thread 0101010</a></span>
</p>
<p class="c0"><span class="c2">Characters: Arvyn von Richter, Rowan van Almasi</span></p>
<p class="c0"><span class="c2">Location: Library</span></p>
<p class="c0"><span class="c2">Date IRL: 02/10/2020</span></p>
<p class="c0"><span class="c2">Summary: Arvyn and Rowan talk about their respective backgrounds. Continued from Thread 0101009.</span>
</p>
<p class="c0"><span class="c2">Notes:</span></p>
<h2 class="c13 c8" id="h.rd63guieusmt"><span class="c10">SESSION 2 ~ Before the Rivalry of the Houses</span></h2>
<h3 class="c7" id="h.5yue31l7xnxe"><span class="c11">27th of the Great Tree Moon, 1180</span></h3>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670443282836488213/677608697807241248">Thread 0102001</a></span>
</p>
<p class="c0"><span class="c2">Characters: Claude von Riegan, Layla von Alyss</span></p>
<p class="c0"><span class="c2">Location: Dining Hall</span></p>
<p class="c0"><span class="c2">Date IRL: 02/13/2020</span></p>
<p class="c0"><span class="c2">Summary: Claude and Layla eat and talk about pets. Continued in Thread 0102007.</span>
</p>
<p class="c0"><span class="c2">Notes: </span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670445991417085963/677777966654160916">Thread 0102002</a></span>
</p>
<p class="c0"><span class="c2">Characters: Dorothea Arnault, Marianne von Edmund, Sylvain Jose Gautier, Thyra Iphigenia Mateus</span>
</p>
<p class="c0"><span class="c2">Location: Fishing Docks</span></p>
<p class="c0"><span class="c2">Date IRL: 02/13/2020</span></p>
<p class="c0"><span class="c2">Summary: A trio of flirts corner Marianne at the same time. She faints.</span></p>
<p class="c0"><span class="c2">Notes: Probably retconned out.</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670446018873131058/677770593554137091">Thread 0102003</a></span>
</p>
<p class="c0"><span class="c2">Characters: Cyril, Petra MacNeary</span></p>
<p class="c0"><span class="c2">Location: Greenhouse</span></p>
<p class="c0"><span class="c2">Date IRL: 02/13/2020</span></p>
<p class="c0"><span
        class="c2">Summary: Petra convinces Cyril to tell her about flowers. Continued in Thread 0102004.</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670443358514053130/678040080157376514">Thread 0102004</a></span>
</p>
<p class="c0"><span class="c2">Characters: Cyril, Petra MacNeary</span></p>
<p class="c0"><span class="c2">Location: Amiibo Gazebo</span></p>
<p class="c0"><span class="c2">Date IRL: 02/14/2020</span></p>
<p class="c0"><span class="c2">Summary: Cyril and Petra have a conversation about friendship and hobbies. Continued from 0102003.</span>
</p>
<p class="c0"><span class="c2">Notes:</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670442502586892298/678459940066689034">Thread 0102005</a></span>
</p>
<p class="c0"><span class="c2">Characters: Ashe Ubert, Ingrid Brandl Galatea</span></p>
<p class="c0"><span class="c2">Location: Blue Lions Classroom</span></p>
<p class="c0"><span class="c2">Date IRL: 02/15/2020</span></p>
<p class="c0"><span class="c2">Summary: Ingrid thinks about Sylvain and gets really pissed. Ashe offers to help her teach him a lesson, and suggests they look for Claude.</span>
</p>
<p class="c0"><span class="c2">Notes: Probably retconned out. Continued in Thread 0102006, Thread 0102007.</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670442406738395137/678794292164165669">Thread 0102006</a></span>
</p>
<p class="c0"><span
        class="c2">Characters: Ashe Ubert, Claude von Riegan, Felix Hugo Fraldarius, Ingrid Brandl Galatea</span></p>
<p class="c0"><span class="c2">Location: Courtyard</span></p>
<p class="c0"><span class="c2">Date IRL: 02/16/2020</span></p>
<p class="c0"><span class="c2">Summary: Ingrid waits for Ashe and Claude to arrive so they can plot a prank on Sylvain. Felix shows up first.</span>
</p>
<p class="c0"><span class="c2">Notes: Pretty sure this is retconned out. Continued from Thread 0102001, Thread 0102005. Retconned for Felix.</span>
</p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670444480997884018/678717651941457920">Thread 0102007</a></span>
</p>
<p class="c0"><span class="c2">Characters: Ashe Ubert, Claude von Riegan, Layla von Alyss</span></p>
<p class="c0"><span class="c2">Location: Stables</span></p>
<p class="c0"><span class="c2">Date IRL: 02/16/2020</span></p>
<p class="c0"><span class="c2">Summary: Claude and Layla go to the stables to look for a wyvern. Ashe arrives to enlist Claude&rsquo;s help in pranking Sylvain. Continued from multiple threads.</span>
</p>
<p class="c0"><span class="c2">Notes:</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670841397150220291/679806009127993435">Thread 0102008</a></span>
</p>
<p class="c0"><span class="c2">Characters: Arvyn von Richter, Dedue Molinaro</span></p>
<p class="c0"><span class="c2">Location: Forest</span></p>
<p class="c0"><span class="c2">Date IRL: 02/19/2020</span></p>
<p class="c0"><span class="c2">Summary: Arvyn and Dedue have an uncomfortable first meeting.</span></p>
<p class="c0"><span class="c2">Notes: Probably retconned</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670442909665067060/680175759331164186">Thread 0102009</a></span>
</p>
<p class="c0"><span class="c2">Characters: Edelgard von Hresvelg, Mercedes von Martritz</span></p>
<p class="c0"><span class="c2">Location: Cathedral</span></p>
<p class="c0"><span class="c2">Date IRL: 02/20/2020</span></p>
<p class="c0"><span class="c2">Summary: Mercedes and Edelgard meet in the cathedral.</span></p>
<p class="c0"><span class="c2">Notes: Probably retconned out</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670443282836488213/680549536464371995">Thread 0102010</a></span>
</p>
<p class="c0"><span class="c2">Characters: Flayn, Lysithea von Ordelia, Matilda von Freya</span></p>
<p class="c0"><span class="c2">Location: Dining Hall</span></p>
<p class="c0"><span class="c2">Date IRL: 02/21/2020</span></p>
<p class="c0"><span class="c2">Summary: Flayn, Lysithea, and Matilda discuss family and plot to prank Claude.</span></p>
<p class="c0"><span class="c2">Notes:</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670443306580443148/681339531638865930">Thread 0102011</a></span>
</p>
<p class="c0"><span class="c2">Characters: Ashe Ubert, Claude von Riegan, Ingrid Brandl Galatea</span></p>
<p class="c0"><span class="c2">Location: Kitchens</span></p>
<p class="c0"><span class="c2">Date IRL: 02/23/2020</span></p>
<p class="c0"><span
        class="c2">Summary: Ashe, Claude, and Ingrid plan how to get Sylvain to stop his philandering ways.</span></p>
<p class="c0"><span class="c2">Notes: Probably retconned out</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670442533326684180/681388942515503116">Thread 0102012</a></span>
</p>
<p class="c0"><span class="c2">Characters: Arvyn von Richter, Layla von Alyss</span></p>
<p class="c0"><span class="c2">Location: Black Eagles Classroom</span></p>
<p class="c0"><span class="c2">Date IRL: 02/23/2020</span></p>
<p class="c0"><span class="c2">Summary: Arvyn and Layla finally get a chance to talk outside class. They end up going to the training grounds to practice some fire magic! Continued in Thread 0102013.</span>
</p>
<p class="c0"><span class="c2">Notes:</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670442673785536514/682023062899785739">Thread 0102013</a></span>
</p>
<p class="c0"><span class="c2">Characters: Arvyn von Richter, Layla von Alyss</span></p>
<p class="c0"><span class="c2">Location: Training Grounds</span></p>
<p class="c0"><span class="c2">Date IRL: 02/25/2020</span></p>
<p class="c0"><span class="c2">Summary: Arvyn and Layla train together. Arvyn sets the arena on fire. Continued from 0102012. Continued in 0102014.</span>
</p>
<p class="c0"><span class="c2">Notes: </span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/679510514690293865/682116195486662664">Thread 0102014</a></span>
</p>
<p class="c0"><span class="c2">Characters: Arvyn von Richter, Dorothea Arnault, Layla von Alyss, Marianne von Edmund, Thyra Iphigenia Mateus</span>
</p>
<p class="c0"><span class="c2">Location: Infirmary</span></p>
<p class="c0"><span class="c2">Date IRL: 02/25/2020</span></p>
<p class="c0"><span class="c2">Summary: Arvyn and Layla go to the infirmary after Arvyn sets the training grounds on fire. Dorothea, Thyra, and Marianne are also there. Thyra and Arvyn finally discuss their similar appearances. Continued from 0102013.</span>
</p>
<p class="c0"><span class="c2">Notes: Partially retconned?</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670444480997884018/682111005240721440">Thread 0102015</a></span>
</p>
<p class="c0"><span class="c2">Characters: Cyril, Juniper</span></p>
<p class="c0"><span class="c2">Location: Stables</span></p>
<p class="c0"><span class="c2">Date IRL: 02/26/2020</span></p>
<p class="c0"><span class="c2">Summary: Juniper asks Cyril a bunch of questions.</span></p>
<p class="c0"><span class="c2">Notes:</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670442406738395137/683088632159928327">Thread 0102016</a></span>
</p>
<p class="c0"><span class="c2">Characters: Chloe Vangueur, Caster Lavender, Emilie Friedrich, Lucy Felina, Zegrath Blackwood</span>
</p>
<p class="c0"><span class="c2">Location: Courtyard</span></p>
<p class="c0"><span class="c2">Date IRL: 02/28/2020</span></p>
<p class="c0"><span class="c2">Summary: Many introductions are made! It&rsquo;s mostly just Ziggy meeting people, though.</span>
</p>
<p class="c0"><span class="c2">Notes:</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670443010978218016/683144372585627706">Thread 0102017</a></span>
</p>
<p class="c0"><span class="c2">Characters: Hubert von Vestra, Matilda von Freya</span></p>
<p class="c0"><span class="c2">Location: Library</span></p>
<p class="c0"><span class="c2">Date IRL: 02/28/2020</span></p>
<p class="c0"><span
        class="c2">Summary: Hubert tells Matilda she&rsquo;s strange. Matilda decides he&rsquo;s creepy.</span></p>
<p class="c0"><span class="c2">Notes:</span></p>
<h2 class="c8 c13" id="h.k85bp9p8ekra"><span class="c10">SESSION 3 ~ After Battle Festivities</span></h2>
<h3 class="c7" id="h.1pdi9h2va9hq"><span class="c11">30th of the Great Tree Moon, 1180</span></h3>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/685007800249745429/685009960123498620">Thread 0103001</a></span>
</p>
<p class="c0"><span class="c2">Characters: Thyra Iphigenia Mateus, Zegrath Blackwood</span></p>
<p class="c0"><span class="c2">Location: Turtle Pond</span></p>
<p class="c0"><span class="c2">Date IRL: 03/04/2020</span></p>
<p class="c0"><span class="c2">Summary: Ziggy and Thyra have their first date.</span></p>
<p class="c0"><span class="c2">Notes:</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670445991417085963/685134142484119569">Thread 0103002</a></span>
</p>
<p class="c0"><span class="c2">Characters: Flayn, Seteth</span></p>
<p class="c0"><span class="c2">Location: Fishing Docks</span></p>
<p class="c0"><span class="c2">Date IRL: 03/05/2020</span></p>
<p class="c0"><span class="c2">Summary: Seteth tells Flayn to cover up. She says no. They fish and chat.</span></p>
<p class="c0"><span class="c2">Notes: </span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670446018873131058/685617361587666953">Thread 0103003</a></span>
</p>
<p class="c0"><span class="c2">Characters: Claude von Riegan, Lucy Felina</span></p>
<p class="c0"><span class="c2">Location: Greenhouse</span></p>
<p class="c0"><span class="c2">Date IRL: 03/05/2020</span></p>
<p class="c0"><span class="c2">Summary: Claude catches Lucy doing something strange.</span></p>
<p class="c0"><span class="c2">Notes:</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/671069367705796618/685293054856265728">Thread 0103004</a></span>
</p>
<p class="c0"><span class="c2">Characters: Dahlia von Meyer, Hubert von Vestra</span></p>
<p class="c0"><span class="c2">Location: Marketplace</span></p>
<p class="c0"><span class="c2">Date IRL: 03/05/2020</span></p>
<p class="c0"><span
        class="c2">Summary: Hubert and Dahlia meet up. Something about the other seems familiar&hellip;</span></p>
<p class="c0"><span class="c2">Notes:</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/685020516313989208/685196425344188562">Thread 0103005</a></span>
</p>
<p class="c0"><span class="c2">Characters: Balthus von Albrecht, Caster Lavender, Chloe Vangueur, Erik Porarinn</span>
</p>
<p class="c0"><span class="c2">Location: Abyss Entrance</span></p>
<p class="c0"><span class="c2">Date IRL: 03/05/2020</span></p>
<p class="c0"><span class="c2">Summary: Caster, Chloe, and Erik discover Abyss.</span></p>
<p class="c0"><span class="c2">Notes:</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670443358514053130/685936296450981911">Thread 0103005</a></span>
</p>
<p class="c0"><span class="c2">Characters: Marianne von Edmund, Zegrath Blackwood</span></p>
<p class="c0"><span class="c2">Location: Amiibo Gazebo</span></p>
<p class="c0"><span class="c2">Date IRL: 03/07/2020</span></p>
<p class="c0"><span class="c2">Summary: Ziggy accidentally scares off some birds.</span></p>
<p class="c0"><span class="c2">Notes:</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670443282836488213/685601624567054336">Thread 0103006</a></span>
</p>
<p class="c0"><span class="c2">Characters: Arvyn von Richter, Dorothea Arnault, Edelgard von Hresvelg, Ferdinand von Aegir, Hubert von Vestra</span>
</p>
<p class="c0"><span class="c2">Location: Dining Hall</span></p>
<p class="c0"><span class="c2">Date IRL: 03/07/2020</span></p>
<p class="c0"><span class="c2">Summary: Arvyn meets his house leader before the party.</span></p>
<p class="c0"><span class="c2">Notes: Probably retconned out?</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/685995254083747853/686076289077215241">Thread 0103007</a></span>
</p>
<p class="c0"><span class="c2">Characters: Caster Lavender, Lucy Felina</span></p>
<p class="c0"><span class="c2">Location: Entrance Hall</span></p>
<p class="c0"><span class="c2">Date IRL: 03/07/2020</span></p>
<p class="c0"><span class="c2">Summary: Caster and Lucy practice dancing before the party.</span></p>
<p class="c0"><span class="c2">Notes:</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670443282836488213/686353155058827323">Thread 0103008</a></span>
</p>
<p class="c0"><span class="c2">Characters: Lucy Felina, Raphael Kirsten</span></p>
<p class="c0"><span class="c2">Location: Dining Hall</span></p>
<p class="c0"><span class="c2">Date IRL: 03/08/2020</span></p>
<p class="c0"><span class="c2">Summary: Lucy meets Raphael, and they discuss what friendship is.</span></p>
<p class="c0"><span class="c2">Notes: Possibly retconned out?</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670442474921000991/686672960232226847">Thread 0103009</a></span>
</p>
<p class="c0"><span class="c2">Characters: Caster Lavender, Lucy Felina, Raphael Kirsten</span></p>
<p class="c0"><span class="c2">Location: Golden Deer Classroom</span></p>
<p class="c0"><span class="c2">Date IRL: 03/09/2020</span></p>
<p class="c0"><span class="c2">Summary: Caster, Lucy, and Raphael get ready to celebrate.</span></p>
<p class="c0"><span class="c2">Notes:</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/685995254083747853/686667139532587132">Thread 0103010</a></span>
</p>
<p class="c0"><span class="c2">Characters: Adelaide, Anders Kyrene Olivers, Arvyn von Richter, Bernadetta von Varley, Caster Lavender, Chloe Vangueur, Claude von Riegan, Dahlia von Meyer, Emaline, Erik Porarinn, Ghadir Vernon, Juniper, Layla von Alyss, Lucy Felina, Lysithea von Ordelia, Matilda von Freya, Mercedes von Martritz, Rowan van Almasi, Thyra Iphigenia Mateus, Zegrath Blackwood</span>
</p>
<p class="c0"><span class="c2">Location: Entrance Hall</span></p>
<p class="c0"><span class="c2">Date IRL: 03/09/2020</span></p>
<p class="c0"><span class="c2">Summary: The start of the party.</span></p>
<p class="c0"><span class="c2">Notes: Some parts have been retconned out</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/670442406738395137/686779539778568194">Thread 0103011</a></span>
</p>
<p class="c0"><span class="c2">Characters: Arvyn von Richter, Dahlia von Meyer, Ghadir Vernon, Thyra Iphigenia Mateus, Rowan van Almasi, Zegrath Blackwood</span>
</p>
<p class="c0"><span class="c2">Location: Courtyard</span></p>
<p class="c0"><span class="c2">Date IRL: 03/09/2020</span></p>
<p class="c0"><span class="c2">Summary: Dahlia and Ghadir bond, but are interrupted by a rowdy bunch of kids.</span></p>
<p class="c0"><span class="c2">Notes: Retconned Ghadir into a nameless student</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/685995299541614840/686673058177744908">Thread 0103012</a></span>
</p>
<p class="c0"><span class="c2">Characters: Adelaide, Caster Lavender, Chloe Vangueur, Claude von Riegan, Lucy Felina, Lysithea von Ordelia</span>
</p>
<p class="c0"><span class="c2">Location: Reception Hall</span></p>
<p class="c0"><span class="c2">Date IRL: 03/09/2020</span></p>
<p class="c0"><span
        class="c2">Summary: Claude and the rest of the Golden Deer gather up before their grand entrance.</span></p>
<p class="c0"><span class="c2">Notes:</span></p>
<p class="c0 c1"><span class="c2"></span></p>
<p class="c0"><span class="c3"><a class="c6"
                                  href="https://discordapp.com/channels/670072498812878849/679510514690293865/687154673412603904">Thread 0103013</a></span>
</p>
<p class="c0"><span class="c2">Characters: Arvyn von Richter, Caster Lavender, Emaline, Juniper</span></p>
<p class="c0"><span class="c2">Location: Infirmary</span></p>
<p class="c0"><span class="c2">Date IRL: 03/10/2020</span></p>
<p class="c0"><span
        class="c2">Summary: Arvyn brings Caster to the infirmary after an accident at the training rounds.</span></p>
<p class="c0"><span class="c17">Notes:</span></p></body>
</html>