<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - cathedral-ch01</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../../../static/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }
    </script>
</head>
<body>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" />
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">cathedral-ch01</div>

            <div class="preamble__entry preamble__entry--small"></div>

    </div>
</div>

<div class="chatlog">
    <div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683901346268577806/bf838073d36fdd29cd6e51068535dc7b.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Claude von Riegan#0000" data-user-id="683901346268577806">Claude von Riegan</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">01-Mar-20 11:59 PM</span>

            <div class="chatlog__message " data-message-id="683901346675687451" id="message-683901346675687451">
                <div class="chatlog__content">
                    <span class="markdown">The sun is shining, the birds are chirping, and all is well as Claude enters the nigh-empty cathedral, his footsteps echoing against the high ceiling of the chamber. Today, he brings to fruition the scheme he and two others had thought of - a scheme to put an end to a peer&#39;s philandering, at least for a bit. Though he hardly knows the target, he holds no love for chronic heartbreaking, nor for overly-persistent hopeless romanticists. He stops before a familiar lime-haired woman, his usual relaxed grin sliding into place as he offers her a glass vial. &quot;Hey, Adelaide,&quot; he greets, &quot;Whipped up another drink for you. And while I&#39;m here, I have something else to offer, too.&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683901346268577806/06fd22fd2e2284ecce806751e4e7dcca.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Adelaide#0000" data-user-id="683901346268577806">Adelaide</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 12:49 AM</span>

            <div class="chatlog__message " data-message-id="683913907743752241" id="message-683913907743752241">
                <div class="chatlog__content">
                    <span class="markdown">Prayer.

It was something Adelaide always found herself doing up before anything else. She didn&#39;t come off as devout when it came to her speech, yet she was always there. The soft sun shining down upon her through the gorgeous stained glass window as she hummed gracefully, her hands tightly clasped together. Despite her concentration, the sound of footsteps wouldn’t go unnoticed. As soon as the sly voice reached her ears, she knew exactly who it was.

“Let me guess <em>Cloudie</em>, trying to pry something out of me again?” Her raspy voice uttered silently, her body craned upwards as she turned to face the familiar student. Crossing her arms, her brows furrowed deeper than usual, “If it is, y’know I ain’t budgin’, I’ve already told you what I had to say. If it isn’t though, I’ll gladly take your drink and anything else hehe.” She chuckled, making sure to ease the tension a little. “But say, shouldn’t you be getting ready for the mock battle? What’s the deal, Claude?”</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683901346268577806/bf838073d36fdd29cd6e51068535dc7b.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Claude von Riegan#0000" data-user-id="683901346268577806">Claude von Riegan</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 01:22 AM</span>

            <div class="chatlog__message " data-message-id="683922229741879331" id="message-683922229741879331">
                <div class="chatlog__content">
                    <span class="markdown">Claude laughs, taken a bit off guard by her pointed comment (really, now, it should&#39;ve been expected by now - his mind has just been distracted by more than the mystery of the cathedral&#39;s custodian as of late), and gives her a noncommittal shrug. &quot;The Golden Deer have been spending the last few days preparing, so we don&#39;t need to be scrambling last-minute. I&#39;ve got some other business to tend to as well. Namely, why I&#39;m here.&quot;

He extends the vial toward her once again. &quot;I&#39;m not here for info on you this time, Adie dear, so drink up. The short version is, I wanted to see if you&#39;d be willing to seduce a student and steal all his clothes. Before you ask, yes, he deserves it; he&#39;s not exactly the nicest with women, so we&#39;re making him run around the grounds in his underwear.&quot;</span>

                </div>



                <div class="chatlog__reactions">
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="flayngasp" title="flayngasp" src="https://cdn.discordapp.com/emojis/671813495175774239.png" />
                            <span class="chatlog__reaction-count">3</span>
                        </div>
                </div>
            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683901346268577806/06fd22fd2e2284ecce806751e4e7dcca.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Adelaide#0000" data-user-id="683901346268577806">Adelaide</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 01:11 PM</span>

            <div class="chatlog__message " data-message-id="684100697461096479" id="message-684100697461096479">
                <div class="chatlog__content">
                    <span class="markdown">Adelaide’s looked at Claude curiously. If he was right about the Golden Deer, there’d be no need for worry. Right? She shifted her weight to the side, sighing with some relief. Still waiting for the student’s intrusive question. “Alright, I’m listening…” 

Her gaze followed the vial as Claude extends it to her. She warily takes hold of the cold glass as she listens to what he has to say. To seduce a philanderer huh? Her ugly cackle can’t help but to rise out of her throat, “You’re not joking, are you?” Her once stoic face overtaken by a wicked smile, “And steal his clothes? baHA!” Adelaide downs the drink in one go, wiping her mouth quickly before handing back the vial to the student. “Sure, you got a deal Cloudie. Who’s the poor unfortunate soul I’m lookin’ for?”</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683901346268577806/bf838073d36fdd29cd6e51068535dc7b.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Claude von Riegan#0000" data-user-id="683901346268577806">Claude von Riegan</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 02:42 PM</span>

            <div class="chatlog__message " data-message-id="684123542207725588" id="message-684123542207725588">
                <div class="chatlog__content">
                    <span class="markdown">Her reaction is even more positive than he&#39;d imagined (to be fair, though, he thought she would just nod or chuckle a bit), and he can&#39;t stop his own genuine grin from creeping up his face at her guffaws. Pocketing the vial and noting that the concentration of the sedative is likely still too low, he answers, &quot;He answers to Sylvain. Blue Lions, tall redhead with gold eyes. He&#39;ll be in the mock battle, if you plan to watch.&quot;

His eyes wander the area casually as he speaks, as if distracted, though in reality he is checking for eavesdroppers. &quot;After the battle, there will be festivities. That would be a perfect time to do what you have to. Once you&#39;ve taken all his clothes from his room, you&#39;ll meet myself and a few others in my room. Sound good?&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683901346268577806/06fd22fd2e2284ecce806751e4e7dcca.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Adelaide#0000" data-user-id="683901346268577806">Adelaide</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 05:19 PM</span>

            <div class="chatlog__message " data-message-id="684163072142606368" id="message-684163072142606368">
                <div class="chatlog__content">
                    <span class="markdown">Adelaide’s eyebrow raised as the name rolled off Claude’s tongue. Sylvain. Yeah she’d heard of him occasionally, nothing but trash talk though. From what he was telling her, guess most of it was true. 

“Sylvain of the Blue Lions? Tall redhead with golden eyes, at the mock battle. Gotcha.” Her eyes closed as she tried to get a clue of what he looked like. “I’ll go ahead and watch. After it’s done, I’ll meet up with him at the festivities.” Her voice lowered in fear that she was being a little too loud. “You have my word, Claude. Now, why don’t you go and get your group rounded up? Meanwhile I’ll go ahead and fix the disaster that is my appearance hehe.”  Her arms folded behind her back as she stretched, trying to casually dismiss the conversation without anyone catching notice, “Oh and one more thing, good luck.”</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683901346268577806/bf838073d36fdd29cd6e51068535dc7b.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Claude von Riegan#0000" data-user-id="683901346268577806">Claude von Riegan</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 05:30 PM</span>

            <div class="chatlog__message " data-message-id="684165719155408909" id="message-684165719155408909">
                <div class="chatlog__content">
                    <span class="markdown">He chuckles and nods, giving her a small wave as he turns away. &quot;Thanks, Adie. I&#39;ll see ya.&quot; With that, he departs, disappearing around the corner as suddenly as he&#39;d arrived.</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/172515560846917642/5c702fbbbff2321a26668e41d8ad497a.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Locrius 光复香港#9567" data-user-id="172515560846917642" style="color: #0CF2D4">dimitri alexandre megpoid</span>


        <span class="chatlog__timestamp">02-Mar-20 05:30 PM</span>

            <div class="chatlog__message " data-message-id="684165754739884103" id="message-684165754739884103">
                <div class="chatlog__content">
                    <span class="markdown"><div class="pre pre--multiline nohighlight"> </div></span>

                </div>



            </div>
    </div>
</div>
</div>

<div class="postamble">
    <div class="postamble__entry">Exported 8 message(s)</div>
</div>

</body>
</html>