<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - infirmary-ch01</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../../../index.html#ch01">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">infirmary-ch01</div>

            <div class="preamble__entry preamble__entry--small"></div>

    </div>
</div>

<div class="chatlog">
    <div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683906302195269680/d89b67d56bbdc4939b7e47ca36fa5c1c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Emaline &#127803;#0000" data-user-id="683906302195269680">Emaline &#127803;</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 12:37 AM</span>

            <div class="chatlog__message " data-message-id="683910784304283823" id="message-683910784304283823">
                <div class="chatlog__content">
                    <span class="markdown">Emaline prepared the makeshift infirmary for the mock battle. For minor injuries, students could return to the monastery for treatment, but sometimes accidents happened and it was best to be prepared. In her years as a physician in training, she had quickly learned that mock battles often result in at least one concussion. Not to mention the number of sprains and twisted ankles that would need to be treated so that they wouldn&#39;t get worse on the way back to the monastery.

She was quite familiar with this task, having done it on a yearly basis for as long as she had been in training. This year, she was trusted to do it without supervision. In fact, she was the one supervising any younger trainees who were helping in this task.</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683906302195269680/f476ce011767e973feb7bc19776520a5.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Juniper#0000" data-user-id="683906302195269680">Juniper</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 02:03 PM</span>

            <div class="chatlog__message " data-message-id="684113571285827631" id="message-684113571285827631">
                <div class="chatlog__content">
                    <span class="markdown">Alongside the other more-experienced trainees, Juniper  struggles to put everything in its correct spot. She steals furtive glances around at the others&#39; stations and anxiously tries not to make a fool of herself on her first real day. &quot;Uh, and this goes here, ri- <em>oh no!</em>&quot;

With a loud yelp, she drops to the ground and scrambles to catch a roll of gauze before it hits the dirt. After a few moments, she manages to triumphantly hold it above herself in the air in a dramatic pose, but doesn&#39;t notice that her knee is now bleeding.</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684115137510113317" id="message-684115137510113317">
                <div class="chatlog__content">
                    <span class="markdown">Emaline heard the yelp and turned to its source. She spotted her just in time to see her catch the roll of gauze.
“Nice catch!” She cheered.
She walked over to the younger girl’s station “Is this your first year on infirmary duty? I’d be happy to show you the ropes” Emaline smiled. “Oh! I forgot to introduce myself. I’m Emaline. It’s nice to meet you!” She offered her hand to the younger girl.</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683906302195269680/f476ce011767e973feb7bc19776520a5.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Juniper#0000" data-user-id="683906302195269680">Juniper</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 02:48 PM</span>

            <div class="chatlog__message " data-message-id="684125113401999361" id="message-684125113401999361">
                <div class="chatlog__content">
                    <span class="markdown">Juniper looks over when she hears someone cheer and sees one of the older apprentices walking over. She hurries to get back on her feet and nods in response to the question. &quot;I&#39;m Juniper! It&#39;s nice to meet you, too.&quot; She shakes Emaline&#39;s hand excitedly. &quot;If it&#39;s not too much of a bother, that would be really nice of you. But if it is, I&#39;m sure I can figure it out on my own, too!&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683906302195269680/d89b67d56bbdc4939b7e47ca36fa5c1c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Emaline &#127803;#0000" data-user-id="683906302195269680">Emaline &#127803;</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 03:17 PM</span>

            <div class="chatlog__message " data-message-id="684132242179752066" id="message-684132242179752066">
                <div class="chatlog__content">
                    <span class="markdown">Emaline smiled &quot;Welcome to the team, Juniper! And don&#39;t worry. I was just about to check if anyone needed help anyways, so it&#39;s no trouble.&quot; Emaline examined the young girl&#39;s station. Most of the supplies seemed to be in their proper places, although a few things looked a little precarious.
&quot;You&#39;ve done a very good job, especially for your first time. There are just a few things that need to be rearranged. This roll of bandages should be turned onto its side so it can&#39;t roll off the table, for instance...&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683906302195269680/f476ce011767e973feb7bc19776520a5.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Juniper#0000" data-user-id="683906302195269680">Juniper</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 11:08 PM</span>

            <div class="chatlog__message " data-message-id="684250945701281818" id="message-684250945701281818">
                <div class="chatlog__content">
                    <span class="markdown">&quot;Ooh, that makes sense...&quot; Juniper watches Emaline&#39;s actions curiously, paying close attention to everything she does. It seems she&#39;s done fine for the most part; some things just needed to be placed a little bit differently, and it&#39;s obvious she&#39;s proud of that fact. &quot;You&#39;re so smart, Miss Emaline! Thank you so much.&quot;
She glances toward the battlefield and sees some of the fighters clashing weapons. &quot;Oh, I think we&#39;ll be getting visitors pretty soon...&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683906302195269680/31293e7d12512112c3a22b2d2b8b019a.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Raphael Kirsten#0000" data-user-id="683906302195269680">Raphael Kirsten</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 03:14 AM</span>

            <div class="chatlog__message " data-message-id="684312686791622667" id="message-684312686791622667">
                <div class="chatlog__content">
                    <span class="markdown">Raphael walked in , totally damaged . &quot;Hey there. Sorry for being the first to go down so easily... Hehe. I just have to train more !&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683906302195269680/26f7dad2ef3659f314dea1cd93d426a4.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Flayn#0000" data-user-id="683906302195269680">Flayn</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 10:12 AM</span>

            <div class="chatlog__message " data-message-id="684417863888404560" id="message-684417863888404560">
                <div class="chatlog__content">
                    <span class="markdown">Handling injuries wasn&#39;t something unfamiliar to Flayn. She was always sure what to do in a situation, but she was always certain on how to heal. And, seeing others set up a tent, she decided to enlist herself and join in (likely against Seteth&#39;s wishes).

After nodding to the other&#39;s healing in the room, she would keep an eye on the people who were already in there where she could.

Around the same time, that blonde hair appeared. Flayn hadn&#39;t spoken with him, but she recognized that Golden Deer boy. 

&quot; Do not apologize, that is what these battles are for! I am certain you are quite strong as it is. &quot;

The green haired girl stated, approaching him. She&#39;d immediately gesture for him to rest on one of the medical beds, wanting to check out his wounds.</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684418858098229259" id="message-684418858098229259">
                <div class="chatlog__content">
                    <span class="markdown">Raphael nodded , still feeling bad to let his team down , but oh well ,next time , he would train more .

 For now , he would have to rest it out.  So , he did as Flayn told him and laid down on one of the medical beds.

&quot;I suppose , but I still feel bad for letting my team down right in the blue lions&#39;s 2nd round.&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683906302195269680/d89b67d56bbdc4939b7e47ca36fa5c1c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Emaline#0000" data-user-id="683906302195269680">Emaline</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 10:25 AM</span>

            <div class="chatlog__message " data-message-id="684421135781068825" id="message-684421135781068825">
                <div class="chatlog__content">
                    <span class="markdown">Emaline turned to the new patient, looking to see if she should help or just stay out of the way. She decided trying to offer a few words of encouragement probably wouldn&#39;t step on Flayn&#39;s toes too much.

&quot;You went down first because you were on the front lines protecting your friends. I think that&#39;s admirable. You&#39;re here so they don&#39;t have to be&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683906302195269680/26f7dad2ef3659f314dea1cd93d426a4.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Flayn#0000" data-user-id="683906302195269680">Flayn</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 10:34 AM</span>

            <div class="chatlog__message " data-message-id="684423339904729158" id="message-684423339904729158">
                <div class="chatlog__content">
                    <span class="markdown">The greenette granted Emaline a smile at her words. She couldn&#39;t have said it better herself.

&quot; Yes! Being the first out of the battle does not make you weak. &quot;

With that said, the girl would begin to use her magic to heal the harsher wounds. This would take a moment as she had the time to ensure they were properly being fixed as opposed to the typical rush-fix that is done on the battlefield in a real war. 

&quot; But, if you are to train, please do not stress your injuries too much. It is best to heal. &quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683906302195269680/31293e7d12512112c3a22b2d2b8b019a.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Raphael Kirsten#0000" data-user-id="683906302195269680">Raphael Kirsten</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 11:59 AM</span>

            <div class="chatlog__message " data-message-id="684444912132948050" id="message-684444912132948050">
                <div class="chatlog__content">
                    <span class="markdown">&quot;Well then ! The why I need to train more ! So that next time , I can protect them with more ease ! Sorry, I can&#39;t promise to stress my injuries , but I&#39;ll do my best to avoid it.&quot; Raphael gave a warmful smile as the two <em><strong>Bebes</strong></em> helped him physical and mentally .</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/338222603829510164/8bad27805fc08bce77f4e7277cd7c902.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Atlas#2867" data-user-id="338222603829510164">Atlas</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 03:36 PM</span>

            <div class="chatlog__message " data-message-id="684499347777257479" id="message-684499347777257479">
                <div class="chatlog__content">
                    <span class="markdown">Congratulations <span class="mention" title="Dracologist#7273">@Dracologist</span>! You just advanced to <strong>level 7</strong>!</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683906302195269680/d89b67d56bbdc4939b7e47ca36fa5c1c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Emaline#0000" data-user-id="683906302195269680">Emaline</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 03:36 PM</span>

            <div class="chatlog__message " data-message-id="684499348410597397" id="message-684499348410597397">
                <div class="chatlog__content">
                    <span class="markdown">&quot;Please take care of yourself while you train. You&#39;re no good to your friends if you don&#39;t take time to heal properly.&quot; Emaline liked this patient&#39;s cheerfulness, but she knew this kind of determination can be warped into something self-destructive if one isn&#39;t careful.</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684500369891655764" id="message-684500369891655764">
                <div class="chatlog__content">
                    <span class="markdown">&quot;Don&#39;t worry ! I&#39;m a brave boy ! I can heal while I train !&quot; He smiled wrapping some bandages around him. &quot;W-well now.-&quot; He got out of the bed with some difficulty &quot;-I gotta see the fight as well!&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/198297818723516416/60ab6a19b01eecdfc157630d61aa3642.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Dracologist#7273" data-user-id="198297818723516416" style="color: #F5C4F7">Dracologist</span>


        <span class="chatlog__timestamp">03-Mar-20 03:42 PM</span>

            <div class="chatlog__message " data-message-id="684500912097591348" id="message-684500912097591348">
                <div class="chatlog__content">
                    <span class="markdown">(( <span class="mention" style="color: #9AE9C1; background-color: rgba(154, 233, 193, 0.1); font-weight: 400;">@Flayn</span> I&#39;m gonna let you be the one to stop him))</span>

                </div>



                <div class="chatlog__reactions">
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="flayngasp" title="flayngasp" src="https://cdn.discordapp.com/emojis/671813495175774239.png" />
                            <span class="chatlog__reaction-count">1</span>
                        </div>
                </div>
            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683906302195269680/31293e7d12512112c3a22b2d2b8b019a.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Raphael Kirsten#0000" data-user-id="683906302195269680">Raphael Kirsten</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 03:42 PM</span>

            <div class="chatlog__message " data-message-id="684500949326364724" id="message-684500949326364724">
                <div class="chatlog__content">
                    <span class="markdown">//Don&#39;t you dare</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684502300282454017" id="message-684502300282454017">
                <div class="chatlog__content">
                    <span class="markdown">The girl&#39;s cheeks would puff out as she reached to his shoulders (to the best of her ability) and would attempt to push the big guy back down. She was gentle, of course. She didn&#39;t want to hurt him. 

&quot; That is by no means going to happen! &quot;

If she managed to get him back down, her arms would cross as she looked towards the other. 

&quot; You are going to stay here and rest, allowing your injuries to heal naturally. You can hear about the specifications of the battle later. &quot;</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684503549090332692" id="message-684503549090332692">
                <div class="chatlog__content">
                    <span class="markdown">&quot;Fine... Thanks. I just really want to see my friends battle. I want to see if I at least did something for the team.&quot; 

Raphael laid down.

&quot;But... For how much time must I be here ?&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683906302195269680/26f7dad2ef3659f314dea1cd93d426a4.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Flayn#0000" data-user-id="683906302195269680">Flayn</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 04:53 PM</span>

            <div class="chatlog__message " data-message-id="684518775571087401" id="message-684518775571087401">
                <div class="chatlog__content">
                    <span class="markdown">&quot; I understand. &quot;

The girl started, before pressing to one of his wounds. While she could&#39;t speed up the process, she could at least use her healing magic to fix the little things.

&quot; However, if you are injured and you tear open a wound from excitement, you very well could distract your teammates or classmates from the battle as well. It will be better for you and everyone else to stay here. I know it is not the most pleasant idea, but, I am certain you helped. &quot;</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684519373041565707" id="message-684519373041565707">
                <div class="chatlog__content">
                    <span class="markdown">&quot;Thank you... By the way , what are your names ?&quot; He looked at the two healers , curious about the people who healed him. &quot;I&#39;m Raphael Kirsten ! Pleasure to meet you !&quot;</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684520137227108566" id="message-684520137227108566">
                <div class="chatlog__content">
                    <span class="markdown">&quot;I&#39;m Emaline... I don&#39;t really have a last name.&quot; She looked down as she admitted to not having a family name, before quickly straightening back up and putting on a smile. &quot;It&#39;s nice to meet you too!&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683906302195269680/26f7dad2ef3659f314dea1cd93d426a4.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Flayn#0000" data-user-id="683906302195269680">Flayn</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 05:08 PM</span>

            <div class="chatlog__message " data-message-id="684522669982482614" id="message-684522669982482614">
                <div class="chatlog__content">
                    <span class="markdown">At the other&#39;s introduction, Flayn would meet his enthusiasm with a sweet smile of her own. 

&quot; It truly is a pleasure to meet you as well! My name is Flayn. I admittedly do not have a last name to give either, but I can tell you that Seteth is my big brother. &quot;

With her job mostly complete, Flayn would take a seat on one of the nearby medical beds.

&quot; It seems as if you enjoy your time on the battlefield quite a lot. &quot;</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684523932958588988" id="message-684523932958588988">
                <div class="chatlog__content">
                    <span class="markdown">&quot;Why of course ! It&#39;s a way of testing myself and protecting those I care ! I want to help my friends as much as I want !&quot; He warmfuly grinned towards the two with slight pain of his injuries . &quot;I went down ! But I&#39;m sure my friends got this!&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683906302195269680/d89b67d56bbdc4939b7e47ca36fa5c1c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Emaline#0000" data-user-id="683906302195269680">Emaline</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 05:38 PM</span>

            <div class="chatlog__message " data-message-id="684530127585280053" id="message-684530127585280053">
                <div class="chatlog__content">
                    <span class="markdown">&quot;I&#39;m sure your friends will do great!&quot; Emaline pumped her fist enthusiastically, feeding off of his energy. Then, she came to the somewhat embarrassing realization that she didn&#39;t know what team he was from.

&quot;Umm... Which house are you?&quot; She asked sheepishly</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684530706394775632" id="message-684530706394775632">
                <div class="chatlog__content">
                    <span class="markdown">While Flayn and Emaline tended to the large man, Juniper&#39;s ears perked up, and she started paying attention to their conversation. She told herself it was okay because she was also watching to see what she did to bandage him. As they began making introductions, she approached them, wanting to join in but not really sure if it would be okay.</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684531927805329429" id="message-684531927805329429">
                <div class="chatlog__content">
                    <span class="markdown">Raphael pumped his fist along with her &quot;Golden deer ! Fear the deer ! Haha! We&#39;re the best house there is ! My friends are as great as they can be!&quot; 

Raphael then looked at young juniper who just came . &quot;Hello there ! What&#39;s your name little one ? Mine is Raphael! Pleasure to meet you!&quot;</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684532070101286923" id="message-684532070101286923">
                <div class="chatlog__content">
                    <span class="markdown">&quot;Ah!&quot; Juniper beams up at Raphael. &quot;I&#39;m Juniper. It&#39;s nice to meet you, too! Were you fighting out there? Was it scary?&quot;</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684533617749524529" id="message-684533617749524529">
                <div class="chatlog__content">
                    <span class="markdown">&quot;It sure was...well kinda ! But I believed in myself and did my best ! I&#39;m sure my team can now win ! I believe in Claude , Rowan and Chloe! I&#39;m sure they can do it!&quot;

 He tried to leave the bed , but decided it was for the best to not do so. Mostly when three doctors were watching him.</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684534755248963776" id="message-684534755248963776">
                <div class="chatlog__content">
                    <span class="markdown">As Raphael made even the smallest hint of movement, Flayn puffed her cheeks out and crossed her arms. As if she was ready to push him right back down at any moment. Now that he was here, he was staying so that he could heal.

&quot; Ah, the Golden Deer! They always seem like a very excited group of friends at the dining hall. I am certain they have achieved strong enough bonds to get through! Though, the other two teams are successful in other areas as well. It is always impressive to watch. &quot;

Seeing the young female approach, Flayn would turn her attention to her and grand a smile. 

&quot; Hello Juniper! My name is Flayn, it is wonderful to meet you as well. Please be careful while in here, alright? &quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683906302195269680/31293e7d12512112c3a22b2d2b8b019a.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Raphael Kirsten#0000" data-user-id="683906302195269680">Raphael Kirsten</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 07:02 PM</span>

            <div class="chatlog__message " data-message-id="684551338058973214" id="message-684551338058973214">
                <div class="chatlog__content">
                    <span class="markdown">&quot;You sure I can&#39;t go with one of the doctor ? So that yknow ... I can have fun watching and being overseen so that I cannot do any mistake..?&quot; He scratches his head</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684551834257457159" id="message-684551834257457159">
                <div class="chatlog__content">
                    <span class="markdown">&quot;Nice to meet you, too, Flayn! I&#39;ve seen you around; I used to be an acolyte. But you probably didn&#39;t notice me, heheh,&quot; she responds, scratching the back of the head awkwardly. Then, she looks at Raphael, and back at Flayn. &quot;Hmm... I could go with him?&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683906302195269680/26f7dad2ef3659f314dea1cd93d426a4.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Flayn#0000" data-user-id="683906302195269680">Flayn</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">04-Mar-20 03:51 AM</span>

            <div class="chatlog__message " data-message-id="684684504723488797" id="message-684684504723488797">
                <div class="chatlog__content">
                    <span class="markdown">The girl looked at both Raphael and Juniper. Then her attention would look to Emaline as she was hoping for a secondary opinion. 

She was soft, though. And a sigh would escape her lips. 

“ Ah, well... as long as some sort of healer is along side you I suppose it should not be a horrible problem. However, you must take it easy! Does that sound reasonable, Emaline? “</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683906302195269680/d89b67d56bbdc4939b7e47ca36fa5c1c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Emaline#0000" data-user-id="683906302195269680">Emaline</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">04-Mar-20 06:05 AM</span>

            <div class="chatlog__message " data-message-id="684718084807852032" id="message-684718084807852032">
                <div class="chatlog__content">
                    <span class="markdown">Emaline nodded. “As long as he promises to be careful and listen to Juniper, I don’t see any problem with this.” Juniper was new to this, but Raphael’s injuries weren’t too severe. She was a little worried about how much he had struggled to get up earlier, but it was probably fine, right?</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683906302195269680/31293e7d12512112c3a22b2d2b8b019a.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Raphael Kirsten#0000" data-user-id="683906302195269680">Raphael Kirsten</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">04-Mar-20 06:41 AM</span>

            <div class="chatlog__message " data-message-id="684727169804664853" id="message-684727169804664853">
                <div class="chatlog__content">
                    <span class="markdown">Raphael cheered , getting out of the bed . &quot;Thank you very much, I promise to listen to Juniper!&quot; He smiled , trying to lift Juniper up to his shoulders, only to realise once again that he&#39;s weak and hurt , better not to .</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/172515560846917642/5c702fbbbff2321a26668e41d8ad497a.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Locrius 光复香港#9567" data-user-id="172515560846917642" style="color: #0CF2D4">dimitri alexandre megpoid</span>


        <span class="chatlog__timestamp">05-Mar-20 12:45 AM</span>

            <div class="chatlog__message " data-message-id="685000115010011174" id="message-685000115010011174">
                <div class="chatlog__content">
                    <span class="markdown"><div class="pre pre--multiline nohighlight"> </div></span>

                </div>



            </div>
    </div>
</div>
</div>

<div class="postamble">
    <div class="postamble__entry">Exported 36 message(s)</div>
</div>

</body>
</html>