<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - spectator-stands-2-ch01</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../../../index.html#ch01">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">spectator-stands-2-ch01</div>

            <div class="preamble__entry preamble__entry--small"></div>

    </div>
</div>

<div class="chatlog">
    <div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/15acae05e45ef38a2ff2e3f33c1cf6e2.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Cyril#0000" data-user-id="684207934288560273">Cyril</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 08:18 PM</span>

            <div class="chatlog__message " data-message-id="684207934913511455" id="message-684207934913511455">
                <div class="chatlog__content">
                    <span class="markdown"><em>Cyril wasn&#39;t too interested in watching the mock battle but he finished his jobs for the day and stuff he wasn&#39;t even asked to do so he&#39;s watching the battle. Having nothing better to do, he quietly spectates the match.</em></span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/86b65c7cebf6f4f942fc0fe328c8951c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Hubert Von Vestra#0000" data-user-id="684207934288560273">Hubert Von Vestra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 04:16 PM</span>

            <div class="chatlog__message " data-message-id="684509450068951137" id="message-684509450068951137">
                <div class="chatlog__content">
                    <span class="markdown">When arriving at the stands, Cyril would find Hubert there. Anxiously watching from a distance as he was ensuring his lady was doing alright. He worried dearly for her, and hated that he wasn&#39;t by his side. And though he wouldn&#39;t show that anxiety, his eyes were glued to her and any nearby combatants. Any one who paid close attention could likely tell how he was feeling, even if it was explicitly shown on his face.</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684510026252943394" id="message-684510026252943394">
                <div class="chatlog__content">
                    <span class="markdown">Matilda, moving over to the other stands since it was more vacant, noticed how there was a familiar dark brooding figure with his eyes fixed on a certain someone. &quot;Worried about your majesty, I presume?&quot; she asked, crossing her arms.</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684510320991273068" id="message-684510320991273068">
                <div class="chatlog__content">
                    <span class="markdown"><em>He looked over at Hubert and Matilda when they arrived at the stands, but Cyril didn&#39;t know them or cared enough to say something so he stayed silent and went back to watching the battle.</em></span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/86b65c7cebf6f4f942fc0fe328c8951c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Hubert Von Vestra#0000" data-user-id="684207934288560273">Hubert Von Vestra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 04:27 PM</span>

            <div class="chatlog__message " data-message-id="684512372043677810" id="message-684512372043677810">
                <div class="chatlog__content">
                    <span class="markdown">The mage wasn&#39;t familiar with Cyril, admittedly he didn&#39;t even know his name. He simply knew him as one of Rhea&#39;s dogs, and that&#39;s all that mattered at this point in time. So without proper introduction, Hubert had no need to introduce himself.

As for Matilda, he made the mistake of making himself known to her earlier. So now he was stuck in a conversation he had no intentions of making. 

&quot; I am not worried for her. I know she is fully capable of getting out on her own. &quot;

He wasn&#39;t afraid of simple lies. People didn&#39;t need to know those feelings. Admittedly, he likely didn&#39;t either.</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684512948781449234" id="message-684512948781449234">
                <div class="chatlog__content">
                    <span class="markdown">&quot;Yet I can tell your eyes are fixated on her, and her only,&quot; she pointed out as she sat down next to him, yet still keeping a comfortable distance between them. 

&quot;Nevermind, I&#39;ll leave you be, because I know how much you love to brood,&quot; she chuckled, pulling out the same grimoire she had in the library and continued to read. Really, in the middle of the mock battle?</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/86b65c7cebf6f4f942fc0fe328c8951c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Hubert Von Vestra#0000" data-user-id="684207934288560273">Hubert Von Vestra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 04:55 PM</span>

            <div class="chatlog__message " data-message-id="684519286668394498" id="message-684519286668394498">
                <div class="chatlog__content">
                    <span class="markdown">The mage would turn an eye to Cyril. He was the only other one in their general vicinity, and he was always cautious with others. Especially with a conversation like the one he was having. One that involved his emotions. He couldn&#39;t show those. Especially to a member of the church. 

&quot; It is better that way. &quot;

The cold male would turn his attention to her highness again until he noticed the book.

&quot; Why come here if that is your choice of activity? You will not be learning much if you do not watch. &quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/ec9c02fed55a95d729e694f8416be0eb.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Matilda von Freya#0000" data-user-id="684207934288560273">Matilda von Freya</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 05:14 PM</span>

            <div class="chatlog__message " data-message-id="684524151842668634" id="message-684524151842668634">
                <div class="chatlog__content">
                    <span class="markdown">&quot;Why come here if you&#39;re only watching Edelgard, not watching the other magic users to learn from their mistakes?&quot; she quipped, crossing her legs as she smoothed her pea coat. 

&quot;Besides, reading outdoors is a nice change of pace. To an observer like you, my change in activity will throw you off, no?&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/86b65c7cebf6f4f942fc0fe328c8951c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Hubert Von Vestra#0000" data-user-id="684207934288560273">Hubert Von Vestra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 05:34 PM</span>

            <div class="chatlog__message " data-message-id="684529184319471616" id="message-684529184319471616">
                <div class="chatlog__content">
                    <span class="markdown">He&#39;d certainly been caught there. Normally his lies were very fluid, difficult to notice. But it seems with a normal one like that, he was forced to admit defeat as a small, amused grin crosses over his visage. 

&quot; It seems I&#39;ve been caught. Yes, I am focusing on my lady not because I am worried for her, but because I wish to observe her. That, and I despise the decision they made not to add me to this silly roster. It is my duty to protect her, after all. &quot;

A sigh escaped him. 

&quot; It does not throw me off in the sense that there is a change in the week. I expected as much. Though yes, you could have chosen not to stray from your days. &quot;</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684530297467043867" id="message-684530297467043867">
                <div class="chatlog__content">
                    <span class="markdown">&quot;Of course, you wish to observe her. That&#39;s your duty, of course, as her... consort, if I&#39;m using that word properly,&quot; she couldn&#39;t help but smile at this polite banter, &quot;if it&#39;s so silly, then why do you imply that you wish to join the battlefield with her? I assume you already know this, but you cannot be by her side 24/7.&quot; 

She put her bookmark on her page and closed the grimoire. &quot;I could change up my routine, just to spite you, <em>Hubert von Vestra,</em>&quot; she chuckled, knowing that he doesn&#39;t know her name, or does he? &quot;I wouldn&#39;t go to such lengths though, I will admit that I am a creature of habit.&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/86b65c7cebf6f4f942fc0fe328c8951c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Hubert Von Vestra#0000" data-user-id="684207934288560273">Hubert Von Vestra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 06:06 PM</span>

            <div class="chatlog__message " data-message-id="684537270388523172" id="message-684537270388523172">
                <div class="chatlog__content">
                    <span class="markdown">At her words, Hubert would move his eyes from Edelgard for a moment to correct her words. By definition, she was not using it right, and he had to be sure to correct it. 

&quot; Her servant or vassal. There are many words for it, but I am more often referred to as her servant. And yes while there are many things I cannot do with her, and while I do give her the space she requests, I cannot say I like it. &quot; 

The other&#39;s words were amusing. It was almost like a challenge he decided to accept. 

&quot; And I would notice the changes immediately. &quot;

He could not repeat her name. Because as she thought, he did not care to learn her name either. He should work on that. He was familiar with her last name, but he never bothered to learn the first. 

&quot; And as a creature of habit, it would be more of a pain for you to spit me in such a way. So instead of wasting both of our energy, continue what you are doing. It makes it easier to keep track of, unlike some Black Eagles. &quot;</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684538331333525505" id="message-684538331333525505">
                <div class="chatlog__content">
                    <span class="markdown">She couldn&#39;t help but chuckle at how quick he was to correct her, as if he prided himself on being the ultimate... vassal. &quot;That&#39;s endearing,&quot; she mumbled, to the point of being inaudible, leaning forwards as she began to watch the mock battle and actually pay attention. 

&quot;Of course you would notice the changes immediately, because this could be phrased as, I&#39;m assuming I&#39;ve caught your eye,&quot; she turned to him and smirked as she rested her cheek against her palm. &quot;That wouldn&#39;t be very fun though, but admittedly, you are correct. It would be a bother...&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/86b65c7cebf6f4f942fc0fe328c8951c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Hubert Von Vestra#0000" data-user-id="684207934288560273">Hubert Von Vestra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 09:10 PM</span>

            <div class="chatlog__message " data-message-id="684583477483667456" id="message-684583477483667456">
                <div class="chatlog__content">
                    <span class="markdown">Hubert would look to her quizzically. She was odd. Though others did choose to mess with him due to his stoic nature, they often didn’t say these things. 

“ Consider it what you wish, but I wouldn’t necessarily say that. “

He leaned back, perhaps he’d calmed down a bit but he was no longer looking to Matilda. He was looking at Edelgard once again. Every move she made was imperative to watch. 

“ You are from a noble household... If I recall correctly, it was the Freya household. I don’t recall <em>your</em> name, though. “</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/ec9c02fed55a95d729e694f8416be0eb.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Matilda von Freya#0000" data-user-id="684207934288560273">Matilda von Freya</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">04-Mar-20 06:11 AM</span>

            <div class="chatlog__message " data-message-id="684719577288278016" id="message-684719577288278016">
                <div class="chatlog__content">
                    <span class="markdown">She stared at the fields, eyes fixated on a certain someone before she snapped out of her trance. She watched over Dorothea, knowing she wielded the blade and reason just like herself. 

&quot;My name?&quot; she paused for a moment, wondering if she should just give him her name. <em>Where would be the fun in that? And he probably has the wits to realize that I&#39;m not... their biological daughter. Shit, is Hubert racist???</em> 

&quot;It&#39;s Matilda. Matilda von Freya.&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/86b65c7cebf6f4f942fc0fe328c8951c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Hubert Von Vestra#0000" data-user-id="684207934288560273">Hubert Von Vestra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">04-Mar-20 08:35 AM</span>

            <div class="chatlog__message " data-message-id="684755857744986132" id="message-684755857744986132">
                <div class="chatlog__content">
                    <span class="markdown">As of now, the mage had no reason to to worry. Edelgard was farther back and the Black Eagles were the only team with four members left. He had no reason to feel triumphant yet, but she was safe for a minute, and she was aligning herself strategically.  He was comfortable knowing that. 

“ Matilda... “

He muttered lowly as he tried to remember. Such a name would be irrelevant to him. 

“ I tend to forget the names of insignificant people. “

He turned his eye to her once again. 

“ But I end up forced to remember the annoying ones as well. “

With that, he went quiet, eyes following to see just where everyone would move next.</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/ec9c02fed55a95d729e694f8416be0eb.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Matilda von Freya#0000" data-user-id="684207934288560273">Matilda von Freya</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">04-Mar-20 08:49 AM</span>

            <div class="chatlog__message " data-message-id="684759354062274588" id="message-684759354062274588">
                <div class="chatlog__content">
                    <span class="markdown">&quot;I wouldn&#39;t blame you, I hope it stays that way then,&quot; she sighed, with her hands folded in her lap. She was only <em>slightly</em> offended by his remark. 

&quot;If I really bother you that much, I&#39;ll make myself scare then,&quot; she whispered, standing up and pocketed her grimoire. He wouldn&#39;t care, he <em>shouldn&#39;t</em> care, and... she was content with that idea. &quot;I hope you&#39;re content with yourself, Hubert.&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/86b65c7cebf6f4f942fc0fe328c8951c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Hubert Von Vestra#0000" data-user-id="684207934288560273">Hubert Von Vestra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">04-Mar-20 11:07 AM</span>

            <div class="chatlog__message " data-message-id="684794080672219254" id="message-684794080672219254">
                <div class="chatlog__content">
                    <span class="markdown">Hubert was cold. Even Edelgard would attest that even if you get to know him he is quite cold. But until that&#39;s understood by someone, he was difficult to get along with. He didn&#39;t mind that. He had lived with just his duties and this school wasn&#39;t going to change that. 

&quot; Should I not be? &quot;

He asked, his eyebrow raising towards the other.</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/ec9c02fed55a95d729e694f8416be0eb.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Matilda von Freya#0000" data-user-id="684207934288560273">Matilda von Freya</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">04-Mar-20 11:47 AM</span>

            <div class="chatlog__message " data-message-id="684804185505529880" id="message-684804185505529880">
                <div class="chatlog__content">
                    <span class="markdown">Hubert has eyebrows??? Wack. &quot;Why ask someone like me? I cannot control how you feel, nor can I persuade you to be amicable. I&#39;m unsure if being friendly is in your nature, but what do I know? It&#39;s exactly as you say: I&#39;m an insignificant noble, from a forgettable house who doesn&#39;t even own territory.&quot; 

She paused to catch her breath. &quot;And you&#39;re right once again. I shouldn&#39;t have come here if I&#39;m just here to waste time and banter with the likes of you.&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/86b65c7cebf6f4f942fc0fe328c8951c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Hubert Von Vestra#0000" data-user-id="684207934288560273">Hubert Von Vestra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">04-Mar-20 12:11 PM</span>

            <div class="chatlog__message " data-message-id="684810209314865217" id="message-684810209314865217">
                <div class="chatlog__content">
                    <span class="markdown">It was more so the movement of the muscles. There&#39;s very, very thin hair there, but he&#39;s always &#39;brooding&#39;, so it&#39;s seldom their seen moving from their spot.

She must have been offended. That wasn&#39;t something that he&#39;d care to deal with. He judged without emotion and when those judgements were responded to <em>with</em> emotion, he didn&#39;t necessarily have ways of responding to it. Thus, he was not insulted by anything you said. He kept a serious face.

&quot; Those weren&#39;t my words, but you may think what you want. &quot;

Edelgard had his full, visual attention once again.

&quot; You&#39;d waste a trip and lose valuable knowledge if you storm off simply because of some words and tedious emotional issues. Second members of a house and those with low status can still have some sort of use to her highness in the long run if they do not waste their themselves as most do. &quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/ec9c02fed55a95d729e694f8416be0eb.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Matilda von Freya#0000" data-user-id="684207934288560273">Matilda von Freya</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">04-Mar-20 01:29 PM</span>

            <div class="chatlog__message " data-message-id="684829905774575640" id="message-684829905774575640">
                <div class="chatlog__content">
                    <span class="markdown">&quot;I am not <em>here</em>,&quot; she snarked, her voice quivering on the word here, &quot;to prove to lady Edelgard my worth. If she finds me useful in the end, then good for her.&quot; She looked like she was on the brink of tears, but wiped away the tears forming on the corners of her eyes with the pads of her middle fingers and inhaled sharply before sitting back down. 

&quot;You are absolutely right once again Hubert. I wonder how you do it,&quot; she chuckled, her voice laced with sarcasm. &quot;You seem to know what&#39;s best for me too, really, how <em>do</em> you do it?&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/86b65c7cebf6f4f942fc0fe328c8951c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Hubert Von Vestra#0000" data-user-id="684207934288560273">Hubert Von Vestra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">04-Mar-20 01:41 PM</span>

            <div class="chatlog__message " data-message-id="684832978244861994" id="message-684832978244861994">
                <div class="chatlog__content">
                    <span class="markdown">Was she crying? He could somewhat see the reaction in the corner of his eyes. But not enough to care or respond. If anyone wanted sympathy, they were in the wrong place. 

Yet, despite her annoyance with him, her feelings, and her continued sarcasm, she <em>still</em> sat down? Emotions were odd. People were odd. Each one different and problematic in their own way. 

&quot; I am surprised you&#39;re still here. &quot;

He stated coldly. He wasn&#39;t asking her to go away, it was simply an observation. 

&quot; Most would have left by now. You are most certainly odd. &quot;

He&#39;d sigh softly. Her sarcastic remarks did not hit and ended up being ultimately ignored by him.</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/338222603829510164/8bad27805fc08bce77f4e7277cd7c902.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Atlas#2867" data-user-id="338222603829510164">Atlas</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">04-Mar-20 02:00 PM</span>

            <div class="chatlog__message " data-message-id="684837609184428034" id="message-684837609184428034">
                <div class="chatlog__content">
                    <span class="markdown">Congratulations <span class="mention" title="algae#1938">@Matilda | Balthus | Percy (Gale)</span>! You just advanced to <strong>level 8</strong>!</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/ec9c02fed55a95d729e694f8416be0eb.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Matilda von Freya#0000" data-user-id="684207934288560273">Matilda von Freya</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">04-Mar-20 02:00 PM</span>

            <div class="chatlog__message " data-message-id="684837610572873778" id="message-684837610572873778">
                <div class="chatlog__content">
                    <span class="markdown">&quot;Well, the mock battle is still going. I should learn from their mistakes, like you recommended,&quot; she scoffed, fixated on the battle before her mind wanders, unable to focus. &quot;This is... a valuable learning opportunity, and it&#39;d be a waste to not pay attention.&quot; 

Secretly, she wanted this entire mock battle to be over already. Then she could return to the monastery, and continue her menial, mindless routine: clean her room, study at the library, train, forget her meals, the like. &quot;And if most would have left by now, then it is... ironic, for you to remain.&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/86b65c7cebf6f4f942fc0fe328c8951c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Hubert Von Vestra#0000" data-user-id="684207934288560273">Hubert Von Vestra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">04-Mar-20 02:09 PM</span>

            <div class="chatlog__message " data-message-id="684840038965444620" id="message-684840038965444620">
                <div class="chatlog__content">
                    <span class="markdown">Hubert nodded in agreement to what she was saying. At the very least she figured that out. Perhaps one day she could prove useful to him, but something as small as this will not make that day today. 

&quot; I see no reason for me to leave. I have a good position and view of what I need to see and there are very few here. Leaving would have been useless. &quot;</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684841686743908352" id="message-684841686743908352">
                <div class="chatlog__content">
                    <span class="markdown">&quot;I assume you could be doing something better with your time, but it seems...&quot; she trailed off, knowing that she would be merely rebuked or ignored by Hubert. It was difficult to maintain a cordial conversation with someone like him, anyways. 

&quot;Then are you here to support Her Highness, and her only? Not even supporting our fellow classmates?&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/86b65c7cebf6f4f942fc0fe328c8951c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Hubert Von Vestra#0000" data-user-id="684207934288560273">Hubert Von Vestra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">04-Mar-20 02:24 PM</span>

            <div class="chatlog__message " data-message-id="684843655088832520" id="message-684843655088832520">
                <div class="chatlog__content">
                    <span class="markdown">The male would let out a long sigh if he had any intent of showing emotion. But he did not. Instead he just remained quiet until a question was posed to him. Which, unfortunate as it was, a question did indeed come out of her lips. 

&quot; I am here to watch Lady Edelgard and ensure her safety. &quot; 

He started. There was a small pause, but he&#39;d continue, having more to say on the matter.

&quot; However, I am observing the others. Seeing their strengths and weaknesses. It will be my job in the future to aid my lady, and that could even mean war strategy. So, I believe it is best to know their strengths and weaknesses on the battlefield. So essentially, yes, it is all for her. But, I am not only looking to her. &quot;</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684844380162621558" id="message-684844380162621558">
                <div class="chatlog__content">
                    <span class="markdown">&quot;Ensure her safety? But you cannot even intervene--&quot; she caught herself, knowing that&#39;s not what he meant. &quot;I see. I don&#39;t think I&#39;m in the position to say this, but I&#39;ll say it anyways: wouldn&#39;t it be easier to know their strengths and weaknesses by befriending them? Maybe they&#39;ll open up to you more, and you&#39;ll learn more from them, like their secrets and all,&quot; she suggested, wholeheartedly knowing that he would disagree.</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684845476972986379" id="message-684845476972986379">
                <div class="chatlog__content">
                    <span class="markdown">Hubert could shoot magic. He could teleport. He could take an attack without needing to be so close. His magic was strong, but for now, he kept the extent of that to himself. Whatever she could think of, he likely would do it if it meant her safety. 

As expected, the mage would immediately disagree. Shaking his head softly.

&quot; Doing such a thing would mean becoming emotionally invested in multiple people. I prefer to judge without emotion or bias. I much prefer analyzing from a distance. &quot;

He started. Edelgard was safe for now, so again he could look to his &#39;new friend&#39;.

&quot; I don&#39;t see such a method working. &quot;</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684847076919607314" id="message-684847076919607314">
                <div class="chatlog__content">
                    <span class="markdown">Wow, Hubert thinks she&#39;s a friend? Touching, in all honesty. &quot;Well, you never know until you try, but I cannot control you,&quot; she sighed, staring back at the battlefield with her eyes fixated on a certain someone. 

&quot;Oh, how I wish to be swept off my feet,&quot; she sighed dreamily, then realized Hubert was still next to her. He didn&#39;t hear that, right? She immediately pursed her lips, pretending to be quiet the entire time.</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/566807082540597258/a_86937f878d8efd7f210342518558da6e.gif" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Emperor Stick#7745" data-user-id="566807082540597258" style="color: #63B8FF">Stick</span>


        <span class="chatlog__timestamp">04-Mar-20 02:38 PM</span>

            <div class="chatlog__message " data-message-id="684847165184540706" id="message-684847165184540706">
                <div class="chatlog__content">
                    <span class="markdown">(Spicy~)</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/630892271042035743/023f158522838d04a127dc05637593e2.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Vi#2798" data-user-id="630892271042035743" style="color: #91219E">Stacy! ₍ᐢ.ˬ.⑅ᐢ₎</span>


        <span class="chatlog__timestamp">04-Mar-20 02:39 PM</span>

            <div class="chatlog__message " data-message-id="684847479107354738" id="message-684847479107354738">
                <div class="chatlog__content">
                    <span class="markdown">|| That’s when Hubert just uses wind magic to make her just flip over 

If only he had those abilities and humor</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/86b65c7cebf6f4f942fc0fe328c8951c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Hubert Von Vestra#0000" data-user-id="684207934288560273">Hubert Von Vestra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">04-Mar-20 02:44 PM</span>

            <div class="chatlog__message " data-message-id="684848861231054875" id="message-684848861231054875">
                <div class="chatlog__content">
                    <span class="markdown">Oh he absolutely does not. But shes certainly sticking around as if she is one. At this point, Hubert didn&#39;t have any friends. He didn&#39;t need or want any. He was content with Edelgard being the center of his focus. 

&quot; I will not be trying. &quot;

Seeing her attention on someone, as his own was, he&#39;d try to see what she was looking at. Curious to see who and what could be distracting her so much. 

&quot; Waiting to be swept off your feet is going to leave your tired from standing. &quot;

He wouldn&#39;t indulge in his curiosity by asking. But he&#39;d try to follow her gaze. Who ever was she staring at?</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684849741154353202" id="message-684849741154353202">
                <div class="chatlog__content">
                    <span class="markdown">&quot;What? I didn&#39;t say anything,&quot; she insisted, trying to change the topic so she wouldn&#39;t embarrass herself. She <em>knew</em> that something as silly as that was incredibly impractical, but it haunted her in her wildest fantasies, the idea of being worthy enough... she shook the thought out of her head and slumped forwards. 

&quot;I should spend my time devoted to training and studying, not something as... foolish, as that,&quot; she muttered to herself while rubbing her temples. Crap, did she say that aloud?</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/86b65c7cebf6f4f942fc0fe328c8951c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Hubert Von Vestra#0000" data-user-id="684207934288560273">Hubert Von Vestra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">04-Mar-20 02:56 PM</span>

            <div class="chatlog__message " data-message-id="684851868731703316" id="message-684851868731703316">
                <div class="chatlog__content">
                    <span class="markdown">The mage was done trying to see who she was looking at. Whoever it was, they were on the field and that&#39;s all that mattered. Part of him expected it to be Ferdinand. Or perhaps even Dimitri. Ladies who wanted to be swept off their feet often wanted it to be by some sort of prince or someone who acts like they are distinguished as one. That, and he wasn&#39;t entirely familiar with everyone there. So he left his assumptions at that. 

&quot; I can hear you, you know. &quot;

Hubert acknowledged that everyone had a dream of sorts. Even he had thoughts that he would repress for the sake of himself. But if they were achievable or not... it was debatable. Life played in odd ways. And so he wouldn&#39;t yet judge her on her own.</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684853220321132545" id="message-684853220321132545">
                <div class="chatlog__content">
                    <span class="markdown">&quot;Yes, I assumed as much,&quot; she grumbled, leaving it at that. She wouldn&#39;t talk anymore about this princely nonsense, it would save herself the headache (and heartache), plus she shouldn&#39;t be muttering crazed words to herself or else she might get sent to the infirmary. And that&#39;s the <em>last</em> place she&#39;d want to end up. 

So she quieted down, sitting in comfortable silence, watching the mock battle while warming her hands in her pockets. <em>Maybe if someone held them to keep them warm... no, that&#39;s scandalous! Premarital hand holding is blasphemous!</em></span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/172515560846917642/5c702fbbbff2321a26668e41d8ad497a.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Locrius 光复香港#9567" data-user-id="172515560846917642" style="color: #0CF2D4">dimitri alexandre megpoid</span>


        <span class="chatlog__timestamp">04-Mar-20 03:05 PM</span>

            <div class="chatlog__message " data-message-id="684853953795457024" id="message-684853953795457024">
                <div class="chatlog__content">
                    <span class="markdown">//NO HANDHOLDING ALLOWED</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/630892271042035743/023f158522838d04a127dc05637593e2.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Vi#2798" data-user-id="630892271042035743" style="color: #91219E">Stacy! ₍ᐢ.ˬ.⑅ᐢ₎</span>


        <span class="chatlog__timestamp">04-Mar-20 03:06 PM</span>

            <div class="chatlog__message " data-message-id="684854228388544558" id="message-684854228388544558">
                <div class="chatlog__content">
                    <span class="markdown">|| PFFFFFFFFFT</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/188867207235764224/2644d84e65c1e433aeb1d50c4aa39087.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Jake_zero#2157" data-user-id="188867207235764224">Jake_zero</span>


        <span class="chatlog__timestamp">04-Mar-20 03:06 PM</span>

            <div class="chatlog__message " data-message-id="684854411264131150" id="message-684854411264131150">
                <div class="chatlog__content">
                    <span class="markdown">(ILLEGAL AND LEWD)</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/593088164512399360/63a15d7fbfa337cdc7bceefb246aee14.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="padm&#233;#4140" data-user-id="593088164512399360" style="color: #E07476">padm&#233;</span>


        <span class="chatlog__timestamp">04-Mar-20 03:09 PM</span>

            <div class="chatlog__message " data-message-id="684855114070097998" id="message-684855114070097998">
                <div class="chatlog__content">
                    <span class="markdown">//JESUS</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/86b65c7cebf6f4f942fc0fe328c8951c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Hubert Von Vestra#0000" data-user-id="684207934288560273">Hubert Von Vestra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">04-Mar-20 04:30 PM</span>

            <div class="chatlog__message " data-message-id="684875502057685063" id="message-684875502057685063">
                <div class="chatlog__content">
                    <span class="markdown">With the new found silence, Hubert was enjoying it. It left him to his thoughts on the battle. He&#39;d notice every stance and see where other&#39;s lacked, and as the teams started growing closer together, he knew there was more members that were to go down. He just hoped it wasn&#39;t Edelgard.

Noticing how chilly the other was, Hubert would do absolutely nothing for her. Though, it did leave him thinking about his highness. He had quite the one track mind when she was in potential danger. Hubert&#39;s main setting was to protect and assist, no matter what it was. And such little things seemed trivial to most, but to him they meant the world.

Though, even if the Matilda and him weren&#39;t touching, and were barely near each other, it was still a bit warmer with company. Someway, somehow.</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/ec9c02fed55a95d729e694f8416be0eb.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Matilda von Freya#0000" data-user-id="684207934288560273">Matilda von Freya</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">04-Mar-20 04:38 PM</span>

            <div class="chatlog__message " data-message-id="684877522370035816" id="message-684877522370035816">
                <div class="chatlog__content">
                    <span class="markdown">She tried to avoid being distracted by other chores and tasks, like cleaning her room... what&#39;s the point of cleaning your room if you already keep it so neat and tidy, though? She sighed as she slipped her arms through the sleeves of her coat and rubbed circles around her eyes. 

<em>I wonder what he&#39;s thinking right now... probably Edelgard, that&#39;s the only thing that matters to him at this point. I should be focusing on myself, damn it, instead of others. Why should I care about Hubert if he doesn&#39;t care about me?</em></span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684207934288560273/86b65c7cebf6f4f942fc0fe328c8951c.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Hubert Von Vestra#0000" data-user-id="684207934288560273">Hubert Von Vestra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">05-Mar-20 09:24 AM</span>

            <div class="chatlog__message " data-message-id="685130654740119587" id="message-685130654740119587">
                <div class="chatlog__content">
                    <span class="markdown">The two sat silently at the battle waged on. He hadn&#39;t worried anymore of what she was doing or thinking- at this point in time he only found her interesting to put it lightly. Which is better than most.

 She would be correct in thinking that Edelgard was the pain point on his mind. As enemies grew near his hand began to fidget a bit, ready to cast a spell at any moment. 

But then, the bell of success was rung. And with Seteth&#39;s words, Hubert would adjust his posture and prepare to leave. 

&quot; That&#39;s that, then. You can continue with your regular schedule. Perhaps you learned something. &quot;

And with that, the mage would turn, immediately leaving this area to walk to Edelgard. He wouldn&#39;t have another moment where he wasn&#39;t by her side.</span>

                </div>



            </div>
    </div>
</div>
</div>

<div class="postamble">
    <div class="postamble__entry">Exported 42 message(s)</div>
</div>

</body>
</html>