<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - training-grounds-ch01</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../../../static/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }
    </script>
</head>
<body>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" />
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">training-grounds-ch01</div>

            <div class="preamble__entry preamble__entry--small"></div>

    </div>
</div>

<div class="chatlog">
    <div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/236535975197540352/ab1f873bc7baa6f9354ceb2e03d57db9.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Spaghetti#0518" data-user-id="236535975197540352" style="color: #DB407F">Gremlin Cyril</span>


        <span class="chatlog__timestamp">02-Mar-20 04:01 PM</span>

            <div class="chatlog__message " data-message-id="684143342975844455" id="message-684143342975844455">
                <div class="chatlog__content">
                    <span class="markdown">(traning grounds)</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/163109952917864448/a5df3248ea6d356933538dad85becdf6.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="halberd.#0776" data-user-id="163109952917864448" style="color: #63B8FF">halberd.</span>


        <span class="chatlog__timestamp">02-Mar-20 04:03 PM</span>

            <div class="chatlog__message " data-message-id="684143812314267864" id="message-684143812314267864">
                <div class="chatlog__content">
                    <span class="markdown">(tra i      n)</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684143842391621709" id="message-684143842391621709">
                <div class="chatlog__content">
                    <span class="markdown">(choo choo)</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/236535975197540352/ab1f873bc7baa6f9354ceb2e03d57db9.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Spaghetti#0518" data-user-id="236535975197540352" style="color: #DB407F">Gremlin Cyril</span>


        <span class="chatlog__timestamp">02-Mar-20 04:04 PM</span>

            <div class="chatlog__message " data-message-id="684144046687518854" id="message-684144046687518854">
                <div class="chatlog__content">
                    <span class="markdown">(it says traning grounds not training grounds, I was just pointing out a typo)</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/358788505012404225/54b14bf056d0d763483baa33954bf8a2.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="edelgard von hresvelg#6432" data-user-id="358788505012404225" style="color: #79CDCD">mercedes von martritz</span>


        <span class="chatlog__timestamp">02-Mar-20 04:04 PM</span>

            <div class="chatlog__message " data-message-id="684144169278767207" id="message-684144169278767207">
                <div class="chatlog__content">
                    <span class="markdown">(LOL its the best part)</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/236535975197540352/ab1f873bc7baa6f9354ceb2e03d57db9.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Spaghetti#0518" data-user-id="236535975197540352" style="color: #DB407F">Gremlin Cyril</span>


        <span class="chatlog__timestamp">02-Mar-20 04:04 PM</span>

            <div class="chatlog__message " data-message-id="684144196772560947" id="message-684144196772560947">
                <div class="chatlog__content">
                    <span class="markdown">(PFFFT)</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/358788505012404225/54b14bf056d0d763483baa33954bf8a2.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="edelgard von hresvelg#6432" data-user-id="358788505012404225" style="color: #79CDCD">mercedes von martritz</span>


        <span class="chatlog__timestamp">02-Mar-20 04:04 PM</span>

            <div class="chatlog__message " data-message-id="684144208919003143" id="message-684144208919003143">
                <div class="chatlog__content">
                    <span class="markdown">(tranin!)</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/188867207235764224/2644d84e65c1e433aeb1d50c4aa39087.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Jake_zero#2157" data-user-id="188867207235764224">Jake_zero</span>


        <span class="chatlog__timestamp">02-Mar-20 04:05 PM</span>

            <div class="chatlog__message " data-message-id="684144256931201142" id="message-684144256931201142">
                <div class="chatlog__content">
                    <span class="markdown">(Gotta start TRANING)</span>

                        <span class="chatlog__edited-timestamp" title="02-Mar-20 04:05 PM">(edited)</span>
                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/593088164512399360/63a15d7fbfa337cdc7bceefb246aee14.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="padm&#233;#4140" data-user-id="593088164512399360" style="color: #E07476">padm&#233;</span>


        <span class="chatlog__timestamp">02-Mar-20 04:05 PM</span>

            <div class="chatlog__message " data-message-id="684144294830800939" id="message-684144294830800939">
                <div class="chatlog__content">
                    <span class="markdown">// <img class="emoji " alt="🧹" title="🧹" src="https://twemoji.maxcdn.com/2/72x72/1f9f9.png" /></span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684144349935566848" id="message-684144349935566848">
                <div class="chatlog__content">
                    <span class="markdown">//SHOO</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/163109952917864448/a5df3248ea6d356933538dad85becdf6.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="halberd.#0776" data-user-id="163109952917864448" style="color: #63B8FF">halberd.</span>


        <span class="chatlog__timestamp">02-Mar-20 04:05 PM</span>

            <div class="chatlog__message " data-message-id="684144371989479433" id="message-684144371989479433">
                <div class="chatlog__content">
                    <span class="markdown">no//</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/188867207235764224/2644d84e65c1e433aeb1d50c4aa39087.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Jake_zero#2157" data-user-id="188867207235764224">Jake_zero</span>


        <span class="chatlog__timestamp">02-Mar-20 04:05 PM</span>

            <div class="chatlog__message " data-message-id="684144388502454302" id="message-684144388502454302">
                <div class="chatlog__content">
                    <span class="markdown">(;-; bulli!)</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/593088164512399360/63a15d7fbfa337cdc7bceefb246aee14.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="padm&#233;#4140" data-user-id="593088164512399360" style="color: #E07476">padm&#233;</span>


        <span class="chatlog__timestamp">02-Mar-20 04:05 PM</span>

            <div class="chatlog__message " data-message-id="684144427845025865" id="message-684144427845025865">
                <div class="chatlog__content">
                    <span class="markdown">//can I kick halberd</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/358788505012404225/54b14bf056d0d763483baa33954bf8a2.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="edelgard von hresvelg#6432" data-user-id="358788505012404225" style="color: #79CDCD">mercedes von martritz</span>


        <span class="chatlog__timestamp">02-Mar-20 04:05 PM</span>

            <div class="chatlog__message " data-message-id="684144458476027956" id="message-684144458476027956">
                <div class="chatlog__content">
                    <span class="markdown">(Fixed</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684146710586458136/a2e7dc25e1e8a63409c0f0ec288a7991.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Layla von Alyss#0000" data-user-id="684146710586458136">Layla von Alyss</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 04:14 PM</span>

            <div class="chatlog__message " data-message-id="684146711169597551" id="message-684146711169597551">
                <div class="chatlog__content">
                    <span class="markdown"><em>Layla is here at the <s>traning</s> training grounds. Mainly practicing her sword skills against a training dummy. She is going to be participating in the mock battle later today and she wanted to make sure that she wasn&#39;t rusty with her sword skills.</em></span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684146710586458136/77c619eebbbd899b2b79c1cb42b5e6b2.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Byleth Eisner#0000" data-user-id="684146710586458136">Byleth Eisner</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 05:25 PM</span>

            <div class="chatlog__message " data-message-id="684164562240798782" id="message-684164562240798782">
                <div class="chatlog__content">
                    <span class="markdown">“Ready for the mock battle, Layla?” 

Byleth entered the training grounds with a sword of his own, his cool and collected look hiding some excitement underneath. When he and his sister were appointed as professors, it was like a slap in the face. It didn’t truly feel real until now, and with that came the responsibility of keeping his students in check. “If you have any questions, feel free to ask.&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684146710586458136/a2e7dc25e1e8a63409c0f0ec288a7991.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Layla von Alyss#0000" data-user-id="684146710586458136">Layla von Alyss</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 05:42 PM</span>

            <div class="chatlog__message " data-message-id="684168728757141580" id="message-684168728757141580">
                <div class="chatlog__content">
                    <span class="markdown">&quot;I&#39;m more than ready, Professor!&quot; <em>Layla looked over at Byleth with a confident smile on her face.</em> &quot;I&#39;m just brushing up my sword skills a bit before the mock battle cause I can&#39;t always rely on magic.&quot;</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684146710586458136/77c619eebbbd899b2b79c1cb42b5e6b2.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Byleth Eisner#0000" data-user-id="684146710586458136">Byleth Eisner</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 05:57 PM</span>

            <div class="chatlog__message " data-message-id="684172521901260813" id="message-684172521901260813">
                <div class="chatlog__content">
                    <span class="markdown">Byleth nodded in agreement, &quot;Correct, especially since you can only do so much magic before you exhaust yourself greatly.&quot; He had high hopes for his students, &quot;Now then, shall we get going?&quot;</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="684173380525752383" id="message-684173380525752383">
                <div class="chatlog__content">
                    <span class="markdown">&quot;Get going? It&#39;s mock battle time already? Wow, I guess I lost track of time.&quot; <em>Layla said before letting out a small laugh.</em> &quot;Not much I can do about that huh? Yeah, let&#39;s get going Professor! We don&#39;t wanna show up late!&quot; <em>She continued talking in a cheery voice.</em></span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/172515560846917642/5c702fbbbff2321a26668e41d8ad497a.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Locrius 光复香港#9567" data-user-id="172515560846917642" style="color: #0CF2D4">dimitri alexandre megpoid</span>


        <span class="chatlog__timestamp">05-Mar-20 12:46 AM</span>

            <div class="chatlog__message " data-message-id="685000146572148736" id="message-685000146572148736">
                <div class="chatlog__content">
                    <span class="markdown"><div class="pre pre--multiline nohighlight"> </div></span>

                </div>



            </div>
    </div>
</div>
</div>

<div class="postamble">
    <div class="postamble__entry">Exported 20 message(s)</div>
</div>

</body>
</html>