<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - turtle-pond-ch01</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../../../index.html#ch01">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">turtle-pond-ch01</div>

            <div class="preamble__entry preamble__entry--small"></div>

    </div>
</div>

<div class="chatlog">
    <div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684118875058470918/0f6f7044c3f9fa0cd925fca1bb19fa3d.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Dimitri Alexandre Blaiddyd#0000" data-user-id="684118875058470918">Dimitri Alexandre Blaiddyd</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 02:24 PM</span>

            <div class="chatlog__message " data-message-id="684118888195031046" id="message-684118888195031046">
                <div class="chatlog__content">
                    <span class="markdown">What exactly was The Archbishop trying to accomplish with such...frivolities? Dimitri sat at the foot of the pond, his reflection peering back at him as the strange creatures poked their heads in and out of the water. Their beady little eyes staring back at him every so often. It was strange, yes, but he could see the appeal after a while. Some company, human or not, was always appreciated. But just why? Would the company of the animals truly help with the upcoming test? Dimitri sighed, leaning back as the animals continued to laze about. <em>Should I….really be spending my time here….</em>

The battle was creeping up on them by the minute. As the realization started to seep in, Dimitri stood back up, waving rather awkwardly at the rippling water. “I...better be going now. Some more training wouldn’t hurt, would it? Well, goodbye!” The view was almost pathetic, the prince expecting a response from something that mindlessly peered up for food. With another silent sigh, he made his way for the exit. That is until a loud thud sent him toppling back. He winced a little before he realized what he had done. “Gh-! I….Ah! I&#39;m so sorry!”</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684118875058470918/7f00b1ddf0784ff7bb3fa5c4787e48f4.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Emilie Pfeiffer#0000" data-user-id="684118875058470918">Emilie Pfeiffer</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 02:56 PM</span>

            <div class="chatlog__message " data-message-id="684127116073107456" id="message-684127116073107456">
                <div class="chatlog__content">
                    <span class="markdown">Emilie, like Dimitri, was a bit confused on why the monastery had something so...trivial. It was like...a taunt. She knew that being here was anything <em>but</em> calming. Frowning slightly, the blonde girl rested her chin upon her knees. 

Oh well, it was nice to just watch as the small creatures bobbed around, reminded her a bit of home...she didn’t live far from a pond. But that was before. Before everything....the fire. 

Emilie’s face darkened, but she didn’t have much time to dwell as someone knocked her over. Grunting, she practically face planted into the ground with a yelp. Scrambling to sit back on her hind legs with a slight glare. 

Oh. It’s Dimitri. She relaxed slightly, not really have spoken to him before, but there was an aura to him that made her feel a bit more comfortable. A sliding understanding.</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684118875058470918/0f6f7044c3f9fa0cd925fca1bb19fa3d.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Dimitri Alexandre Blaiddyd#0000" data-user-id="684118875058470918">Dimitri Alexandre Blaiddyd</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 05:51 PM</span>

            <div class="chatlog__message " data-message-id="684171092096450585" id="message-684171092096450585">
                <div class="chatlog__content">
                    <span class="markdown">Was that the...the girl from his class? His face turned red with embarrassment. Had she just, seen him talk to the animals? Flustered, yet still trying to retain his composure he quickly made sure if she was okay. His hands shakily patted her back.

“A-are you OKAY?!” His voice completely betraying his look, “I’m incredibly SORRY I-I really have to go! I’ll make it up to you later I promise, I- BYE!”

Dimitri left rather quickly, and when he did his face was as red as an apple. Out of all the things that could have happened to him before the battle, this had to have been the worst.</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/172515560846917642/5c702fbbbff2321a26668e41d8ad497a.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Locrius 光复香港#9567" data-user-id="172515560846917642" style="color: #0CF2D4">dimitri alexandre megpoid</span>


        <span class="chatlog__timestamp">05-Mar-20 12:45 AM</span>

            <div class="chatlog__message " data-message-id="685000066045706240" id="message-685000066045706240">
                <div class="chatlog__content">
                    <span class="markdown"><div class="pre pre--multiline nohighlight"> </div></span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684118875058470918/0818af13c6111cfceb7560e0dcc9dc14.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Zegrath Blackwood#0000" data-user-id="684118875058470918">Zegrath Blackwood</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">05-Mar-20 12:55 AM</span>

            <div class="chatlog__message " data-message-id="685002420194902022" id="message-685002420194902022">
                <div class="chatlog__content">
                    <span class="markdown">&quot;-and geez, that whole battle was hard fought, I wish I was in it but I&#39;m glad I saw it!&quot; He was still talking with Thyra, but he looked at the area. What a wonderful looking place they have come upon! His words trail off as he just looks at the little pond with his cute little smile</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/684118875058470918/8abbec9141e20cde1f81c1f2d1eab394.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Thyra Iphigenia Mateus#0000" data-user-id="684118875058470918">Thyra Iphigenia Mateus</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">05-Mar-20 01:03 AM</span>

            <div class="chatlog__message " data-message-id="685004513962098689" id="message-685004513962098689">
                <div class="chatlog__content">
                    <span class="markdown">&quot;I know, right? I&#39;m so excited to get to start on real missions! I wonder if the houses will get to work together on any; I think it would be really cool to fight alongside our other classmates instead of against them.&quot; Thyra pulls out a picnic blanket and lays it down beside the pond, then sits down with the basket as she speaks. &quot;After all, ideally the nations of Fodlan band together to fight off invaders, even if we&#39;re all run a little bit differently.&quot;</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="685005293880475681" id="message-685005293880475681">
                <div class="chatlog__content">
                    <span class="markdown">“Oh yeah that would be super cool!” He looks to the blanket she just flipped out. “... I’ve uh... never been invited to anything before, I hope I don’t do anything wrong, hehe” He smiles and he nervously giggles. He didn’t know what made her want to hang out with <em>him</em> of all people, but he won’t question it right now</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/358788505012404225/54b14bf056d0d763483baa33954bf8a2.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="edelgard von hresvelg#6432" data-user-id="358788505012404225" style="color: #79CDCD">mercedes von martritz</span>


        <span class="chatlog__timestamp">05-Mar-20 02:17 AM</span>

            <div class="chatlog__message " data-message-id="685023176723529768" id="message-685023176723529768">
                <div class="chatlog__content">
                    <span class="markdown"><div class="pre pre--multiline nohighlight">MOVED</div></span>

                </div>



            </div>
    </div>
</div>
</div>

<div class="postamble">
    <div class="postamble__entry">Exported 8 message(s)</div>
</div>

</body>
</html>