<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - ch01-mission-overview</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../landing.html">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">chapter-overview-ch01</div>

            <div class="preamble__entry preamble__entry--small"></div>

    </div>
</div>

<div class="chatlog">
    <div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683439500848005157/51d4b3b69ad8d2a5446582e8a52a4db5.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Rhea Bot#0000" data-user-id="683439500848005157">Rhea Bot</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">01-Mar-20 11:20 PM</span>

            <div class="chatlog__message " data-message-id="683891479462019097" id="message-683891479462019097">
                <div class="chatlog__content">
                    <span class="markdown"></span>

                </div>

                <div class="chatlog__attachment">
                    <a href="https://cdn.discordapp.com/attachments/683326338391998482/683891478829072387/unknown.png">
                        
                            <img class="chatlog__attachment-thumbnail" src="https://cdn.discordapp.com/attachments/683326338391998482/683891478829072387/unknown.png" alt="Attachment" />
                    </a>
                </div>


            </div>
            <div class="chatlog__message " data-message-id="683891804474703972" id="message-683891804474703972">
                <div class="chatlog__content">
                    <span class="markdown">Lady Rhea has appointed the new mercenary professors, now it is time to see how much progress the students have made thus far. A mock battle has been set, whoever wins will definitely leave a big impression.

┈ ┈ ┈ ⋞ 〈 ⏣ 〉 ⋟ ┈ ┈ ┈

Welcome to the first battle of Between Heaven and Earth! There are a couple of things to this event, so read closely.</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="683892520715026459" id="message-683892520715026459">
                <div class="chatlog__content">
                    <span class="markdown"><div class="quote"><strong>FREE ROLEPLAYING PERIOD ~ PREPARATION </strong></div>For those in the battle and those who aren’t, there will be a slight free roleplaying period to get ready for the battle itself. Will you cheer on your classmates, or have an intense battle session to get them truly ready? Or will you take them out to relax a little. Up to you!

<div class="quote"><strong>BATTLE INFO</strong></div>The battle will begin on 3/2 at 5 pm CST, battle participants are expected to leave all scenes before then, and non battle participants will head over to the spectator stands Sothis will send out a ping so don’t worry about not getting a poke!

When the battle begins, players will play out their plans as discussed in their private chatrooms. Actions will be typed in the <span class="mention">#open-field-ch01</span> channel, remember to see the battle system doc to see how they will be typed out.

If you&#39;re still not sure, here&#39;s a skeleton of how it should be.
1. someone takes an action, players are free to reply whenever they can.
if they fight someone, that person can state abilities and whatnot that affect their counter 
2.mod calculates hit/damage for both, update map 
3.next units move

<div class="quote"><strong>CLASS TURN ORDER </strong></div>BLUE LIONS &gt; GOLDEN DEER &gt; BLACK EAGLES</span>

                </div>



            </div>
            <div class="chatlog__message " data-message-id="683892864387776513" id="message-683892864387776513">
                <div class="chatlog__content">
                    <span class="markdown">-
<div class="quote"><strong>PRIZES</strong></div>
First place: 75XP per unit, 50g per unit 
Second place: 50XP per unit, 25g per unit 
Third place: 25XP per unit, 10g per unit

Have fun everyone! <img class="emoji " alt="deco" title="deco" src="https://cdn.discordapp.com/emojis/673603399417069568.png" /> 
<span class="mention" style="color: #000000; background-color: rgba(0, 0, 0, 0.1); font-weight: 400;">@roleplayer</span></span>

                </div>



                <div class="chatlog__reactions">
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="peeke" title="peeke" src="https://cdn.discordapp.com/emojis/671809135343566852.png" />
                            <span class="chatlog__reaction-count">2</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="🇮" title="🇮" src="https://twemoji.maxcdn.com/2/72x72/1f1ee.png" />
                            <span class="chatlog__reaction-count">2</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="🇸" title="🇸" src="https://twemoji.maxcdn.com/2/72x72/1f1f8.png" />
                            <span class="chatlog__reaction-count">2</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="8️⃣" title="8️⃣" src="https://twemoji.maxcdn.com/2/72x72/38-20e3.png" />
                            <span class="chatlog__reaction-count">2</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="crabrave2" title="crabrave2" src="https://cdn.discordapp.com/emojis/561543315648937985.gif" />
                            <span class="chatlog__reaction-count">3</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="TimeskipHappy" title="TimeskipHappy" src="https://cdn.discordapp.com/emojis/640200195711303684.png" />
                            <span class="chatlog__reaction-count">3</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="heartkeeper" title="heartkeeper" src="https://cdn.discordapp.com/emojis/674053279205949448.png" />
                            <span class="chatlog__reaction-count">3</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="dimitreee" title="dimitreee" src="https://cdn.discordapp.com/emojis/671809090430959624.png" />
                            <span class="chatlog__reaction-count">2</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="hildacaree" title="hildacaree" src="https://cdn.discordapp.com/emojis/677014447591653376.png" />
                            <span class="chatlog__reaction-count">2</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="default" title="default" src="https://cdn.discordapp.com/emojis/473235153523572737.gif" />
                            <span class="chatlog__reaction-count">2</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="BigBrain" title="BigBrain" src="https://cdn.discordapp.com/emojis/677760368722051072.png" />
                            <span class="chatlog__reaction-count">2</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="ImIn" title="ImIn" src="https://cdn.discordapp.com/emojis/681321830950240341.png" />
                            <span class="chatlog__reaction-count">2</span>
                        </div>
                </div>
            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683439500848005157/51d4b3b69ad8d2a5446582e8a52a4db5.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Rhea Bot#0000" data-user-id="683439500848005157">Rhea Bot</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">05-Mar-20 02:19 AM</span>

            <div class="chatlog__message " data-message-id="685023717948260362" id="message-685023717948260362">
                <div class="chatlog__content">
                    <span class="markdown">Chapter is now over. Please resume all activities to the Monastery category. If your character is at the stands be sure to wrap it up and head back to the Monastery for the festivities. Thank you!</span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683439500848005157/fa284d357be0d5b47e4d5a2eacee21b1.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Rhea Bot#0000" data-user-id="683439500848005157">Rhea Bot</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">10-Mar-20 12:46 PM</span>

            <div class="chatlog__message " data-message-id="686978284851822632" id="message-686978284851822632">
                <div class="chatlog__content">
                    <span class="markdown"><strong>By House</strong>
Black Eagles: 75 XP per unit, 50g per unit
Golden Deer: 50 XP per unit, 25g per unit
Blue Lions: 25XP per unit, 10g per unit

<strong>Exceptions</strong>
Dimitri Alexandre Blaiddyd: 10 Lance XP, 46 XP, 20g
Raphael Kirsten: 20 Brawling XP, 96 XP, 35g
Ghadir Vernon: 1 Sword XP, 28 XP, 20g
Ashe Ubert: 10 Bow XP, 75 XP, 20g
Chloe Vangueur: 31 Reason XP, 111 XP, 35g
Claude von Riegan: 30 Bow XP, 185 XP, 35g
Rowan Van Almasi: 90 XP, 35g
Sylvain Jose Gautier: 26 XP, 20g
Briar Eisner: 26 XP, 20g
Dorothea Arnault: 10 Faith XP, 95 XP, 60g
Layla von Alyss: 1 Reason XP, 51 XP, 60g
Ferdinand von Aegir: 10 Lance XP, 120 XP, 60g

<strong>Notes:</strong>
-Knocking out another unit gave 25 XP instead of what normally would be 50, since this was a mock battle, and also to be more fair to the non-combat members.
-Combat participants gained an extra 10g.

Congrats, everyone! Your sheets will be updated, and you will be notified of any level-ups soon.</span>

                </div>



                <div class="chatlog__reactions">
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="👀" title="👀" src="https://twemoji.maxcdn.com/2/72x72/1f440.png" />
                            <span class="chatlog__reaction-count">4</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="🇼" title="🇼" src="https://twemoji.maxcdn.com/2/72x72/1f1fc.png" />
                            <span class="chatlog__reaction-count">3</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="🇪" title="🇪" src="https://twemoji.maxcdn.com/2/72x72/1f1ea.png" />
                            <span class="chatlog__reaction-count">3</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="8️⃣" title="8️⃣" src="https://twemoji.maxcdn.com/2/72x72/38-20e3.png" />
                            <span class="chatlog__reaction-count">4</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="berniepog" title="berniepog" src="https://cdn.discordapp.com/emojis/684522665100443682.png" />
                            <span class="chatlog__reaction-count">5</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="default" title="default" src="https://cdn.discordapp.com/emojis/473235153523572737.gif" />
                            <span class="chatlog__reaction-count">2</span>
                        </div>
                </div>
            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/172515560846917642/5c702fbbbff2321a26668e41d8ad497a.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Locrius 光复香港#9567" data-user-id="172515560846917642" style="color: #0CF2D4">dimitri alexandre megpoid</span>


        <span class="chatlog__timestamp">10-Mar-20 12:57 PM</span>

            <div class="chatlog__message " data-message-id="686980981017542745" id="message-686980981017542745">
                <div class="chatlog__content">
                    <span class="markdown">whoops, miscalculated some stuff. Layla got 76 XP, Edelgard got 60g and 50 XP, Dorothea got Reason not Faith XP.</span>

                        <span class="chatlog__edited-timestamp" title="10-Mar-20 12:58 PM">(edited)</span>
                </div>



                <div class="chatlog__reactions">
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="peeke" title="peeke" src="https://cdn.discordapp.com/emojis/671809135343566852.png" />
                            <span class="chatlog__reaction-count">3</span>
                        </div>
                </div>
            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/172515560846917642/5c702fbbbff2321a26668e41d8ad497a.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Locrius 光复香港#9567" data-user-id="172515560846917642" style="color: #0CF2D4">dimitri alexandre megpoid</span>


        <span class="chatlog__timestamp">10-Mar-20 01:18 PM</span>

            <div class="chatlog__message " data-message-id="686986285616857118" id="message-686986285616857118">
                <div class="chatlog__content">
                    <span class="markdown">More corrections, because I forgot about personal abilities:
Claude: 222 xp
Dimitri: 55 xp
Edelgard: 90 xp</span>

                </div>



                <div class="chatlog__reactions">
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="tonta" title="tonta" src="https://cdn.discordapp.com/emojis/681350396412821710.png" />
                            <span class="chatlog__reaction-count">2</span>
                        </div>
                </div>
            </div>
    </div>
</div>
</div>

<div class="postamble">
    <div class="postamble__entry">Exported 8 message(s)</div>
</div>

</body>
</html>