<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - sothis-says-ch01</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../../../index.html#ch01">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">sothis-says-ch01</div>

            <div class="preamble__entry preamble__entry--small"></div>

    </div>
</div>

<div class="chatlog">
    <div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683325289534980162/2531eb0ae3733db638f9d864aae32e8f.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Sothis Bot#0000" data-user-id="683325289534980162">Sothis Bot</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 05:35 PM</span>

            <div class="chatlog__message " data-message-id="684167015887536165" id="message-684167015887536165">
                <div class="chatlog__content">
                    <span class="markdown">Hey is this thing even on? Oh okay. 25 minutes till the battle!
<span class="mention" style="color: #000000; background-color: rgba(0, 0, 0, 0.1); font-weight: 400;">@roleplayer</span></span>

                </div>



                <div class="chatlog__reactions">
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="flayngasp" title="flayngasp" src="https://cdn.discordapp.com/emojis/671813495175774239.png" />
                            <span class="chatlog__reaction-count">5</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="🇵" title="🇵" src="https://twemoji.maxcdn.com/2/72x72/1f1f5.png" />
                            <span class="chatlog__reaction-count">4</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="⭕" title="⭕" src="https://twemoji.maxcdn.com/2/72x72/2b55.png" />
                            <span class="chatlog__reaction-count">4</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="🇬" title="🇬" src="https://twemoji.maxcdn.com/2/72x72/1f1ec.png" />
                            <span class="chatlog__reaction-count">4</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="Correct" title="Correct" src="https://cdn.discordapp.com/emojis/670923154239127562.png" />
                            <span class="chatlog__reaction-count">2</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="BerniePog" title="BerniePog" src="https://cdn.discordapp.com/emojis/676663169590099975.png" />
                            <span class="chatlog__reaction-count">2</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="poggers" title="poggers" src="https://cdn.discordapp.com/emojis/475007733666545686.png" />
                            <span class="chatlog__reaction-count">2</span>
                        </div>
                </div>
            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683325289534980162/2553d5de156c68f313c9ac1b67bece74.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="S othis Bot#0000" data-user-id="683325289534980162">S othis Bot</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 06:02 PM</span>

            <div class="chatlog__message " data-message-id="684173766678413368" id="message-684173766678413368">
                <div class="chatlog__content">
                    <span class="markdown">Hey, fighters! Double-check that your sheet is up to date with stats, personal abilities, crests, items, weapons, and proficiencies.
<span class="mention" style="color: #000000; background-color: rgba(0, 0, 0, 0.1); font-weight: 400;">@roleplayer</span></span>

                </div>



                <div class="chatlog__reactions">
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="thatspoggers" title="thatspoggers" src="https://cdn.discordapp.com/emojis/479894897416077313.gif" />
                            <span class="chatlog__reaction-count">3</span>
                        </div>
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="blflag" title="blflag" src="https://cdn.discordapp.com/emojis/671047078545195048.png" />
                            <span class="chatlog__reaction-count">3</span>
                        </div>
                </div>
            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683325289534980162/78e53f006ca59e41527eb0c77c1a11ee.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Seteth#0000" data-user-id="683325289534980162">Seteth</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 06:12 PM</span>

            <div class="chatlog__message " data-message-id="684176277917138995" id="message-684176277917138995">
                <div class="chatlog__content">
                    <span class="markdown">&quot;As Captain Jeralt has a mission today, I shall be hosting this mock battle. Professors and participants from all Three Houses, please get into you starting formations.&quot; Seteth shouted over the battlefield, seeing the students eager to start battling. &quot;Now, you all know the rules - no hitting with the intent to kill or majorly wound. Just make your foes retreat! Everyone, prepare for battle at once. Professor Briar, you and your students shall move first! Let this year&#39;s first mock battle... BEGIN!&quot; He tried to finish his sentence with extra excitement. <span class="mention" style="color: #000000; background-color: rgba(0, 0, 0, 0.1); font-weight: 400;">@roleplayer</span> <span class="mention" style="color: #7075BC; background-color: rgba(112, 117, 188, 0.1); font-weight: 400;">@&#187;&#187;———— Blue Lions ————&#171;&#171;</span></span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683325289534980162/78e53f006ca59e41527eb0c77c1a11ee.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Seteth#0000" data-user-id="683325289534980162">Seteth</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 06:53 PM</span>

            <div class="chatlog__message " data-message-id="684186673667768387" id="message-684186673667768387">
                <div class="chatlog__content">
                    <span class="markdown">&quot;The Blue Lions have made their move. Professor Hanneman, guide your students well. Show the two new Professors that your experience here is going to pay off.&quot; Seteth announced as the Blue Lions finished setting up whatever strategy they had. <span class="mention" style="color: #C9B11F; background-color: rgba(201, 177, 31, 0.1); font-weight: 400;">@&#187;&#187;———— Golden Deer ————&#171;&#171;</span></span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683325289534980162/78e53f006ca59e41527eb0c77c1a11ee.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Seteth#0000" data-user-id="683325289534980162">Seteth</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 07:18 PM</span>

            <div class="chatlog__message " data-message-id="684192870131171512" id="message-684192870131171512">
                <div class="chatlog__content">
                    <span class="markdown">&quot;And with this, it appears the Golden Deer have only split up more. It seems they think they are making a joke of this tradition. Hopefully they will <em>improve</em> by the time of the Battle of the Eagle and Lion. Professor Byleth, please proceed!&quot; Seteth announced. &quot;You now all know your turns. I shall speak again once we have a clear winner!&quot; Seteth finished. <span class="mention" style="color: #BE2343; background-color: rgba(190, 35, 67, 0.1); font-weight: 400;">@&#187;&#187;———— Black Eagles ————&#171;&#171;</span></span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683325289534980162/78e53f006ca59e41527eb0c77c1a11ee.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Seteth#0000" data-user-id="683325289534980162">Seteth</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-20 08:21 PM</span>

            <div class="chatlog__message " data-message-id="684208748692373525" id="message-684208748692373525">
                <div class="chatlog__content">
                    <span class="markdown">&quot;If the Blue Lions could please have someone move. The sun won&#39;t stay up forever, and you have training to do for next month&#39;s class task.&quot; Seteth sighed, wishing he could join Cyril in the stands. <span class="mention" style="color: #7075BC; background-color: rgba(112, 117, 188, 0.1); font-weight: 400;">@&#187;&#187;———— Blue Lions ————&#171;&#171;</span></span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683325289534980162/2531eb0ae3733db638f9d864aae32e8f.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Sothis Bot#0000" data-user-id="683325289534980162">Sothis Bot</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 02:09 AM</span>

            <div class="chatlog__message " data-message-id="684296259577708547" id="message-684296259577708547">
                <div class="chatlog__content">
                    <span class="markdown">Battle will resume today at 2 pm CST.</span>

                </div>



                <div class="chatlog__reactions">
                        <div class="chatlog__reaction">
                            <img class="emoji emoji--small" alt="default" title="default" src="https://cdn.discordapp.com/emojis/473235153523572737.gif" />
                            <span class="chatlog__reaction-count">5</span>
                        </div>
                </div>
            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683325289534980162/2531eb0ae3733db638f9d864aae32e8f.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Sothis Bot#0000" data-user-id="683325289534980162">Sothis Bot</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 02:01 PM</span>

            <div class="chatlog__message " data-message-id="684475509236826123" id="message-684475509236826123">
                <div class="chatlog__content">
                    <span class="markdown">One hour warning!
<span class="mention" style="color: #000000; background-color: rgba(0, 0, 0, 0.1); font-weight: 400;">@roleplayer</span></span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683325289534980162/2531eb0ae3733db638f9d864aae32e8f.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Sothis Bot#0000" data-user-id="683325289534980162">Sothis Bot</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">03-Mar-20 03:02 PM</span>

            <div class="chatlog__message " data-message-id="684490829343096960" id="message-684490829343096960">
                <div class="chatlog__content">
                    <span class="markdown">Battle is now resuming! Get ready!
<span class="mention" style="color: #000000; background-color: rgba(0, 0, 0, 0.1); font-weight: 400;">@roleplayer</span></span>

                </div>



            </div>
    </div>
</div><div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/683325289534980162/78e53f006ca59e41527eb0c77c1a11ee.png" alt="Avatar" />
    </div>
    <div class="chatlog__messages">
    <span class="chatlog__author-name" title="Seteth#0000" data-user-id="683325289534980162">Seteth</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">05-Mar-20 09:12 AM</span>

            <div class="chatlog__message " data-message-id="685127496542584933" id="message-685127496542584933">
                <div class="chatlog__content">
                    <span class="markdown">&quot;And, with the amount of time that has passed, I formally declare the Black Eagle House as the winners. Professor Byleth, you and your students did well. As for the other two Houses, they could use a little more training. I eagerly await the Battle of the Eagle and Lion!&quot; Seteth announced, closing out the battle. It was one of the longest mock battles the monastery had in the years he could remember. &quot;Please, remember to be respectful and keep up your studies. We eagerly await to see how you all improve!&quot; He finished, immediately going to check on Flayn.

<span class="mention" style="color: #000000; background-color: rgba(0, 0, 0, 0.1); font-weight: 400;">@roleplayer</span></span>

                </div>



            </div>
    </div>
</div>
</div>

<div class="postamble">
    <div class="postamble__entry">Exported 10 message(s)</div>
</div>

</body>
</html>