

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - duck</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }

        function showSpoiler(event, element) {
            if (element && element.classList.contains('spoiler--hidden')) {
                event.preventDefault();
                element.classList.remove('spoiler--hidden');
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../../../index.html#ch06">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">☆ &#120387;&#120426;&#120419;&#120425;&#120414;&#120419;&#120412; &#120385;&#120410;&#120424;&#120425;&#120414;&#120427;&#120406;&#120417; / duck</div>


    </div>
</div>

<div class="chatlog">


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/358788505012404225/b0fa675c9e43eb7c03b45b80c2d74cdb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="anubis in high heels#6432" data-user-id="358788505012404225" style="color: rgb(183,139,198)">anubis in high heels</span>


        <span class="chatlog__timestamp">15-Nov-20 07:00 PM</span>

            <div class="chatlog__message " data-message-id="777684555519098880" id="message-777684555519098880">
                <div class="chatlog__content">
                    <div class="markdown"> </div>
                </div>

                    <div class="chatlog__attachment">
                            <a href="https://cdn.discordapp.com/attachments/777610430059118602/777684555305975808/unknown.png">
                                    <img class="chatlog__attachment-thumbnail" src="https://cdn.discordapp.com/attachments/777610430059118602/777684555305975808/unknown.png" alt="Attachment">
                            </a>
                    </div>


            </div>
            <div class="chatlog__message " data-message-id="777684588403097600" id="message-777684588403097600">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight">Leicester Alliance - Airmid River</div> </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="777684709982732288" id="message-777684709982732288">
                <div class="chatlog__content">
                    <div class="markdown">The great river separating the Leicester Alliance and Adrestia. Most known for the huge bridge that can be found down East. The copious amount of fish bring a lot of animals to the river to eat and drink. As the sunlight glimmers off the small ripples in the water, it&#39;s best to keep a reminder to have patience when hunting game here, before you yourself falls into the cold bustling river.

<div class="quote"><strong>Hunting for - <img class="emoji " alt="game" title="game" src="https://cdn.discordapp.com/emojis/777625733228920913.png"> Duck</strong></div> </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="777684843793481748" id="message-777684843793481748">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight">A bit cloudy, but if it&#39;s a sign of rain or not is unclear; Dawn.</div> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/358788505012404225/b0fa675c9e43eb7c03b45b80c2d74cdb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="anubis in high heels#6432" data-user-id="358788505012404225" style="color: rgb(183,139,198)">anubis in high heels</span>


        <span class="chatlog__timestamp">15-Nov-20 07:12 PM</span>

            <div class="chatlog__message " data-message-id="777687408782606346" id="message-777687408782606346">
                <div class="chatlog__content">
                    <div class="markdown">The hunt has started! <span class="mention" style="color: rgb(181, 189, 196); background-color: rgba(181, 189, 196, 0.1);">@Ashe</span> and <span class="mention" style="color: rgb(154, 240, 233); background-color: rgba(154, 240, 233, 0.1);">@Gavrel</span> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777929645877362718/6f60bab362815722eded7f9a469db8fb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Gavrel Meier#0000" data-user-id="777929645877362718">Gavrel Meier</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">16-Nov-20 11:14 AM</span>

            <div class="chatlog__message " data-message-id="777929646619754547" id="message-777929646619754547">
                <div class="chatlog__content">
                    <div class="markdown">Gavrel dropped a big sack of goodies near a bay by the riberbank. He&#39;d not gone duck hunting since his grandma took him many years ago now. What&#39;s more, he promised her a big fat one for dinner so he&#39;d better start early and find something worthy. Even more exciting, if that was possible, Gavrel had never been this far from the monastery. The landscape was so different from what he could make out on the hills outside and nearby towns. The bridge, what a sight. The water rushing, thundering towards somewhere. Of course with some help the two boys had scouted a more calm spot. No good if they got swept into that somewhere. Overcast too, great weather for duck hunting. He was told to maybe borrow a dog for the hunt but he was apprehensive about the poor thing not being able to swim to shore.

He took out some objects: A life sized duck, hand carved and nicely painted. <em>I should thank Ser Alois for helping me with this</em> the plumage was lined in natural colors and it looked real... except for the goofy paintwork on the face. He also brought some nets, arrows, sticks.... The oversized burlap he brought the stuff in could provide some cover. Last, some short flutes and whistles. The sort annoying children blew into in the market. He handed one to Ashe. &quot;Try it&quot; he said with a light laugh. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777929645877362718/4d94983cbdc09ef7da1424e893fbe9b6.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ashe Ubert#0000" data-user-id="777929645877362718">Ashe Ubert</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">16-Nov-20 06:08 PM</span>

            <div class="chatlog__message " data-message-id="778033869911621684" id="message-778033869911621684">
                <div class="chatlog__content">
                    <div class="markdown">Ashe had never experienced the Alliance outside of actual missions. Being so far off from what was familiar was rather odd. Though he&#39;d hunted a few times with Petra in the past, this was going to be an entirely difference experience since this was a whole new place. Taking in a deep breath, he was readying his bow. Trusting his aim against a duck, part of him felt like this was a festival he. could do well. 

Watching the goodies that Gavrel would take out, Ashe carefully took the item in to his hand. A confused look met with the bluenette. Ashe held a light smile all the same, not wanting to seem rude in this curiosity. 

&quot;Should we not be trying to remain as quiet as possible?&quot;

He asked, not yet blowing in to the toy. If Gavrel had a plan, that was already one step ahead of the archer. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777929645877362718/6f60bab362815722eded7f9a469db8fb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Gavrel Meier#0000" data-user-id="777929645877362718">Gavrel Meier</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">17-Nov-20 12:51 AM</span>

            <div class="chatlog__message " data-message-id="778135252018135050" id="message-778135252018135050">
                <div class="chatlog__content">
                    <div class="markdown">Gavrel lowered his voice. &quot;Well us speaking, yes&quot; he grinned. &quot;Okay, hold on...&quot; he told Ashe and grabbed the woodden duck and some strings. He tied some lines at the bottom, one with a lead weight. He tossed the decoy into the water with a gentle splash. The woodden duck bobbed in the waves, tipping it&#39;s beak up and down as if it were a real thing bathing. Gavrel held the long string and pinned it with a stick into the ground to prevent it from swimming with the current. He then set up the burlap sack with some of the long sticks to provide cover for the young men. And stuck his hand  out towards Ashe as a <em>wait</em> gesture. &quot;I heard you&#39;re an exceptionally talented marksman&quot; he whispered, excited. &quot;I&#39;m no good with a bow but I&#39;ll help all I can!&quot; he reached for an old shortbow and pulled it closer.  He had tied some strings to arrows in case he needed to retrieve a naughty duck.

&quot;Are you ready?&quot; he asked with a smile as goofy as the decoy duck&#39;s face. Gavrel then took the whistle and blew.

<em>Quoaack!</em> the toy called. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777929645877362718/4d94983cbdc09ef7da1424e893fbe9b6.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ashe Ubert#0000" data-user-id="777929645877362718">Ashe Ubert</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">17-Nov-20 01:16 AM</span>

            <div class="chatlog__message " data-message-id="778141561006587966" id="message-778141561006587966">
                <div class="chatlog__content">
                    <div class="markdown">As Gavrel displayed precisely what the item was, the boy&#39;s eyes widened a little in realization. He chuckled lightly, that more gentle expression returning. Watching the wooden duck head out in to the water brought a certain amount of joy and amusement to him. What a fascinating device! The quacking  only caused more gentle laughter that he tried to stifle by pressing a hand to his mouth.

&quot;What a fascinating toy.&quot;

He stated. Ashe never had any need for catching such creatures in his past. The part of Fodlan he lived in didn&#39;t give him much reason to need to hunt ducks. That, and it was quite cold for them.

Taking the tied arrow and bringing it to his bow, Ashe blushed lightly at the other man&#39;s words. He was quick to gently shake his head, remembering to keep his voice low.

&quot;That&#39;s far too much praise I am unsure that I deserve. But, thank you.&quot;

After getting the arrow in it&#39;s place, he looked over the other. 

&quot;I am ready, yes. This was plenty helpful. Have you done this type of set up before?&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777929645877362718/6f60bab362815722eded7f9a469db8fb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Gavrel Meier#0000" data-user-id="777929645877362718">Gavrel Meier</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">18-Nov-20 12:57 AM</span>

            <div class="chatlog__message " data-message-id="778499113385590794" id="message-778499113385590794">
                <div class="chatlog__content">
                    <div class="markdown">Gavrel started giggling to Ashe&#39;s stiffled laugh. He seemed amused by the goofy call. His peripheral vision caught a flash of movement and Gavrel tried to calm down. &quot;It is!&quot; he whispered. 

Ashe was being too modest about his skill, Gavrel twisted his lip in response &quot;I&#39;m sure you deserve much of it&quot; at least in Gavrel&#39;s eyes. He too, nocked an arrow, paying attention to the position of Ashe&#39;s hands. Sort of mirroring it. Except he lacked the sense of aim and finesse in strength but he could try.

&quot;Yeah, I used to go duck hunting with Nana as a child... though it was on a pond closer to the border with the Empire&quot; Gavrel always forgot how strange it sounded to other people: to call Margalite, a famously stern woman and a renowned knight of Seiros, <em>Nana</em> so fondly like she was some sweet old lady handing candy to the kids in town. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777929645877362718/4d94983cbdc09ef7da1424e893fbe9b6.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ashe Ubert#0000" data-user-id="777929645877362718">Ashe Ubert</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">18-Nov-20 01:32 AM</span>

            <div class="chatlog__message " data-message-id="778507848023670795" id="message-778507848023670795">
                <div class="chatlog__content">
                    <div class="markdown">Hearing the movement, Ashe pulled his bow back as well. He knew his marksmanship may get him through this if he was lucky. But, only time would tell. Still, despite hearing the bird, Gavrel continued to speak. Not that Ashe would argue. He was mostly here for the learning experience as well as the potential of getting some extra money to send gifts to his poor siblings. Still, if he failed, at least he may gain a friend along the way.

&quot;Nana? ...Is it wrong to assume that is a family member?&quot; He would wait for some sort of indication of being correct before continuing. &quot;Still, that sounds quite lovely. I lived rather inward of Faerghus, so hunting animals was never an experience I had. Granted, I had other methods of obtaining food.&quot;

The memory of his past began to hit in his head. He wasn&#39;t entirely sure why that sentence even came out considering how rarely he spoke of how he would obtain food. Even so, this conversation was pleasant in its own way. The way the clouds hung and the general quiet it just felt... right. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777929645877362718/6f60bab362815722eded7f9a469db8fb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Gavrel Meier#0000" data-user-id="777929645877362718">Gavrel Meier</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">18-Nov-20 08:07 PM</span>

            <div class="chatlog__message " data-message-id="778788604356198410" id="message-778788604356198410">
                <div class="chatlog__content">
                    <div class="markdown">Gavrel looked at Ashe. &quot;Yeah, my grandmother&quot; he rubbed his nose. &quot;She&#39;s a knight&quot; he said with a hint of pride in the explanation. If she didn&#39;t drill him so hard to get him to be a knight like her though he&#39;d appreciate it. 

&quot;Whoa Faerghus...&quot; He repeated, listening to Ashe&#39;s story. &quot;I thought you had some crazy game over there... Then again... Bears sound scary to hunt&quot; he giggled. <em>Other methods for food?</em> He thought, something told him it wouldn&#39;t be very polite to pry so maybe next time he could tell Gavrel all about the exciting lifestyle of Faerghus. <em>Some things gotta be somewhat like the monastery... Shopping for food and whatnot minus the praying all day... Life in the city huh...</em> His mind raced with excitement. So many questions.

He heard flapping again and he crouched close to the floor. He took out the whistle to call the birds a bit closer. He nodded at Ashe, quiet, quiet. He sought some movement in the water, the decoy was bobbing peacefully.

<em>Is that...</em> His body jerked at the sight of another creature swimming towards the decoy. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777929645877362718/4d94983cbdc09ef7da1424e893fbe9b6.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ashe Ubert#0000" data-user-id="777929645877362718">Ashe Ubert</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Nov-20 10:08 AM</span>

            <div class="chatlog__message " data-message-id="780449742253195314" id="message-780449742253195314">
                <div class="chatlog__content">
                    <div class="markdown">Ashe was quiet, just as Gavrel had intended him to be. And, hearing the birds come near, he practically held his breath. The last thing he wanted was for his presence to scare them, either. Not that he was very intimidating to begin with. 

The archer sat and waited for the perfect moment. It was difficult to find it, as if he was lucky and quick enough, maybe he could get a second bird with his quick shots. 

Yet, seeing Gavrel&#39;s body jerk like that brought some anxiety to the boy. Why did he react like that? Was something wrong? He wanted to wait longer, but he felt it would be better for them to get their gain. He saw the bird, it was in his line of vision. He could easily take it out. 

Watching it gradually get more in to his view, only a few seconds pass as he waits for the perfect shot, and to understand what Gavrel was also looking at. He tried to keep a close eye, but wouldn&#39;t say a word. His bow was knocked, and his eyes were focused on it. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777929645877362718/6f60bab362815722eded7f9a469db8fb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Gavrel Meier#0000" data-user-id="777929645877362718">Gavrel Meier</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">26-Nov-20 11:14 PM</span>

            <div class="chatlog__message " data-message-id="781734563932012564" id="message-781734563932012564">
                <div class="chatlog__content">
                    <div class="markdown">Gavrel reached for his bow as quietly as he could. Ashe in the meantime had already knocked one bird. <em>He&#39;s too modest!</em> He thought looking for hus next target which was inspecting the decoy. He  drew the string and took aim.

<em>Twang</em>

The bird flapped away...

Gavrel sighed and looked for another distracted bird. &quot;Oh!&quot; He crept closer to make sure Ashe&#39;s first kill didn&#39;t go floating down the rapids. He crawled through the foliage, less than waist deep in the water. With a stick and some strings tied to it he caught the duck. 

He crawled back to Ashe, his white robes were now all dirty on one side. &quot;Here!&quot; He whispered excited then looked again. &quot;You know what, I can just call and retrieve the ducks for you... We&#39;ll definitely catch more with your skill than me just scaring them&quot; he smiled, trying hard to keep his voice down. </div>
                </div>



            </div>
    </div>
</div>

</div>

<div class="postamble">
    <div class="postamble__entry">Exported 14 message(s)</div>
</div>

</body>
</html>
