

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - pheasant</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }

        function showSpoiler(event, element) {
            if (element && element.classList.contains('spoiler--hidden')) {
                event.preventDefault();
                element.classList.remove('spoiler--hidden');
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../../../index.html#ch06">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">☆ &#120387;&#120426;&#120419;&#120425;&#120414;&#120419;&#120412; &#120385;&#120410;&#120424;&#120425;&#120414;&#120427;&#120406;&#120417; / pheasant</div>


    </div>
</div>

<div class="chatlog">


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/358788505012404225/b0fa675c9e43eb7c03b45b80c2d74cdb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="anubis in high heels#6432" data-user-id="358788505012404225" style="color: rgb(183,139,198)">anubis in high heels</span>


        <span class="chatlog__timestamp">15-Nov-20 07:02 PM</span>

            <div class="chatlog__message " data-message-id="777684909301039116" id="message-777684909301039116">
                <div class="chatlog__content">
                    <div class="markdown"> </div>
                </div>

                    <div class="chatlog__attachment">
                            <a href="https://cdn.discordapp.com/attachments/777610693247500309/777684909069697035/unknown.png">
                                    <img class="chatlog__attachment-thumbnail" src="https://cdn.discordapp.com/attachments/777610693247500309/777684909069697035/unknown.png" alt="Attachment">
                            </a>
                    </div>


            </div>
            <div class="chatlog__message " data-message-id="777684940053151785" id="message-777684940053151785">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight">Leicester Alliance - Derdriu&#39;s Plains</div> </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="777685040351674388" id="message-777685040351674388">
                <div class="chatlog__content">
                    <div class="markdown">The bushy plains on the outside of the aquatic capital, Derdriu. Filled with lush bright emerald grass and lots of pretty flowers, a variety of fauna is easy to spot here. Rocks make the terrain a bit flimsy, but as long as you don&#39;t let the view or the city sound distract you, it should be alright.

<div class="quote"><strong>Hunting for - <img class="emoji " alt="game" title="game" src="https://cdn.discordapp.com/emojis/777625733228920913.png"> Pheasant</strong></div> </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="777685169791959040" id="message-777685169791959040">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight">Sunny and warm; Noon.</div> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/358788505012404225/b0fa675c9e43eb7c03b45b80c2d74cdb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="anubis in high heels#6432" data-user-id="358788505012404225" style="color: rgb(183,139,198)">anubis in high heels</span>


        <span class="chatlog__timestamp">15-Nov-20 07:13 PM</span>

            <div class="chatlog__message " data-message-id="777687683995533313" id="message-777687683995533313">
                <div class="chatlog__content">
                    <div class="markdown">The hunt has started! <span class="mention" style="color: rgb(7, 142, 248); background-color: rgba(7, 142, 248, 0.1);">@Lucy</span> and Danny (NPC) </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777711122408931358/c2ce5686a3b1aa684333fa101e432866.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Danny#0000" data-user-id="777711122408931358">Danny</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">15-Nov-20 08:46 PM</span>

            <div class="chatlog__message " data-message-id="777711123071631360" id="message-777711123071631360">
                <div class="chatlog__content">
                    <div class="markdown">As the sun&#39;s rays soften it&#39;s grip on the ground below, a long drawn out sigh of relief escaped the Black Eagle&#39;s mouth. Participating in a highly anticipated event was already enough to get Danny&#39;s adrenaline pumping, sure. But man, was the journey something that he dreaded. It wasn&#39;t the first time he travelled to a foreign location however, and with what little experience he had, he simply evened himself out. That wasn&#39;t enough to even out his nerves though, the excitement still rippling through his body as it truly sunk in that he was at the aquatic capital...er... near it anyways. One deep breath after another, with his gear already set down on the sun kissed grass, he stretched his arms out a little before they were put to work.

&quot;Derdriu, huh?&quot; He blurted out between stretches, throwing a friendly glance at his hunting partner. Admittedly, she was a stranger to him, but it costs him nothing to be friendly. 

&quot;I never thought I&#39;d get a chance to lay my eyes on this place in person... too bad we aren&#39;t here to visit it today right, Lacey?&quot; The <em>painfully</em> wrong name rolled off his tongue flimsily, but to the young man, it sounded just about right. He payed no thought to it as his face filled with a nervous smile.

This was it! </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777711122408931358/f004e4468eb41b86b03bd852dd5aaafd.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Lucy Felina#0000" data-user-id="777711122408931358">Lucy Felina</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">15-Nov-20 09:47 PM</span>

            <div class="chatlog__message " data-message-id="777726398483398677" id="message-777726398483398677">
                <div class="chatlog__content">
                    <div class="markdown">She was not expecting to have to hunt something as simple as a Pheasant, just about anything else would have been better for what she could do. For the size of the target, this hunter was equipped with smaller arrows as to make sure not to destroy the animal too badly. With her bow around her back, hanging on by the string, she turned to her partner with her everlasting default look to her face. A boy named Danny, whom she had never heard of or met before, now talking to her and misnaming the girl.

&quot;My name is Lucy&quot; Correcting the boy, which seemed to had been her only concern about what he said. She was not interested in visiting the city, not one bit. They were here for the Hunting Festival, not for sightseeing. Now then, Pheasants, should they bring back many? One each? She believes that she could bring back atleast three on her own, which would not be a bad result in her eyes.

&quot;Do you know what to do? If you have any questions about what to do, you should ask now before we get too far into area.&quot; She didn&#39;t know what this boy could do, but she hoped that he could hold his own for the time being. It was always better to hunt in pairs, that was her opinion atleast, and it&#39;s not like she used to have anyone else to go out with. </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="777726434106015754" id="message-777726434106015754">
                <div class="chatlog__content">
                    <div class="markdown"><span class="mention" title="anubis in high heels#6432">@anubis in high heels</span> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777711122408931358/94dc3634154b27ced2e5a8bcf81a646c.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Danny#0000" data-user-id="777711122408931358">Danny</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">18-Nov-20 02:48 PM</span>

            <div class="chatlog__message " data-message-id="778708288710901781" id="message-778708288710901781">
                <div class="chatlog__content">
                    <div class="markdown">Lucy.

His once smiling face quickly shifted a shade redder and molded into a little pout of embarrassment, his eyes too soon followed, creasing into an expression of regret and shame. With a quick look away, he opened his mouth frantically to express his feelings before it snowballed into an awkward mess.

&quot;OH Lucy! I-I&#39;m sorry! Er, sorry... I&#39;m Danny.&quot;

It was hard to tell if his partner was angered or not, hell, it seemed it was hard to tell what she was thinking in general. No response to his remark either, it made him a bit uneasy, but it wouldn&#39;t ruin his experience nonetheless. Just like he would with an duster, he swept off the worries off the top of his mind and continued as usual.

With that out of the way, he shuffled through his gear. A quick heave from his satchel and out came a quiver, a lightweight bow soon after to ensure that he could move around quickly if needed to- but as much as he didn&#39;t want to admit, this was not the game he was used to chasing after.

Hesitantly, he made his thoughts known to the Golden Deer, &quot;I have some experience with hunting from my father...but- but I&#39;m afraid I&#39;ve never hunted...this particular...thing....But I do know what they taste like! That&#39;s enough motivation for me!&quot; A nervous giggle at his poor attempt at humor with another awkward look to the side, trying desperately to avoid eye contact. Strumming his bow as a way to distract himself from his nervousness. 

&quot;Uhh...A quick run down would be appreciated. If you don&#39;t mind.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777711122408931358/f004e4468eb41b86b03bd852dd5aaafd.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Lucy Felina#0000" data-user-id="777711122408931358">Lucy Felina</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">19-Nov-20 02:05 AM</span>

            <div class="chatlog__message " data-message-id="778878499699425282" id="message-778878499699425282">
                <div class="chatlog__content">
                    <div class="markdown">Atleast he knows the basics of hunting then, so she will not have to explain that whole process. Which also hopefully meant that his feelings will not hold him back before he shoots the arrow into the creature. Speaking of, he says that he has never hunted one before, neither has Lucy, but she does know what it looks like, so that was a plus.

&quot;Of course, Danny.&quot; She started out by pulling out her bow, along side the one of the few arrows she has. In her right hand, the arrow.
&quot;Because of the Pheasant&#39;s size, we must use smaller arrows so that we do not harm the skin too badly.&quot; She then brought her grip to the end of the arrow, where the tip is basically a little needle with a blunt rectangle bit that it&#39;s attached to, follow by the rest of the arrow.

&quot;It is mostly the blunt force of the arrow that shoud kill the animal, leaving little harm to the creature. It would be preferable if you aimed for the head aswell, as it may also still harm the body too much.&quot; That was not too much information for him, was it? Probably not, it was just easy enough.

With that, she holds her arrow in her bow string to indicate her readiness. &quot;I suggest that we check the nearest water source, I think It would be a good place to start.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777711122408931358/94dc3634154b27ced2e5a8bcf81a646c.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Danny#0000" data-user-id="777711122408931358">Danny</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Nov-20 06:50 PM</span>

            <div class="chatlog__message " data-message-id="780581029211668510" id="message-780581029211668510">
                <div class="chatlog__content">
                    <div class="markdown">There it was again. She- she did it again. His anticipation for her words were only clenched tighter under the pressure of his nervous, mental palm. A sinking feeling in his stomach, the words caught in his throat. He was having trouble figuring out what he was doing wrong, or what he was doing in general. His few comments gone passed, right over the raven haired girl’s head. Maybe it was for the best. Saves him from the embarrassment after all. Even so, he couldn’t help but to feel uneasy.

&quot;Thank you.&quot;

A simple nod, a simple response, his tone matching Lucy&#39;s very own. If he wasn&#39;t here for fun, he was here to get it done. He pulled out his own arrows in sync with his temporary tutor, carefully inspecting them alongside Lucy&#39;s voice. Hm.

&quot;I see, very well then. Let&#39;s get going, shall we? The bank isn&#39;t very far from here.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777711122408931358/f004e4468eb41b86b03bd852dd5aaafd.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Lucy Felina#0000" data-user-id="777711122408931358">Lucy Felina</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Nov-20 09:13 PM</span>

            <div class="chatlog__message " data-message-id="780617111092330536" id="message-780617111092330536">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Yes, let us leave now&quot;. With that now out of the way, Lucy nods to the boy and begins to make her way through the area. The terrain is not the most difficult place to traverse, despite the odd rock/boulder in the way. On top of that, the sight of a few flowers here and there makes Lucy feel more at ease, as if this was just another trip at home (excluding the rocks being in the way).

With many sights of other animals along the way, none being the pheasants they were looking for just yet. walking through the terrain and all, it is not the worst thing they could be doing, but this is all part of the thrill of the hunt, the satisfaction towards the end is always satisfying.  As predicted, soon enough, they arrive just out far from the river bank, her eyes scanning the area just around it for the prey.

She point further down the bank. &quot;Those are Pheasants&quot; before getting the bow ready, she wonts Danny to make sure he knows what he is doing and what the target is. &quot;We should get a bit closer, to be sure that we hit our targets&quot; And with that, she walks along with the boy, continuing to stay hidden from the animals. </div>
                </div>



            </div>
    </div>
</div>

</div>

<div class="postamble">
    <div class="postamble__entry">Exported 12 message(s)</div>
</div>

</body>
</html>
