<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Between Heaven and Earth ✦ Calculator</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link href="../static/all.css" rel="stylesheet">
    <script src="../static/scripts.js"></script>
</head>

<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../index.html">Home</a></p>
    <p>Back to Chapter</p>
</div>

<p id="results"></p>

<script src="../static/calculatorscripts.js"></script>

</body>

</html>