

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - debriefs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }

        function showSpoiler(event, element) {
            if (element && element.classList.contains('spoiler--hidden')) {
                event.preventDefault();
                element.classList.remove('spoiler--hidden');
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../../../index.html#ch06">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">♞ &#119810;&#119841;&#119834;&#119849;&#119853;&#119838;&#119851; &#120788;: &#119825;&#119854;&#119846;&#119848;&#119851;&#119852; &#119848;&#119839; &#119834; &#119825;&#119838;&#119834;&#119849;&#119838;&#119851; / debriefs</div>


    </div>
</div>

<div class="chatlog">


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/172515560846917642/a51dcbc67dabb2e6d69f5c51ba4393b6.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Locrius 光复香港#9567" data-user-id="172515560846917642" style="color: rgb(12,242,212)">Syl ᘛ⁐̤ᕐᐷ #SylvainThirstGang</span>


        <span class="chatlog__timestamp">09-Jan-21 04:22 PM</span>

            <div class="chatlog__message " data-message-id="797576062015897641" id="message-797576062015897641">
                <div class="chatlog__content">
                    <div class="markdown"> </div>
                </div>

                    <div class="chatlog__attachment">
                            <a href="https://cdn.discordapp.com/attachments/797569726850924614/797576061817716766/unknown.png">
                                    <img class="chatlog__attachment-thumbnail" src="https://cdn.discordapp.com/attachments/797569726850924614/797576061817716766/unknown.png" alt="Attachment">
                            </a>
                    </div>


            </div>
            <div class="chatlog__message " data-message-id="797576110510571551" id="message-797576110510571551">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight">➣ &#119827;&#119815;&#119812; &#119828;&#119821;&#119811;&#119812;&#119825;&#119814;&#119825;&#119822;&#119828;&#119821;&#119811; &#119810;&#119815;&#119808;&#119820;&#119809;&#119812;&#119825;</div>
<img class="emoji " alt="golden_deer" title="golden_deer" src="https://cdn.discordapp.com/emojis/650453539583426580.png"> While the Golden Deer remain at Garreg Mach and continue to assist the knights in local searches, someone notices Manuela seems to be missing. A student investigates the knights&#39; quarters -- and finds her passed out on the ground with a wound. The Deer venture further and further into a strange passage, and are confronted by a strange army.

<strong>GOAL: Rout the enemy except Death Knight, or kill Death Knight.</strong>
<a href="gd-ooc.html"><span class="mention">#gd-ooc</span></a>
<a href="gd-map-and-participants.html"><span class="mention">#gd-map-and-participants</span></a>
<a href="gd-underground-chamber.html"><span class="mention">#gd-underground-chamber</span></a> <span class="chatlog__edited-timestamp" title="10-Jan-21 02:04 PM">(edited)</span></div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="797576134627819552" id="message-797576134627819552">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight">➣ &#119827;&#119808;&#119819;&#119812;&#119826; &#119822;&#119813; &#119827;&#119815;&#119812; &#119825;&#119812;&#119811; &#119810;&#119808;&#119821;&#119832;&#119822;&#119821;</div>
<img class="emoji " alt="black_eagles" title="black_eagles" src="https://cdn.discordapp.com/emojis/650453418867163136.png"><img class="emoji " alt="blue_lions" title="blue_lions" src="https://cdn.discordapp.com/emojis/650453418569105428.png"> Worried that his class didn&#39;t properly clear out the bandits a few months ago and that it may have been related to Flayn&#39;s disappearance, Byleth volunteers his class to investigate the recent bandit activity in the Red Canyon. Rhea agrees, but requests that the Lions be taken as well for backup. When they arrive, they&#39;re greeted by multitudes of beasts...

<strong>GOAL: Rout the enemy.</strong>
Note that enemy reinforcements will arrive at the start of the phase in every odd-numbered turn, beginning on turn 5. The goal will become &quot;Defeat Boss.&quot; once they begin to arrive.
<a href="bebl-ooc.html"><span class="mention">#bebl-ooc</span></a>
<a href="bebl-map-and-participants.html"><span class="mention">#bebl-map-and-participants</span></a>
<a href="bebl-red-canyon.html"><span class="mention">#bebl-red-canyon</span></a> <span class="chatlog__edited-timestamp" title="11-Jan-21 01:28 AM">(edited)</span></div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="797576150732767243" id="message-797576150732767243">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight">➣ &#119809;&#119819;&#119808;&#119810;&#119818; &#119820;&#119808;&#119825;&#119818;&#119812;&#119827; &#119826;&#119810;&#119815;&#119812;&#119820;&#119812;</div>
<img class="emoji " alt="ashen_wolves" title="ashen_wolves" src="https://cdn.discordapp.com/emojis/692527823856074844.png"> Balthus can&#39;t find Hapi. He convinces the class that she took a nap in a box and got abducted to Enbarr, and they hurry out immediately. It turns out she&#39;s just fine - but Balthus wanted to come here to stop his mother&#39;s keepsake from being sold off. Time to fight your way through.

<strong>GOAL: Rout the enemy.</strong>
<a href="aw-ooc.html"><span class="mention">#aw-ooc</span></a>
<a href="aw-map-and-participants.html"><span class="mention">#aw-map-and-participants</span></a>
<a href="aw-enbarr.html"><span class="mention">#aw-enbarr</span></a> <span class="chatlog__edited-timestamp" title="10-Jan-21 02:04 PM">(edited)</span></div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="797576172107333732" id="message-797576172107333732">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight">➣ &#119828;&#119823;&#119811;&#119808;&#119827;&#119816;&#119821;&#119814; &#119820;&#119808;&#119823;&#119826;</div>
<a href="https://docs.google.com/spreadsheets/d/1_sHzpLwD_wF2o5PTd4YSRnKUjoaKSNYCD-SlogcG7u8/edit#gid=1087980028">https://docs.google.com/spreadsheets/d/1_sHzpLwD_wF2o5PTd4YSRnKUjoaKSNYCD-SlogcG7u8/edit#gid=1087980028</a> </div>
                </div>



            </div>
    </div>
</div>

</div>

<div class="postamble">
    <div class="postamble__entry">Exported 5 message(s)</div>
</div>

</body>
</html>
