<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BHaE ✦ Archive - Chapter 01 Landing</title>
    <link rel="stylesheet" href="../../static/style.css" />
    <link href="../../static/all.css" rel="stylesheet">
    <script src="../../static/scripts.js"></script>
</head>

<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../index.html">Home</a></p>
    <p>Back to Chapter</p>
</div>

<h1>Mission Logs</h1>
<p><a href="mission/overview.html">Mission Overview</a> || <a href="mission/map.html">Map</a></p>
<p><a href="mission/mission-rolls.html">Dice Roll Log</a></p>
</body>
</html>