

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - bridge-se-2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }

        function showSpoiler(event, element) {
            if (element && element.classList.contains('spoiler--hidden')) {
                event.preventDefault();
                element.classList.remove('spoiler--hidden');
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../../../index.html#ch06">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">✵ &#120190;&#120213;&#120206;&#120215;&#120206;&#120217;&#120216;&#39; &#120176;&#120219;&#120202; / bridge-se-2</div>


    </div>
</div>

<div class="chatlog">


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/188867207235764224/53f963617cbb046eb4e8e5d4a623fbc9.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Jake_zero#2157" data-user-id="188867207235764224" style="color: rgb(133,24,45)">Jake | Arvyn</span>


        <span class="chatlog__timestamp">05-Mar-21 11:34 AM</span>

            <div class="chatlog__message " data-message-id="817435010545877002" id="message-817435010545877002">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight">Continuing from bridge-se-1. Also resending the last reply.</div> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/817436092306948106/db031f23f44088cfffc36b065b88ff6d.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Arvyn von Richter#0000" data-user-id="817436092306948106" style="">Arvyn von Richter</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">05-Mar-21 11:39 AM</span>

            <div class="chatlog__message " data-message-id="817436092797681726" id="message-817436092797681726">
                <div class="chatlog__content">
                    <div class="markdown">It would be best to leave it be, continuing the train of who should or should not apologize could lead to another argument. He didn’t want to alienate her further after all.

“Alright, alright...” 

A sigh escaped the ravenette, though his smile remained attached. His head tilted downwards as he sighed and glanced back up to Celestyna. Even if she was offering to answer he needed to be <em>very</em> careful. No one quite understands their limits till they are presented before them. 

<em>In any case... thank you, Celes...</em>

“Well we can play 20 questions with one another then.”

He said jokingly, he would then ponder what to ask. Not the stuff about her dad, that was obviously sore but for what reason he didn’t understand. 

“I never thought to ask but why’d you come to enroll in Garreg Mach? I mean for me, my family sent me here in hopes that I’d learn something and be better for the family... plus it got me away from all the stress of sitting pretty at another party.” 

If they were to understand eachother Arvyn had to lower his guard. Not many people know of what happened behind the doors of the manor. Sure a couple friends knew something went down but Arvyn wasn’t keen to give details. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/817962778262241290/5003dc21d6e13e718f5239b5ae8382af.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Celestyna#0000" data-user-id="817962778262241290" style="">Celestyna</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">06-Mar-21 10:32 PM</span>

            <div class="chatlog__message " data-message-id="817962778807500851" id="message-817962778807500851">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Twenty questions?&quot;

Is that number supposed to mean something, or had he just pulled it out of thin air? She supposes the number twenty might be a good place to start, even if it does seem like a bit much to her.... Once again, her complete lack of knowledge on such Fodlan traditions comes back to haunt her. Hopefully, Arvyn&#39;ll guide her through this game...

&quot;Er, okay....&quot;

Of all things, she had not been expecting him to ask that.

&quot;Why I came to Garreg Mach?&quot; The reasons for that weren&#39;t all that complicated, although she guesses she might not seem like the kind of person fit to be a student.... She didn&#39;t have any prestigious connections that people knew of, and her past was a mystery.... The more she thinks of it, the more she understands why it might be a source of curiosity.

She listens to Arvyn&#39;s response, nodding slightly to herself. That makes sense...the kind of thing she&#39;d expect from a noble, right? 

&quot;Oh...that&#39;s good, then, right? Getting better at things....&quot; She swallows, realizing that the time has come for her to answer the question herself. &quot;Me....&quot; Her hands tighten into fists, buried in the fabric of her skirt. &quot;I guess my reasons are a bit similar...except not really....&quot; That doesn&#39;t make any sense, does it? &quot;I mean...my parents didn&#39;t send me. My dad doesn&#39;t know I&#39;m here...but I think...I&#39;m also here to get stronger. To get better...I guess it&#39;s for my family, too, in a sense....&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/817436092306948106/db031f23f44088cfffc36b065b88ff6d.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Arvyn von Richter#0000" data-user-id="817436092306948106" style="">Arvyn von Richter</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">06-Mar-21 11:25 PM</span>

            <div class="chatlog__message " data-message-id="817976109730758687" id="message-817976109730758687">
                <div class="chatlog__content">
                    <div class="markdown">Arvyn held in a chuckle, he hadn&#39;t been too casual with Celestyna so he hadn&#39;t a clue that she may... take things at face value. He waved his hand a little reassuring her as he tilted his head to the side. He would have to try and be more clear in the future. 

&quot;Oh, no no.. it was merely a turn of phrase!&quot;

He let his hand fall to his lap, rubbing his thumb along his mask. 

&quot;I&#39;ve never played twenty questions in my life to be completely honest.&quot; 

Her response wasn&#39;t something he expected to be honest. Her parents hadn&#39;t sent her so where had she come up with the money? He wasn&#39;t going to ask, not right now. Something that <em>really</em> caught his attention was the mention of her father. Obviously her father was dear to her, but also it seemed like there was some sort of baggage there. Maybe an argument or disagreement? Something to keep in mind. 

&quot;I guess so... I mean hey, maybe my accomplishments will make my family proud!&quot; 

Arvyn wanted to make his family proud, so very desperately he did. Maybe if he made them proud then he&#39;d be allowed to leave the manor of his own accord. Perhaps he wouldn&#39;t be drug to those parties to be an accessory of sorts. Of course those were not his exact thoughts, he was extremely conflicted about how they treated him. He had little to compare it to of course. 

The ravenette listened to the green haired brawlers reasoning, her goals were noble. Sweet even. 

&quot;So you want to become stronger for them? Maybe to protect them or keep them safe?&quot; 

Arvyn guessed with a raised eyebrow, it would track but what had him curious was how she conducted herself on the field. In some respects he felt Celestyna was similar to himself, violence not being their cup of tea. Either she was merciful like him... or there was something weird going on and he wasn&#39;t sure what that could be. 

&quot;Either way, it&#39;s a noble goal.&quot; </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="817976123526611034" id="message-817976123526611034">
                <div class="chatlog__content">
                    <div class="markdown">The tactician picked up his own mask and then glanced over at Celestyna&#39;s. 

&quot;I uh, like your mask. It&#39;s really pretty.&quot; 

He tried shifting the topic to something that he hoped pried a little bit less into her emotions and goals. Baby steps, that&#39;s what they needed to take. Just little steps. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/817962778262241290/5003dc21d6e13e718f5239b5ae8382af.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Celestyna#0000" data-user-id="817962778262241290" style="">Celestyna</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">10-Mar-21 03:14 PM</span>

            <div class="chatlog__message " data-message-id="819302248349827084" id="message-819302248349827084">
                <div class="chatlog__content">
                    <div class="markdown">Huh.

To be honest, that doesn&#39;t clear up much for her, either: although she assumes what he meant was that it was just something he said without any real meaning...or something? Words can be confusing sometimes.

Oh. So it is a game.

Now she&#39;s even more confused.

&quot;Um...this isn&#39;t really my place to say this...but...from what I&#39;ve seen, you&#39;re really strong, and...you&#39;re brave...you&#39;re smart...I don&#39;t see why they wouldn&#39;t be proud of you.&quot; If she said anything weird there, she doesn&#39;t notice. Maybe she&#39;d been a bit too honest there...but, again, she doesn&#39;t realize it.

&quot;Er....&quot;

What does she say there?

Her father...he needed protection, she realizes that now. She&#39;d just been too scared to see it, during the time when she&#39;d been with him: she was just a child back then. All she&#39;d done had been run away, probably wounding him more in the process: she wouldn&#39;t know, as she was too scared to go back.

And as for everyone else....

&quot;It&#39;s not really in that way...um...it&#39;s a bit difficult to explain.&quot; She says, somewhat lamely. &quot;...If you want, I can try to explain it, but, it&#39;s difficult....&quot;

She&#39;s grateful for the diversion, which she shows by picking up her own mask and holding it out, a gesture indicating that Arvyn could take a closer look at it, if he&#39;d like. &quot;Thank you. My father made it, a long time ago...so long I can barely remember it.... But, um, your mask is pretty too. It suits you....&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/817436092306948106/db031f23f44088cfffc36b065b88ff6d.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Arvyn von Richter#0000" data-user-id="817436092306948106" style="">Arvyn von Richter</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">11-Mar-21 06:37 PM</span>

            <div class="chatlog__message " data-message-id="819715764192804935" id="message-819715764192804935">
                <div class="chatlog__content">
                    <div class="markdown">The young man&#39;s expression fell for a moment. If it was under different circumstances he might&#39;ve blushed at what she had said, felt happy about it even but right now? He couldn&#39;t help but fight back against it. 

&quot;Even if that&#39;s true... my family settles for nothing less than perfection. That&#39;s why my brother is so loved... he&#39;s good at everything.&quot; 

Whenever he got to talking about the Richters he was so confused. He loves them, he believes everything they did was for his benefit and wellbeing and yet... he couldn&#39;t shake off this lingering heat that would build whenever discussing them. Not a heat in how he felt when talking about Celestyna, this one burned, emanated from his back and shoulders. Anger? But why? They had his best interests at heart... didn&#39;t they? 

 When the topic shifted to her father and family, he didn&#39;t press it. Not even a little. 

&quot;You don&#39;t have to tell me.&quot; 

He whispered to her before letting the topic go to their masks. He would ask her one day, but not now. Maybe when they&#39;re closer to graduation? Who knew, but there needed to be more time. They needed to build up more trust between one another before that. 

&quot;Your father must&#39;ve been a heck of a craftsman... it looks amazing.&quot; 

He smiled at her as he reached his hands towards it, not grabbing it but more of letting his hands feel the material. He pulled his hands away after a few moment and made the same gesture she did but with his own mask. 

&quot;You think so? I was afraid it was a bit gloomy... but it reminded me of the ravens my family keeps so... I figured I should represent in some form. Oh, your mask... suits you too. I wish my mask had some deep tie like yours, I commissioned it from a craftsman in the town.&quot; </div>
                </div>



            </div>
    </div>
</div>

</div>

<div class="postamble">
    <div class="postamble__entry">Exported 7 message(s)</div>
</div>

</body>
</html>
