

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - bridge-se</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }

        function showSpoiler(event, element) {
            if (element && element.classList.contains('spoiler--hidden')) {
                event.preventDefault();
                element.classList.remove('spoiler--hidden');
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../../../index.html#ch06">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">✵ &#120190;&#120213;&#120206;&#120215;&#120206;&#120217;&#120216;&#39; &#120176;&#120219;&#120202; / bridge-se</div>

            <div class="preamble__entry preamble__entry--small">For Spirits&#39; Eve, the bridge is lit up with magical lanterns and spooky decorations.</div>

    </div>
</div>

<div class="chatlog">


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808224752149856266/db031f23f44088cfffc36b065b88ff6d.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Arvyn von Richter#0000" data-user-id="808224752149856266" style="">Arvyn von Richter</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:36 AM</span>

            <div class="chatlog__message " data-message-id="808224753033936896" id="message-808224753033936896">
                <div class="chatlog__content">
                    <div class="markdown">Ugh... so... so loud. So many people... just so, so, so much. He wasn’t having a bad time by any means but... he needed space, Goddess above he needed to just go and get some quiet. 

He only really had himself to blame, but still! No one told him it was going to be so loud! 

“Mm..” 

He leaned on the railing(?) of the bridge and stared off into space, starting to disassociate. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808225584873472000/cd2575f38603c6964ae067af71574354.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Dahlia von Meyer#0000" data-user-id="808225584873472000" style="">Dahlia von Meyer</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:39 AM</span>

            <div class="chatlog__message " data-message-id="808225585683497000" id="message-808225585683497000">
                <div class="chatlog__content">
                    <div class="markdown">Dahlia needed a breather! It’s not that she was...well ok she was a little anxious. But it was also getting really hot in there. Air was the best solution. 

As she walked along, she took notice of Arvyn. Oh...he’s a classmate, isn’t he?

“..h-hello?” </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808224752149856266/db031f23f44088cfffc36b065b88ff6d.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Arvyn von Richter#0000" data-user-id="808224752149856266" style="">Arvyn von Richter</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:41 AM</span>

            <div class="chatlog__message " data-message-id="808225941381578793" id="message-808225941381578793">
                <div class="chatlog__content">
                    <div class="markdown">Arvyn grabbed at his head at the timid hello. Ugh! Another voice, just... just stop... make it st— 

He turned and recognized Dahlia. 

“O-Oh... hey, you’re um...” 

He lowered his hand and let out a shaky breath. 

“Dahlia, right?” </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808225584873472000/cd2575f38603c6964ae067af71574354.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Dahlia von Meyer#0000" data-user-id="808225584873472000" style="">Dahlia von Meyer</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:42 AM</span>

            <div class="chatlog__message " data-message-id="808226170621526026" id="message-808226170621526026">
                <div class="chatlog__content">
                    <div class="markdown">After a moment of fidgeting she nods slightly, a small smile on her lips. 

“Ah- yes that’s...you’re Arvyn, right? Well- clearly- it’s not hard to miss you and-...I’m rambling- sorry.” </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808224752149856266/db031f23f44088cfffc36b065b88ff6d.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Arvyn von Richter#0000" data-user-id="808224752149856266" style="">Arvyn von Richter</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:45 AM</span>

            <div class="chatlog__message " data-message-id="808226906604306442" id="message-808226906604306442">
                <div class="chatlog__content">
                    <div class="markdown">His head was still throbbing but... it was much quieter so maybe he could handle some conversation. 

“Yeah... strange, we never really talked up till now have we? Pretty funny considering how we’re always in missions...” 

His tone remained shaky as he scratched the back of his FLOOFY hair. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808225584873472000/cd2575f38603c6964ae067af71574354.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Dahlia von Meyer#0000" data-user-id="808225584873472000" style="">Dahlia von Meyer</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:55 AM</span>

            <div class="chatlog__message " data-message-id="808229629584343051" id="message-808229629584343051">
                <div class="chatlog__content">
                    <div class="markdown">”...I don’t talk to many people.”

Which is true! She talks to Hubert, Edelgard, William, Gavrel now! A few others here and there but...

“Meeting new people makes me nervous..” </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808224752149856266/db031f23f44088cfffc36b065b88ff6d.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Arvyn von Richter#0000" data-user-id="808224752149856266" style="">Arvyn von Richter</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:59 AM</span>

            <div class="chatlog__message " data-message-id="808230612606386226" id="message-808230612606386226">
                <div class="chatlog__content">
                    <div class="markdown">“I may be pretty aggressive on the field but I don’t bite.” 

Arvyn tilted his head with a smile, wasn’t a great idea to joke about battle because now he was thinking about it. 

“I get that though... it’s real scary...” </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808225584873472000/cd2575f38603c6964ae067af71574354.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Dahlia von Meyer#0000" data-user-id="808225584873472000" style="">Dahlia von Meyer</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 02:01 AM</span>

            <div class="chatlog__message " data-message-id="808230934579118091" id="message-808230934579118091">
                <div class="chatlog__content">
                    <div class="markdown">”I never said you did.”

Her voice is a bit sassier than a moment ago, but she quickly relaxes and nods. 

“Yeah well...I should get over that, I think...I-I mean...I’ll be head of house at some point I-I cant just be scared of everything...” </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808224752149856266/db031f23f44088cfffc36b065b88ff6d.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Arvyn von Richter#0000" data-user-id="808224752149856266" style="">Arvyn von Richter</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 02:28 AM</span>

            <div class="chatlog__message " data-message-id="808237838663024650" id="message-808237838663024650">
                <div class="chatlog__content">
                    <div class="markdown">“Right... true enough.” 

Arvyn looked back out from the bridge as Dahlia continued to talk then glanced back over. 

“Big shoes to fill... your last name is Meyer, right? What role does your family take?” </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808225584873472000/cd2575f38603c6964ae067af71574354.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Dahlia von Meyer#0000" data-user-id="808225584873472000" style="">Dahlia von Meyer</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 02:30 AM</span>

            <div class="chatlog__message " data-message-id="808238239005016105" id="message-808238239005016105">
                <div class="chatlog__content">
                    <div class="markdown">”Mm..I suppose. We deal with the money aspects...like the bankers to the Empire.”

She sighs quietly. 

“I’ll be working for El- Lady E-Edelgard-...making sure all the money around her isn’t spent where it shouldn’t be.” </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808224752149856266/db031f23f44088cfffc36b065b88ff6d.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Arvyn von Richter#0000" data-user-id="808224752149856266" style="">Arvyn von Richter</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 02:35 AM</span>

            <div class="chatlog__message " data-message-id="808239616339345409" id="message-808239616339345409">
                <div class="chatlog__content">
                    <div class="markdown">“Easy to please her highness then.” 

Arvyn said almost playfully, leaning sideways on the side of the bridge. 

“My family works with... history keeping, recording events... not really exciting stuff but I think it’s cool.” 

A small smile formed. 

“You know... my dad drug me on a few  parties in my childhood for... eh reasons.” 

He waved his hand a little. 

“I can’t recall attending anything involving the Meyers... odd considering the role you guys you fill.” </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808225584873472000/cd2575f38603c6964ae067af71574354.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Dahlia von Meyer#0000" data-user-id="808225584873472000" style="">Dahlia von Meyer</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 02:36 AM</span>

            <div class="chatlog__message " data-message-id="808239858031001611" id="message-808239858031001611">
                <div class="chatlog__content">
                    <div class="markdown">Dahlia feels her face flush as she clears her throat. 

“Ah um...we didn’t go to many. I tended to have nervous breakdowns a-as a kid so my...m-my mothers were too worried to go to many...” </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808224752149856266/db031f23f44088cfffc36b065b88ff6d.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Arvyn von Richter#0000" data-user-id="808224752149856266" style="">Arvyn von Richter</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">10-Feb-21 01:31 PM</span>

            <div class="chatlog__message " data-message-id="809129549408370728" id="message-809129549408370728">
                <div class="chatlog__content">
                    <div class="markdown">“Huh...” 

<em>Yeah that tracks... if the Mock Battle was any indication.</em> 

He would like to learn abkut her but, not with this headache. 

“It was nice to formally meet you, but I better get goin’. Talk again, soon?” 

He gave her a smile before walking off, rubbing his forehead all the while. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/188867207235764224/53f963617cbb046eb4e8e5d4a623fbc9.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Jake_zero#2157" data-user-id="188867207235764224" style="color: rgb(133,24,45)">Jake | Arvyn</span>


        <span class="chatlog__timestamp">14-Feb-21 08:42 PM</span>

            <div class="chatlog__message " data-message-id="810687367563313182" id="message-810687367563313182">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight"> </div> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808224752149856266/db031f23f44088cfffc36b065b88ff6d.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Arvyn von Richter#0000" data-user-id="808224752149856266" style="">Arvyn von Richter</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">14-Feb-21 09:05 PM</span>

            <div class="chatlog__message " data-message-id="810693216508706816" id="message-810693216508706816">
                <div class="chatlog__content">
                    <div class="markdown">Near the opposite end of the bridge Arvyn found himself slowly recovering from the... he wasn&#39;t sure what it was. He hadn&#39;t felt like this since his father had drug him off to the aforementioned balls with other nobles. It was like... a rush, too much going on and his brain just started panicking. It was... scary and it made his head hurt. 

He rubbed his forehead, leaning onto the railing on the bridge like he did earlier. This time he decided to just... take in the atmosphere. He  looked down at the water, it made him... think of someone. A certain green haired eagle, someone who made his heart race... but also made it hurt too. 

&quot;Why am I like this...&quot; 

He asked himself, but he didn&#39;t have an answer to give to himself. He felt so... so bad, if only he hadn&#39;t gone to the pond that day. But the logical side of his brain gave him a stern reminder, you can&#39;t change the past but you can affect the future. Could he really make all this right? If he got the chance to talk to her, he&#39;d have to give it a shot. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808225584873472000/5003dc21d6e13e718f5239b5ae8382af.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Celestyna#0000" data-user-id="808225584873472000" style="">Celestyna</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">14-Feb-21 09:16 PM</span>

            <div class="chatlog__message " data-message-id="810695935210029066" id="message-810695935210029066">
                <div class="chatlog__content">
                    <div class="markdown">She&#39;s never been to a major social event like this before.

Nothing of her time at the academy had prepared her for this. Masked students waltzing on the dance floor, music issuing from every corner, tables groaning under the weight of refreshments.... The lighthearted attitude is infectious, in a way, but at the same time, it feels almost suffocating, like something she needs to get away from, before too much time can pass.

She&#39;d never really been one for dancing, anyways: in any case, she&#39;d never learned how to.

For that reason, she could now be found walking down the bridge at a leisurely pace, not exactly certain of where she&#39;s going. Most people were inside, it seemed, so she could be guaranteed some quiet.... A fact which she didn&#39;t particularly like, considering how she got when she was left on her own.

The bridge is dark, and she can&#39;t see anyone else nearby. The sounds of music and laughter in the distance sound far removed, and no longer friendly or welcoming, more like otherworldly spirits than anything. She stops walking suddenly, lacking the resolve to go further, and takes a seat by the side of the bridge, pressing her hands firmly over her ears.

She closes her eyes. She&#39;ll be all right. Why had she chosen to leave the ballroom? She regrets it already. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808224752149856266/db031f23f44088cfffc36b065b88ff6d.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Arvyn von Richter#0000" data-user-id="808224752149856266" style="">Arvyn von Richter</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">14-Feb-21 09:28 PM</span>

            <div class="chatlog__message " data-message-id="810698973333422130" id="message-810698973333422130">
                <div class="chatlog__content">
                    <div class="markdown">His headache had for the most part passed. Maybe he could find some company elsewhere? Maybe Caster or Rowan was here and he could forget about how he felt by overriding it with a few good laughs. He pushed himself away from the railing and turned on his heel. With this turn he caught a glimpse of the sea green(?) head of hair, he set his other foot down alongside the first. 

<em>Well Arv, you were just asking for a shot to talk to her so here it is... don&#39;t screw it up.</em>

He shut his eyes to push out the mental berating he gave himself, he sucked in some air before quickly shooting it out of his system with an exhale. He could do this, he could do this. He hesitantly began to walk forward, more of her figure was becoming clear and she... she seemed to be in a similar spot as to him. All the energy and noise seemed to be getting to her as well. Maybe she could use some comfort? If he was wrong he might just alienate her further... Fodlan wasn&#39;t built up to what it was now by people being careful. No pain, no gain as they say. 

The ravenette stopped before her and crouched down initially. 

&quot;Hey, uh... Celes?&quot; 

He spoke to her in his usual &#39;soft boy&#39; tone, the one that conveyed a little too much sweetness for the human body to hold in. 

&quot;Are you alright? You don&#39;t look well.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808225584873472000/5003dc21d6e13e718f5239b5ae8382af.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Celestyna#0000" data-user-id="808225584873472000" style="">Celestyna</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">14-Feb-21 09:46 PM</span>

            <div class="chatlog__message " data-message-id="810703631179448330" id="message-810703631179448330">
                <div class="chatlog__content">
                    <div class="markdown"><em>Huh?</em>

Of all people she had been expecting to come across her here, it hadn&#39;t crossed her mind that she might encounter...him.

To be fair, she hadn&#39;t been expecting anyone at all. The bridge felt truly desolate, and in places such as that, she felt truly alone. Other people felt far away, so the sudden presence of another...was a startling summons back to reality. The atmosphere of the occasion did not help with matters.

Tremblingly, she lowers her hands somewhat from her ears, attempting to hide the fact that her hands were, as a matter of fact, shaking. That may have been simply from the cold, but more likely it was due to the fact that she was...afraid. Of what? There seemed to be nothing around, was there?

&quot;...A-Arvyn...?&quot;

She struggles to steady her voice. Already, she can feel some small part of herself reminding her of their encounter at the turtle pond, of how his company might be...unwelcome. Conflicting emotions arise within her. But she doesn&#39;t want him to leave, either: that would mean her being left alone again.

&quot;I&#39;m fine...it&#39;s nothing....&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808224752149856266/db031f23f44088cfffc36b065b88ff6d.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Arvyn von Richter#0000" data-user-id="808224752149856266" style="">Arvyn von Richter</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">14-Feb-21 09:53 PM</span>

            <div class="chatlog__message " data-message-id="810705312352960512" id="message-810705312352960512">
                <div class="chatlog__content">
                    <div class="markdown">Worry came to his face again, was she ok? He&#39;d noticed how timid-for lack of a better word-she could be, but he could tell that it was not fine. His gaze was focused on her hands, why was she trembling? As chilly as it was, did she adjust to temperature that poorly? Or perhaps there was something else as the culprit? 

&quot;Are you sure?&quot; 

He decides to not press her on it before nodding. 

&quot;Alright then, would you mind if I sat near you? I&#39;m in no rush to go back inside with... all of that noise.&quot; 

He found himself chuckling at himself, one that he hoped would ease both of them. He rubbed the cuffling of his outfit with anxiety, the cold biting at his hands and fingers. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808225584873472000/5003dc21d6e13e718f5239b5ae8382af.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Celestyna#0000" data-user-id="808225584873472000" style="">Celestyna</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">14-Feb-21 10:01 PM</span>

            <div class="chatlog__message " data-message-id="810707386242301972" id="message-810707386242301972">
                <div class="chatlog__content">
                    <div class="markdown">She doesn&#39;t know how much to tell him.

On one hand, the less she tells him, the more embarrassment she can save on her part, to avoid admitting to her fears. On the other...if she doesn&#39;t, he might assume she&#39;s uncomfortable around him, and leave, leaving her alone once more. That&#39;s the last thing she wants. Taking a deep breath, she decides to trust him, just this once.

&quot;...Please don&#39;t leave.&quot;

There. She did it. She lowers her gaze again, practically burying her face in the fabric of her uniform skirt as she draws her knees closer to her chest again. To make herself seem as small as possible, in the face of everything, is a reflex she&#39;s gained over the years, almost without realizing it. It made things more...bearable, somehow.

She hopes her statement, cryptic as it may have been, would function as permission enough for him to sit next to her. She&#39;s not sure how to put all of her thoughts into words, anymore.

&quot;...I&#39;m sorry...I just...don&#39;t...like being alone....&quot;

Her voice is so faint it&#39;s almost inaudible, but the night is quiet enough for her voice to seem uncomfortably loud as it is, even to her. She winces slightly, although it&#39;s hidden by how she had positioned her face. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808224752149856266/db031f23f44088cfffc36b065b88ff6d.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Arvyn von Richter#0000" data-user-id="808224752149856266" style="">Arvyn von Richter</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">14-Feb-21 10:22 PM</span>

            <div class="chatlog__message " data-message-id="810712647661125662" id="message-810712647661125662">
                <div class="chatlog__content">
                    <div class="markdown">Her words surprise him a great deal, if she hadn&#39;t hid her face away in her clothing she would&#39;ve seen it on his face. Either she wasn&#39;t as upset with him as he thought or she was scared... scared of something. Arvyn didn&#39;t know what way to take it but he was sure it didn&#39;t matter. Either way it showed a sense of trust. She was willing to at least give him that. He wasn&#39;t about to waste it either. 

&quot;...Alright.&quot; 

He sat down next to her, hesitantly patting her shoulder as a way to try and reassure her. Arvyn was pretty bad at this stuff but with as many friends as he had, he must be doing something right if they&#39;re all still sticking around. 

&quot;It&#39;s ok, I&#39;m not gonna go anywhere. I promise.&quot;

He kept his voice steady, though a slight tremble slipped into his words. He slipped his mask off of his face and set it down into his lap. 

&quot;I understand that, Celes... being alone is kinda scary sometimes. It&#39;s ok though, because... you&#39;re not alone right now.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808225584873472000/5003dc21d6e13e718f5239b5ae8382af.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Celestyna#0000" data-user-id="808225584873472000" style="">Celestyna</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">15-Feb-21 12:31 PM</span>

            <div class="chatlog__message " data-message-id="810926303804915732" id="message-810926303804915732">
                <div class="chatlog__content">
                    <div class="markdown">&quot;...Thank you....&quot;

So he had stayed, after all. A sense of relief immediately floods through her, enough to coax her to finally raise her head a bit, still not making eye contact, however. She raises her hand and tugs a bit at the ribbon securing her mask to her head, loosening it and letting it fall back into her lap. There&#39;s no need for it, now.

She initially flinches at the suddenness of his touch, but after a while, it&#39;s oddly comforting. She leans against his shoulder a bit for support, simply because it makes her feel as though...he&#39;s really there.

<em>He&#39;s right.</em>

She isn&#39;t alone anymore...she&#39;s just being irrational. Memories of the past had gotten the best of her once again, as much as she tries to suppress them. 

&quot;I&#39;m not...you&#39;re...right.&quot;

To distract herself, she focuses on his mask. It&#39;s rather pretty...she wonders where he&#39;d gotten it. Arvyn...she&#39;d treated him badly, back at the fishing pond, hadn&#39;t she? She shouldn&#39;t have overreacted as she did.... Why did she always end up pushing the people who seemed to care for her away?

&quot;...I&#39;m sorry, Arvyn...I shouldn&#39;t have...gotten upset at you...back there....&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808224752149856266/db031f23f44088cfffc36b065b88ff6d.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Arvyn von Richter#0000" data-user-id="808224752149856266" style="">Arvyn von Richter</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">15-Feb-21 09:47 PM</span>

            <div class="chatlog__message " data-message-id="811066072412979220" id="message-811066072412979220">
                <div class="chatlog__content">
                    <div class="markdown">This was starting to be more than he expected. He wasn’t expecting her to start trusting him this much... if that even was that. People were so complicated. 

“Of course.” 

He felt the extra bit of weight against his shoulder as she leaned against him, with that a faint dusting of pink went upon his cheeks. Arvyn was usually very iffy on touch, didn’t like being touched unless he initiated contact but Celestyna was a special case. She always was in his mind. 

He didn’t respond to her admitting to him being correct, not worth sounding arrogant. Arvyn knew he was right though, in both physical and emotional standpoints. Celestyna wasn’t alone, if no one else then he would gladly stand with her. He knew how it felt to be alone and no one should experience that. He took his mind off of that and looked at her mask. The oceanic design suited the green haired girl perfectly in Arvyn’s eyes. He would have to ask her about where she got it later. 

Then her apology came, one he felt was unnecessary. He pushed it too far, even if he didn’t understand then, he did now. He would react poorly if someone pressed him about his past. 

“You don’t need to apologize, Celes. I... I went too far. Everyone has a right to their privacy and I...” 

The words were caught in his throat, his heart stopped for a moment. What was he so scared of? She wouldn’t run from him or push him away... they were both going through a learning point. 

“... I wanted to know more about you. I went about it the wrong way though, you’re just such a great person and I wanna understand you better. It’s... selfish and I should’ve been more up front about that. So, I’m the one who is sorry... if you’re willing to forgive me at least somewhat.” </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808225584873472000/5003dc21d6e13e718f5239b5ae8382af.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Celestyna#0000" data-user-id="808225584873472000" style="">Celestyna</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">22-Feb-21 10:33 PM</span>

            <div class="chatlog__message " data-message-id="813614468407492638" id="message-813614468407492638">
                <div class="chatlog__content">
                    <div class="markdown">It&#39;s not that she&#39;s placing full <em>trust</em> in him. Although she&#39;d like to do that, at this point in time, that&#39;s a matter for her subconscious to settle: one that she might rethink, once she&#39;s far away from the danger of being out in the dark, seemingly alone. When she&#39;s back to a well-lit area, full of students....

&quot;Still....&quot;

Another shiver escapes her. Privacy...a thing which she so craved, and yet which directly contrasted with the inner workings of her mind. It was the moments when she was in private, on her own, when she was most likely to forget the cover she was maintaining, the fragile facade of a human that she passed off as while in the company of others. <em>Privacy</em> often corresponded with <em>solitude.</em>

&quot;I...still...shouldn&#39;t have responded like I did....&quot;

In part, she knows why she did, exactly why her heart had jumped ahead of her mind and shunned Arvyn back there. She was fearful that, if she told Arvyn one thing...she&#39;d end up telling him more, and then all her secrets would come spilling out, culminating in Arvyn seeing her as she really was, beneath her mask.

It was a fear she would have to face, however, if she were to exist in the company of humans as she planned to.

&quot;...Please don&#39;t apologize.&quot; 

She takes a deep breath, steeling herself.

&quot;If you&#39;d like...I can try to answer any...questions....I want to understand you as well, Arvyn.&quot;

<em>And I want you to understand me.</em> Those seven words are ones which she will never speak, however much she may wish to. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808224752149856266/db031f23f44088cfffc36b065b88ff6d.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Arvyn von Richter#0000" data-user-id="808224752149856266" style="">Arvyn von Richter</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">22-Feb-21 10:50 PM</span>

            <div class="chatlog__message " data-message-id="813618779577647155" id="message-813618779577647155">
                <div class="chatlog__content">
                    <div class="markdown">It would be best to leave it be, continuing the train of who should oe should not apologize could lead to another argument. He didn’t want to alienate her further after all.

“Alright, alright...” 

A sigh escaped the ravenette, though his smile remained attached. His head tilted downwards as he sighed and glanced back up to Celestyna. Even if she was offering to answer he needed to be <em>very</em> careful. No one quite understands their limits till they are presented before them. 

<em>In any case... thank you, Celes...</em>

“Well we can play 20 questions with one another then.”

He said jokingly, he would then ponder what to ask. Not the stuff about her dad, that was obviously sore but for what reason he didn’t understand. 

“I never thought to ask but why’d you come to enroll in Garreg Mach? I mean for me, my family sent me here in hopes that I’d learn something and be better for the family... plus it got me away from all the stress of sitting pretty at another party.” 

If they were to understand eachother Arvyn had to lower his guard. Not many people know of what happened behind the doors of the manor. Sure a couple friends knew something went down but Arvyn wasn’t keen to give details. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/263740688779182091/29957b4175fecb25d0a4cf027fe192b7.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Kasmus#2216" data-user-id="263740688779182091" style="color: rgb(26,188,156)">Kasmus</span>


        <span class="chatlog__timestamp">05-Mar-21 01:56 AM</span>

            <div class="chatlog__message " data-message-id="817289570051817512" id="message-817289570051817512">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight">The bridge has many visitors it seems</div> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808225584873472000/a2454518a7e4281aa24d4d5f6614e2ff.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="William von Yunasta#0000" data-user-id="808225584873472000" style="">William von Yunasta</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">05-Mar-21 02:05 AM</span>

            <div class="chatlog__message " data-message-id="817291682810167346" id="message-817291682810167346">
                <div class="chatlog__content">
                    <div class="markdown">“Yeesh-“

He mutters under his breath as he tugs off the mask that had covered his face. He rubs his face lightly with his sleeve, man that thing made his face feel sweaty. Maybe it’s just a poorly made mask, but regardless he’s taking a mask break.

He closes his golden eyes, letting the cool breeze blow. It’s rather refreshing, the mountain air of the monastery. Well- now that he’s thought about the place and the academy, his brain has once again reminded him that he’s struggling in school and shouldn’t be wasting time at some party. Bleh. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808225584873472000/f1e552837e3e93541dfbb9096bcc5f12.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Veriko Kasside#0000" data-user-id="808225584873472000" style="">Veriko Kasside</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">05-Mar-21 02:18 AM</span>

            <div class="chatlog__message " data-message-id="817294882363932684" id="message-817294882363932684">
                <div class="chatlog__content">
                    <div class="markdown"><em>Cool as the ballroom is, it isn&#39;t actually that cool, temperature-wise.  However, having to retreat to the cold isn&#39;t an obstacle, it&#39;s an opportunity!  The bridge is quite near, certainly there&#39;ll be another chance encounter waiting upon that glorious hunk of stone?</em>

<em>So, the fabled spider queen skipped along outside, and admired the chilly air, spooky atmosphere of the night, and...  Blindingly white head of hair?  She&#39;d never seen someone like that around, this is clearly the chance encounter she seeks!  The webbed one sauntered over to the white boy, ready to ask him a question of great importance.</em>

<em>She fought the urge to try and sneak up and scare him, her visage would most likely cause him to fall off the bridge and perish!  She&#39;d knocked people off of ledges without the great mask, so there&#39;s no doubt he&#39;d perish if she unleashed such a scare upon him.</em>

<em>So, the important question was uttered casually, once she was in range.</em>  &quot;Hey, I can&#39;t figure out if your hair makes you look old or handsome.  What do people usually say?&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808225584873472000/a2454518a7e4281aa24d4d5f6614e2ff.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="William von Yunasta#0000" data-user-id="808225584873472000" style="">William von Yunasta</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">05-Mar-21 02:27 AM</span>

            <div class="chatlog__message " data-message-id="817297305676939284" id="message-817297305676939284">
                <div class="chatlog__content">
                    <div class="markdown">He was definitely in his own head so a spook would’ve probably at least made him jump a little. But still that question is... 

He blinks, and looks over to the stranger in a peculiar spider mask. Was that a compliment or a rude statement. He genuinely puts his free hand to his hair in thought, not quite sure what to say. 

“I uh... don’t... know? I can’t say I’ve been uh... called either of those before. Not exactly a popular person so...”

His mask still in his hand, he doesn’t really consider replacing it, he crosses his arms. 

“That’s uh... certainly a fun way to start a conversation though! Nice mask.” 

He smiles softly, happy to take the distraction. He’s still thinking about the question though. The idea that they think he’s handsome gives him a slight pink warmth but the old part makes him self conscious. Does he look old...? He’s certainly never thought of himself as handsome either though... </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808225584873472000/f1e552837e3e93541dfbb9096bcc5f12.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Veriko Kasside#0000" data-user-id="808225584873472000" style="">Veriko Kasside</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">05-Mar-21 02:44 AM</span>

            <div class="chatlog__message " data-message-id="817301408201965609" id="message-817301408201965609">
                <div class="chatlog__content">
                    <div class="markdown"><em>Hm, not a popular person...  Well, that doesn&#39;t really matter, he clearly has taste if he chose too compliment her mask!  Terrifying as it is, the craftmanship is definitely praiseworthy, so decrees its creator.  Though, it&#39;s unfortunate that he doesn&#39;t really have an answer...</em>

<em>The smile that always found its place on Veriko&#39;s face grew wider, seeing that the white boy had one too.  Yes, this is definitely a meeting worth continuing!  All six eyes wandered down to the mask in his hands, why&#39;d he take it off?  Oh, no matter, it&#39;s pretty cool in a simplistic way, so let&#39;s go ahead and compliment it!  ...After accepting his compliment!</em>

&quot;Thanks!  I couldn&#39;t think of anything else, so I just voiced my confusion regarding your hair.  Oh, and I made the mask myself, along with this whole outfit!&quot;

<em>She did a quick twirl, showing off the hopefully-not-really-spider-infested dress.  After, she gestured towards the white lad&#39;s mask.</em>

&quot;Yours is nice too, though in a much more simplistic way!  I&#39;d never wear something plainly cool like that, but I can appreciate the style nonetheless.  Though, I&#39;m sure that was obvious with all the webs I put on this, right?&quot;

<em>She stretched her cape in front of her, showing off the pattern on the back once again.</em> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808225584873472000/a2454518a7e4281aa24d4d5f6614e2ff.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="William von Yunasta#0000" data-user-id="808225584873472000" style="">William von Yunasta</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">05-Mar-21 02:54 AM</span>

            <div class="chatlog__message " data-message-id="817303983579463700" id="message-817303983579463700">
                <div class="chatlog__content">
                    <div class="markdown">She seems very proud of her work, which is valid; they have made a very nice looking mask and outfit. He chuckles to himself softly, watching her twirl and show off. 

“You’re really talented if you actually made all of that. And uh, thanks! I didn’t make my mask of course but it’s nice to know it looks nice too.”

He looks down to it for a moment. Ah, well. Sweaty face time it is. He sticks it back on, shifting it to make sure it’s comfortable, then looking to his conversational companion once again.

“And yeah you uh, clearly have a more exotic taste than me! Or you just like spiders, heh... but yeah sorry for not really answering about my hair. It was born white, it runs in the family. Never been told I look old because of it, and I certainly don’t think it makes me look handsome... but- uh... nice to meet you. Sorry that I don’t have any fun questions in return. Besides maybe uh... how long did making that whole getup take?”

Party conversations with people he’s never met, how fun! At least, they seem fun so why not enjoy himself. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808225584873472000/f1e552837e3e93541dfbb9096bcc5f12.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Veriko Kasside#0000" data-user-id="808225584873472000" style="">Veriko Kasside</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">05-Mar-21 03:10 AM</span>

            <div class="chatlog__message " data-message-id="817308178848809000" id="message-817308178848809000">
                <div class="chatlog__content">
                    <div class="markdown"><em>Clearly, this lad has an eye for talent, too!  Of course not many people actually made their mask for this, but that doesn&#39;t mean any of them are lame or anything!  Seeing the mask on the lad&#39;s face confirmed that it looked nice, it even half matches that hair!</em>

<em>Exotic taste?  Yes!  All of his points were interesting, even if being reminded of the length of the design process was appalling.  Let&#39;s start at the beginning!</em>  &quot;While Spiders look pretty neat, I&#39;d definitely say I&#39;m more in the exotic taste department!  Definitely more of a cat person overall, but I decided that I needed something scary for this time of year, so I went with the animal my brother fears second most!  The first isn&#39;t all that scary, really...&quot;

<em>As for the hair...  Not much to say about his answer!  It&#39;s natural, but it still looks weird.</em>  &quot;As for your hair, well...  I&#39;ve seen some weird hair colors, but white kinda stands out!  Next time we run into each other, you gotta give me a status report on people&#39;s thoughts on it, I can&#39;t make up my mind.&quot;

<em>As for the development time...  Man, that was a while...</em>  &quot;Wouldn&#39;t say that&#39;s a fun question, but it&#39;d be good to know about the length of the process, yeah!  Took me <em>six months.</em>  I wasn&#39;t focused or anything, but still, that&#39;s a long time working on something!  It took me so long to get the spider pattern looking right!  But I must say, the effort really does show, right?&quot; </div>
                </div>



            </div>
    </div>
</div>

</div>

<div class="postamble">
    <div class="postamble__entry">Exported 32 message(s)</div>
</div>

</body>
</html>
