

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - cemetery-se</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }

        function showSpoiler(event, element) {
            if (element && element.classList.contains('spoiler--hidden')) {
                event.preventDefault();
                element.classList.remove('spoiler--hidden');
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../../../index.html#ch06">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">✵ &#120190;&#120213;&#120206;&#120215;&#120206;&#120217;&#120216;&#39; &#120176;&#120219;&#120202; / cemetery-se</div>

            <div class="preamble__entry preamble__entry--small">Unlike most of the monastery, the decorations here are relatively muted and respectful. Each headstone has a candle on top.</div>

    </div>
</div>

<div class="chatlog">


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808218941020962916/40ca7626d09c4628285946d255c1ee77.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Dolche Mahr Idunn#0000" data-user-id="808218941020962916" style="">Dolche Mahr Idunn</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:13 AM</span>

            <div class="chatlog__message " data-message-id="808218941524541491" id="message-808218941524541491">
                <div class="chatlog__content">
                    <div class="markdown"><em>They&#39;re probably not here, are they?</em>

Is a thought that&#39;s running through the wolf&#39;s head, a soft frown taking up the space where her pseudo smile would be. Tears prick at her eyes, it doesn&#39;t help that her head is angled down a little, huh.

Hm. She might as well start going then. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808218941020962916/4909199512b48287908bc2dd52a4fcf3.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Esme#0000" data-user-id="808218941020962916" style="">Esme</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:26 AM</span>

            <div class="chatlog__message " data-message-id="808222191464087562" id="message-808222191464087562">
                <div class="chatlog__content">
                    <div class="markdown">There&#39;s some ounce of regret that comes out their palms as sweat. So many people. So many <em>strangers.</em> Best to walk outside and breathe some air.

Except they do an awkward speedwalk with their head down, straight into the cemetery, and nearly run into someone.

&quot;Watch it-&quot; No, no, that&#39;s wrong. &quot;Um. Sorry. I should&#39;ve been watching it, I mean.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808218941020962916/40ca7626d09c4628285946d255c1ee77.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Dolche Mahr Idunn#0000" data-user-id="808218941020962916" style="">Dolche Mahr Idunn</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:52 AM</span>

            <div class="chatlog__message " data-message-id="808228707353231391" id="message-808228707353231391">
                <div class="chatlog__content">
                    <div class="markdown">Funny how suddenly, water just slorped back into my eye...

She jumps up a little bit forward but quickly regains her footing. Huh? She&#39;s a little startled, gulping nervously as the fellow pink haired attendee corrects themselves. 

&quot;I-I-I... Um. I... It&#39;s alright. Don&#39;t worry about it sweetheart.&quot; She looks away rapidly, and awkwardly. But she finds herself looking back, worrying about them maybe? 

 &quot;Are you alright?&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808218941020962916/4909199512b48287908bc2dd52a4fcf3.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Esme#0000" data-user-id="808218941020962916" style="">Esme</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:59 AM</span>

            <div class="chatlog__message " data-message-id="808230443026874408" id="message-808230443026874408">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Uh-&quot; They blink. That is a very, very good question most people don&#39;t bother asking them for a whole slew of reasons, and so they aren&#39;t really sure how to respond. But hey, at least the nice lady isn&#39;t angry at them. 

&quot;Not really,&quot; they answer honestly, because dealing with niceties isn&#39;t their forte. &quot;&#39;S not your fault, though. Just- lots of people, and all.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808218941020962916/40ca7626d09c4628285946d255c1ee77.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Dolche Mahr Idunn#0000" data-user-id="808218941020962916" style="">Dolche Mahr Idunn</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 02:27 AM</span>

            <div class="chatlog__message " data-message-id="808237679828926464" id="message-808237679828926464">
                <div class="chatlog__content">
                    <div class="markdown">She let&#39;s out a strained huff, giving them a somber look. She&#39;s been there. If it wasn&#39;t for her parents conditioning her into huge political festivities by force, she would have stayed the same way. 

<em>I get you. I&#39;ve been there.</em> Is what she wanted to say, but... her tongue wouldn&#39;t let her.

&quot;Well, you&#39;re certainly in luck.&quot; She finally uttered, looking back down at the headstones, the little flame flickering over and over entrancing her again. &quot;There&#39;s not many of us here. Just me, you, and them.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808218941020962916/4909199512b48287908bc2dd52a4fcf3.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Esme#0000" data-user-id="808218941020962916" style="">Esme</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">12-Feb-21 11:58 AM</span>

            <div class="chatlog__message " data-message-id="809830881183006770" id="message-809830881183006770">
                <div class="chatlog__content">
                    <div class="markdown">Them? Dark eyes cast glances around anxiously, head swiveling until they realized she meant the headstones. Or maybe the dead - though that was a sad concept in and of itself. Did they continue to exist well past their expiration? Or was the end truly the end?

&quot;Do you...&quot; They ran a cautious finger over a spot of lichen on one headstone. &quot;Do you believe in ghosts?&quot;

//me? finally replying to this because they&#39;ve been living in my brain? no way </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/523037873100947458/a5f8485476d8ff313b7b93214d718336.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ndd#9714" data-user-id="523037873100947458" style="">Ndd</span>


        <span class="chatlog__timestamp">16-Feb-21 11:51 AM</span>

            <div class="chatlog__message " data-message-id="811278633552445536" id="message-811278633552445536">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight"> </div> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/813277501572907079/e1ff644557e53c4607fa4afca7c5a2b7.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Alyse Cino#0000" data-user-id="813277501572907079" style="">Alyse Cino</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">22-Feb-21 12:14 AM</span>

            <div class="chatlog__message " data-message-id="813277502427889664" id="message-813277502427889664">
                <div class="chatlog__content">
                    <div class="markdown">A lovely view it was for the emotionless girl to enjoy as she walked along the pathway and gazed on these lit gravestone, making the atmosphere much more lively than before. And of course, the spirits were restless today due to the festivity but at least they stayed in one spot to have fun.

Alyse took a stop by the usual seat of a stump as she sat down and observed the sight of the cemetery and the ambiance of the place during Spirit&#39;s Eve. </div>
                </div>



            </div>
    </div>
</div>

</div>

<div class="postamble">
    <div class="postamble__entry">Exported 8 message(s)</div>
</div>

</body>
</html>
