

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - dance-area-se</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }

        function showSpoiler(event, element) {
            if (element && element.classList.contains('spoiler--hidden')) {
                event.preventDefault();
                element.classList.remove('spoiler--hidden');
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../../../index.html#ch06">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">✵ &#120190;&#120213;&#120206;&#120215;&#120206;&#120217;&#120216;&#39; &#120176;&#120219;&#120202; / dance-area-se</div>

            <div class="preamble__entry preamble__entry--small">The main dance area of the reception hall, which has been cleared out just for this occasion.</div>

    </div>
</div>

<div class="chatlog">


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/172515560846917642/a_d75c3d99401eb08128606fe50ab4e1f5.gif" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Locrius 光复香港#9567" data-user-id="172515560846917642" style="color: rgb(12,242,212)">Syl ᘛ⁐̤ᕐᐷ #SylvainThirstGang</span>


        <span class="chatlog__timestamp">08-Feb-21 12:57 AM</span>

            <div class="chatlog__message " data-message-id="808214819189686292" id="message-808214819189686292">
                <div class="chatlog__content">
                    <div class="markdown">The minstrels start off with an upbeat tune!
<a href="https://youtu.be/WIx4srqU3BE">https://youtu.be/WIx4srqU3BE</a> </div>
                </div>


                    <div class="chatlog__embed">
                            <div class="chatlog__embed-color-pill" style="background-color: rgba(255,0,0,255)"></div>

                        <div class="chatlog__embed-content-container">
                            <div class="chatlog__embed-content">
                                <div class="chatlog__embed-text">
                                        <div class="chatlog__embed-author">

                                                <span class="chatlog__embed-author-name">
                                                        <a class="chatlog__embed-author-name-link" href="https://www.youtube.com/channel/UCEnoLUrcZRE7vngub68Al-A">stantough</a>
                                                </span>
                                        </div>

                                        <div class="chatlog__embed-title">
                                                <a class="chatlog__embed-title-link" href="https://www.youtube.com/watch?v=WIx4srqU3BE">
                                                    <div class="markdown">Shakira - Hips Don&#39;t Lie [Bardcore / Medieval Style Cover]</div>
                                                </a>
                                        </div>

                                        <div class="chatlog__embed-description">
                                            <div class="markdown">#bardcore #tavernwave #medieval #medievaltiktok

Medieval instrument cover

Want some Stantough bardcore medieval merchandise?
<a href="https://bardcorestore.com">https://bardcorestore.com</a>

Youtube: <a href="http://www.youtube.com/stantough">http://www.youtube.com/stantough</a></div>
                                        </div>

                                </div>

                                    <div class="chatlog__embed-thumbnail-container">
                                        <a class="chatlog__embed-thumbnail-link" href="https://i.ytimg.com/vi/WIx4srqU3BE/maxresdefault.jpg">
                                            <img class="chatlog__embed-thumbnail" src="https://i.ytimg.com/vi/WIx4srqU3BE/maxresdefault.jpg" alt="Thumbnail">
                                        </a>
                                    </div>
                            </div>


                        </div>
                    </div>

                    <div class="chatlog__reactions">
                            <div class="chatlog__reaction">
                                <img class="emoji emoji--small" alt="tyranlol" title="tyranlol" src="https://cdn.discordapp.com/emojis/653202555207286785.png">
                                <span class="chatlog__reaction-count">2</span>
                            </div>
                            <div class="chatlog__reaction">
                                <img class="emoji emoji--small" alt="catjam" title="catjam" src="https://cdn.discordapp.com/emojis/779145494349873173.gif">
                                <span class="chatlog__reaction-count">2</span>
                            </div>
                            <div class="chatlog__reaction">
                                <img class="emoji emoji--small" alt="CatVibe" title="CatVibe" src="https://cdn.discordapp.com/emojis/741122512225697902.gif">
                                <span class="chatlog__reaction-count">1</span>
                            </div>
                    </div>
            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808222111688556567/a1353459fb943e37a154cdbdd4255468.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ahab Ishmael#0000" data-user-id="808222111688556567" style="">Ahab Ishmael</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:26 AM</span>

            <div class="chatlog__message " data-message-id="808222112903856128" id="message-808222112903856128">
                <div class="chatlog__content">
                    <div class="markdown">He has no idea what he&#39;s doing! He&#39;s just grooving in the dance spaces and trying his absolute hardest to try keep in sync with the beats of the song.
His mask is pretty secure, so that&#39;s good enough for him to freestyl whateveres going on! </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808222111688556567/e33a83338349cedc41d23b9b306153c3.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Claude von Riegan#0000" data-user-id="808222111688556567" style="">Claude von Riegan</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:34 AM</span>

            <div class="chatlog__message " data-message-id="808224118977593355" id="message-808224118977593355">
                <div class="chatlog__content">
                    <div class="markdown">And this is exactly why being fashionably late is usually the best idea. But hey, there&#39;s a Black Eagle groovin&#39; on the dance floor! The magic guy - the sleight of hand kind, that is, though he does the other as well.

&quot;That&#39;s it, man!&quot; Claude exclaims, joining Ahab in kind of just throwing his arms around and stepping to the beat. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808222111688556567/a1353459fb943e37a154cdbdd4255468.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ahab Ishmael#0000" data-user-id="808222111688556567" style="">Ahab Ishmael</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:40 AM</span>

            <div class="chatlog__message " data-message-id="808225686614966273" id="message-808225686614966273">
                <div class="chatlog__content">
                    <div class="markdown">Oh cool! Someone is here to join him, and it looks like that golden deer mischief maker! Surprising they haven&#39;t already met yet given personalities, but this is great too!

&quot;I&#39;ve never been to something like this before and I have no idea what I&#39;m doing!&quot; That&#39;s it, Ahab, dance away those bad thoughts, today is a distraction day for good things only! </div>
                </div>



                    <div class="chatlog__reactions">
                            <div class="chatlog__reaction">
                                <img class="emoji emoji--small" alt="Dancing" title="Dancing" src="https://cdn.discordapp.com/emojis/684916010092068933.gif">
                                <span class="chatlog__reaction-count">4</span>
                            </div>
                    </div>
            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808222111688556567/e33a83338349cedc41d23b9b306153c3.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Claude von Riegan#0000" data-user-id="808222111688556567" style="">Claude von Riegan</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:44 AM</span>

            <div class="chatlog__message " data-message-id="808226670271397909" id="message-808226670271397909">
                <div class="chatlog__content">
                    <div class="markdown">Ahab&#39;s inner thoughts are spot on! Tonight is for fun and vibing Only. No exceptions!

&quot;You&#39;re doing great!&quot; Claude reassures him, doing a silly set of moves with his legs up high and his hands splayed out that is secretly just the electro shuffle. &quot;These are usually waaay more boring. Guess the old farts who run this place know how to throw a good party, huh?&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808222111688556567/a1353459fb943e37a154cdbdd4255468.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ahab Ishmael#0000" data-user-id="808222111688556567" style="">Ahab Ishmael</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:51 AM</span>

            <div class="chatlog__message " data-message-id="808228508538765313" id="message-808228508538765313">
                <div class="chatlog__content">
                    <div class="markdown">&#39;old farts&#39; isn&#39;t the word he would use, but he&#39;s right enough!

&quot;I belive your Claude, yeah? The names Ahab!&quot; Might aswell introduce himself now, though he gets the feeling Claude already knew about him with how he&#39;s heard here and there about the boy.
&quot;They would have done somethin&#39; like this before, yeah? I guess the &#39;Old farts&#39; have taken feedback from previous times!&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808222111688556567/e33a83338349cedc41d23b9b306153c3.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Claude von Riegan#0000" data-user-id="808222111688556567" style="">Claude von Riegan</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:55 AM</span>

            <div class="chatlog__message " data-message-id="808229572331569232" id="message-808229572331569232">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Yup! Nice to meet ya, Ahab.&quot; He would probably stick his hand out to shake, but he&#39;s in the middle of throwing down some sick moves. Though he pauses for a moment to throw his head back and laugh at the old fart comment repeated.

&quot;That&#39;d make sense. The one at the start of the year, after the mock battle, was also pretty good. Guess they actually listen to the youths sometimes, huh?&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808222111688556567/a1353459fb943e37a154cdbdd4255468.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ahab Ishmael#0000" data-user-id="808222111688556567" style="">Ahab Ishmael</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 02:02 AM</span>

            <div class="chatlog__message " data-message-id="808231175818051634" id="message-808231175818051634">
                <div class="chatlog__content">
                    <div class="markdown">Ah, there was a party after the mock battle? He must&#39;ve missed it given the situation he was in. Best not to bring that up. Ahab would also shake hands if he wasn&#39;t already groovin the best way he knew he could groove, which wasn&#39;t all that great, but he was groovin nonethless

Time to bring in the jokes.
&quot;So... Do ya come here often?&quot; 
<em>brilliant</em> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808222111688556567/e33a83338349cedc41d23b9b306153c3.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Claude von Riegan#0000" data-user-id="808222111688556567" style="">Claude von Riegan</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 02:07 AM</span>

            <div class="chatlog__message " data-message-id="808232602342653972" id="message-808232602342653972">
                <div class="chatlog__content">
                    <div class="markdown">Aha, a fellow jokester! It really is a shame they haven&#39;t properly met until now. Claude&#39;s been too busy trying to tie up loose ends. This House Leader stuff really hasn&#39;t been as much of an opportunity-maker as he thought it would.

&quot;Nah, but I sure should if cuties like you show up every time,&quot; he returns, flashing his pearly whites. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808222111688556567/a1353459fb943e37a154cdbdd4255468.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ahab Ishmael#0000" data-user-id="808222111688556567" style="">Ahab Ishmael</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 02:17 AM</span>

            <div class="chatlog__message " data-message-id="808234932370407434" id="message-808234932370407434">
                <div class="chatlog__content">
                    <div class="markdown">Awww, he&#39;s gonna blush, and he very much is! He&#39;s no flirt, but he&#39;s doing his best with atleast trying to catch up to Claudes level of playfulness. He returns a smile and stops dancing for a moment to lean back a little, giving Claude two thumbs up and his own big smile. And back to dancing(?)

&quot;Someone like <em>me</em> will only be here tonight, so your time here is limited!&quot; He winks at him </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808222111688556567/e33a83338349cedc41d23b9b306153c3.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Claude von Riegan#0000" data-user-id="808222111688556567" style="">Claude von Riegan</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 02:22 AM</span>

            <div class="chatlog__message " data-message-id="808236322237448192" id="message-808236322237448192">
                <div class="chatlog__content">
                    <div class="markdown">He chuckles in response. It&#39;s always guaranteed to be a great time when someone takes his flirting as the joke it&#39;s meant to be, instead of freezing up and sputtering (though that can be fun in its own way as well).

&quot;Then may I have this dance?&quot; he inquires, segueing his bouncy moves into a dramatic and highly-askew bow. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808222111688556567/a1353459fb943e37a154cdbdd4255468.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ahab Ishmael#0000" data-user-id="808222111688556567" style="">Ahab Ishmael</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 02:31 AM</span>

            <div class="chatlog__message " data-message-id="808238484686372895" id="message-808238484686372895">
                <div class="chatlog__content">
                    <div class="markdown">This is actually works out great for him! He can practise flirting for Sabella (which he&#39;s not even sure if he needs to) for when she flirts with him (If he realises) during dates and just normal hangouts and stuff! Speaking of which, did she come?

&quot;Well of course you can! Apologese in advance if I step on you&quot; He holds down his head a bit and holds out a hand to him! </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/166887618016051201/00691e3880139380dd7327b31d1abab5.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Worldwide#2507" data-user-id="166887618016051201" style="color: rgb(0,255,24)">Worldwide</span>


        <span class="chatlog__timestamp">21-Feb-21 08:59 PM</span>

            <div class="chatlog__message " data-message-id="813228440195039302" id="message-813228440195039302">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight"> they danced idk </div> <span class="chatlog__edited-timestamp" title="21-Feb-21 08:59 PM">(edited)</span></div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808222111688556567/0a91931603fb6282c089bcb2ab201475.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Fritz Drystan#0000" data-user-id="808222111688556567" style="">Fritz Drystan</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">01-Mar-21 08:03 PM</span>

            <div class="chatlog__message " data-message-id="816113329118248990" id="message-816113329118248990">
                <div class="chatlog__content">
                    <div class="markdown">Nervous as he was at the beginning of the party, once he and Emilie step into the dance floor muscle memory begins to help the rogue along to starting what would hopefully be a smooth transition into a waltz. The intent being that once the two students eased into the dance, they&#39;d seamlessly meld into the crowd of other dancers. Nothing to be embarrassed of once they merged with the group, right?

To his credit, it would seem that the hours poured into his etiquette lessons, oh so <em>generously</em> paid for by his parents, were beginning to pay off, as Fritz would begin to easily find his footing into said waltz. Hopefully that meant his partner would be able to follow his lead as the two began to slowly and gracefully circle round the dance floor along with their fellow students.

&quot;How am I doing so far? I&#39;m not quite used to dancing, but I have practiced.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808222111688556567/9d9d8e5572d2c27044f74f17a93f64b1.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Emilie Friedrich#0000" data-user-id="808222111688556567" style="">Emilie Friedrich</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Mar-21 10:41 PM</span>

            <div class="chatlog__message " data-message-id="816515711777767455" id="message-816515711777767455">
                <div class="chatlog__content">
                    <div class="markdown">Emilie, unlike Fritz, had two left feet when it came to dancing. She occasionally stepped on his foot and cursed to herself before looking around at everyone else who seemed to be dancing effortlessly. Ugh, it is her fault for not taking up any of the dancing lessons her mother offered her. Turning back to her dancing partner, she let out a long breath and frowned slightly at his question.

&quot;Does it seem like I know what I&#39;m doing here, Fredrick? Clearly you&#39;re more skilled than I am when it comes to these kind of things.&quot;

Turning along with everyone else on the floor, Emilie huffs.

&quot;But I suppose you&#39;re doing fine, not stepping on my feet.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808222111688556567/0a91931603fb6282c089bcb2ab201475.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Fritz Drystan#0000" data-user-id="808222111688556567" style="">Fritz Drystan</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">04-Mar-21 03:18 AM</span>

            <div class="chatlog__message " data-message-id="816947671356276746" id="message-816947671356276746">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Alright then, no time to learn like the present!&quot;

He&#39;s almost afraid to admit that the lessons had come in handy, something in him bubbling with frustration from the mental image of his father mouthing an: &quot;I told you so.&quot; Regardless, he had been the one to get Emilie into this situation, as such it was only fair that he&#39;d follow through with getting her out of it. His training was rigorous, so hopefully that would mean he&#39;d be able to pass on some of his own knowledge to his friend.

&quot;Don&#39;t worry about getting tripped up, I&#39;m here to catch you, just try to follow along with the rhythm. Count if you have to.&quot;

At the very least, the rogue is able to ensure their feet don&#39;t become entangled as they circled the dance floor, but he&#39;d whisper the beat for Emilie to follow along to should she need it.

<em>1-2-3, 1-2-3, 1-2-3...</em> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808222111688556567/9d9d8e5572d2c27044f74f17a93f64b1.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Emilie Friedrich#0000" data-user-id="808222111688556567" style="">Emilie Friedrich</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">07-Mar-21 12:40 AM</span>

            <div class="chatlog__message " data-message-id="817995069776461825" id="message-817995069776461825">
                <div class="chatlog__content">
                    <div class="markdown">Fritz’s counting did actually help, she nodded silently in a small thank you before slowly but surely getting a decent idea of how the dance went. Looking around them for a moment she realized how long it had been since she went to something like this. Perhaps right around the time she met Dimitri she begged her parents not to take her to lavish parties anymore. They stressed her out and thankfully they understood that. 

“1…2…3”

Pausing, the blonde tipped her head back up to look at her classmate before member of something. 

“Wasn’t there something you wanted to tell me when we were at the cafe..?…. You don’t- need to, obviously.”

A frown formed on Emilie’s lips as she grit her teeth slightly. There was no need for her to be so nosy, it was out of character for her. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808222111688556567/0a91931603fb6282c089bcb2ab201475.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Fritz Drystan#0000" data-user-id="808222111688556567" style="">Fritz Drystan</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">10-Mar-21 02:55 AM</span>

            <div class="chatlog__message " data-message-id="819116213942616105" id="message-819116213942616105">
                <div class="chatlog__content">
                    <div class="markdown">Ah yes, their talk at the cafe...

In truth all Fritz really wanted in that regard was to &quot;even the score,&quot; as it were. Emilie took the time to open up to him in a way that clearly wasn&#39;t usual for her, and in the face of that confession it was the rogue&#39;s opinion that one good turn deserved another. She opened up to him, thus it would only be fair that he traded in some information as well. That&#39;s how it worked right?

&quot;Right well...it was more like I wanted to return the favor.&quot;

Looks like the counting paid off, as the two slide their way around the other dance participants, Fritz noted that their conversation probably made for a good distraction from the task at hand. If that meant she could internally keep the beat all the better.

&quot;I learned a bit more about you that day, so I think it&#39;d be fair to do the same for you. So go ahead, ask me anything.&quot; </div>
                </div>



            </div>
    </div>
</div>

</div>

<div class="postamble">
    <div class="postamble__entry">Exported 18 message(s)</div>
</div>

</body>
</html>
