

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - dining-hall-se</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }

        function showSpoiler(event, element) {
            if (element && element.classList.contains('spoiler--hidden')) {
                event.preventDefault();
                element.classList.remove('spoiler--hidden');
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../../../index.html#ch06">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">✵ &#120190;&#120213;&#120206;&#120215;&#120206;&#120217;&#120216;&#39; &#120176;&#120219;&#120202; / dining-hall-se</div>

            <div class="preamble__entry preamble__entry--small">It&#39;s technically empty right now - but no one&#39;s stopping you from going in!</div>

    </div>
</div>

<div class="chatlog">


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808383180980879390/8a22c15e0f09806be7ac6b9626a74df4.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Linhardt Von Hevring#0000" data-user-id="808383180980879390" style="">Linhardt Von Hevring</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 12:06 PM</span>

            <div class="chatlog__message " data-message-id="808383181609893990" id="message-808383181609893990">
                <div class="chatlog__content">
                    <div class="markdown">What a bother... but at least there was food to be had. 

The green-haired teen is about to grab a plate of food, glad the area isn’t too crowded at the moment. It looked pretty good, actually. And there was more of a variety than usual. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808383180980879390/835664409aa2b6e2700413b5dd8081e1.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Constance von Nuvelle#0000" data-user-id="808383180980879390" style="">Constance von Nuvelle</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 12:11 PM</span>

            <div class="chatlog__message " data-message-id="808384448558137434" id="message-808384448558137434">
                <div class="chatlog__content">
                    <div class="markdown">Constance was incredibly giddy! Balls had been one of her favourite things when she was back at House Nuvelle territory. 

As she approached the food table, curious about whatever they were about to be fed, she recognised a particularly green-looking boy, and Constance waltzed in casually.

&quot;Oh, no! They are all out of that sweet pastry I had seen before.&quot; She complained. &quot;Do you know where I can find some more?&quot; Constance turned to ask him, feigning ignorance. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808383180980879390/8a22c15e0f09806be7ac6b9626a74df4.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Linhardt Von Hevring#0000" data-user-id="808383180980879390" style="">Linhardt Von Hevring</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 12:18 PM</span>

            <div class="chatlog__message " data-message-id="808386314554703944" id="message-808386314554703944">
                <div class="chatlog__content">
                    <div class="markdown">Hand half-way towards one of the dishes, it reversed as he turned to look at the source of the voice. A voice that was... incredibly familiar. 
He couldn’t place it quite yet. 

“They should be bringing more soon. You’ll just have to wait a moment.”

Eyes then narrowed slightly, brain working to place the-
Oh!

“Constance?” 
His volume was low, almost as if he didn’t believe it at first. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808383180980879390/835664409aa2b6e2700413b5dd8081e1.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Constance von Nuvelle#0000" data-user-id="808383180980879390" style="">Constance von Nuvelle</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 12:22 PM</span>

            <div class="chatlog__message " data-message-id="808387413042659328" id="message-808387413042659328">
                <div class="chatlog__content">
                    <div class="markdown">A giggle escaped her lips, and Constance nodded eagerly. &quot;You&#39;re most correct, Linlin! I am so glad I was allowed to attend-- these kinds of balls are to die for!&quot;

While it was odd for Linhardt to come, Constance was eager to see him here! 

&quot;It&#39;s such a pleasure to see you!&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808383180980879390/8a22c15e0f09806be7ac6b9626a74df4.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Linhardt Von Hevring#0000" data-user-id="808383180980879390" style="">Linhardt Von Hevring</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 12:27 PM</span>

            <div class="chatlog__message " data-message-id="808388541931061258" id="message-808388541931061258">
                <div class="chatlog__content">
                    <div class="markdown">Linlin...?
He was glad to be wearing a mask, though his slightly reddening cheeks could still be seen peeking under. 

He cleared his throat. 

“Likewise, Constance. Though I can’t agree with you, there.”
A soft sigh came from slightly parted lips, hand resuming its quest to dish out a plate for himself. 

“The only good thing about an event this loud and lively is the food.”
Though he would be lying if he said he hadn’t come for any other reason. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808383180980879390/835664409aa2b6e2700413b5dd8081e1.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Constance von Nuvelle#0000" data-user-id="808383180980879390" style="">Constance von Nuvelle</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 12:33 PM</span>

            <div class="chatlog__message " data-message-id="808390177152040980" id="message-808390177152040980">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Oh, is that so? Dear, let&#39;s just enjoy the food then! However, little poor me...&quot; Constance soon whined slightly, putting airs of disrepair. &quot;Who will dance with me? I know nobody around the monastery, as sad as that is!&quot;

Glad that Linhardt wouldn&#39;t be able to see her huge grin and rosy cheeks under her mask, she looked around, waving her typical fan in front of her face.

&quot;Unless, that is... You&#39;re willing to accompany me! Yes, such would be perfect!&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808383180980879390/8a22c15e0f09806be7ac6b9626a74df4.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Linhardt Von Hevring#0000" data-user-id="808383180980879390" style="">Linhardt Von Hevring</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 12:44 PM</span>

            <div class="chatlog__message " data-message-id="808392752869539900" id="message-808392752869539900">
                <div class="chatlog__content">
                    <div class="markdown">“Dance? You wish for me... to <em>dance</em> with you?”

He thought for a moment. While he disliked the activity - steps were still seared in his mind - perhaps... perhaps he didn’t mind the idea as much if it was with her. 

Linhardt’s trust in this person had grown exponentially since she had shown him that library, and he felt like the feeling was mutual. 
However, before his thoughts could cause too much of a pause, a small smile crossed his lips after another sigh passed through them. 

“I suppose... that is what these events are for.”

He wouldn’t admit that he started to look forward to it. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808383180980879390/835664409aa2b6e2700413b5dd8081e1.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Constance von Nuvelle#0000" data-user-id="808383180980879390" style="">Constance von Nuvelle</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:00 PM</span>

            <div class="chatlog__message " data-message-id="808396931507421184" id="message-808396931507421184">
                <div class="chatlog__content">
                    <div class="markdown">Constance felt a flash of determination and pride run through her chest. Getting someone as uninterested in social activities as Linlin to accept her offer for a dance was splendid! Plus, she&#39;d been looking forward to spending more time with him anyways!

&quot;That&#39;s the spirit, Linlin! Oh, I am so eager to dance!&quot; However, Constance&#39;s actions may appear strange to Linhardt, who was a surface-dweller. &quot;We don&#39;t usually do any kind of celebration— or at least, not this big and pompous! Which is why, to be fair, I adore it! Though, I assume you&#39;ve been to a fair share of those before?&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808383180980879390/8a22c15e0f09806be7ac6b9626a74df4.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Linhardt Von Hevring#0000" data-user-id="808383180980879390" style="">Linhardt Von Hevring</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:10 PM</span>

            <div class="chatlog__message " data-message-id="808399469451935794" id="message-808399469451935794">
                <div class="chatlog__content">
                    <div class="markdown">Green locks shifted as his head tilted, brows furrowing behind the mask.
Perhaps another time. 

“Unfortunately, I have. My father has dragged me to many a social event. Quite a hassle, if you ask me.”

Finally having a sufficient plate full of food, manners that had been drilled into him resurfaced, and he offered her an arm while holding his plate in the other. 

“I’d like to eat first, however.” </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808383180980879390/835664409aa2b6e2700413b5dd8081e1.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Constance von Nuvelle#0000" data-user-id="808383180980879390" style="">Constance von Nuvelle</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 04:29 PM</span>

            <div class="chatlog__message " data-message-id="808449394490867722" id="message-808449394490867722">
                <div class="chatlog__content">
                    <div class="markdown">Oh! Constance had forgotten that she&#39;d originally come here to eat, but ended up talking to the handsome Linhardt.

&quot;Sure thing! I may as well try some of the other savoury appetizers...&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808383180980879390/8a22c15e0f09806be7ac6b9626a74df4.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Linhardt Von Hevring#0000" data-user-id="808383180980879390" style="">Linhardt Von Hevring</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 09:58 PM</span>

            <div class="chatlog__message " data-message-id="808532244486291467" id="message-808532244486291467">
                <div class="chatlog__content">
                    <div class="markdown">“They do look quite appetising, I must say.”

Another smile crossed his lips, not even recognising his wordplay. He would wait for her to dish her own plate before leading them over to the tables. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808383180980879390/835664409aa2b6e2700413b5dd8081e1.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Constance von Nuvelle#0000" data-user-id="808383180980879390" style="">Constance von Nuvelle</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">10-Feb-21 03:03 PM</span>

            <div class="chatlog__message " data-message-id="809152633839419463" id="message-809152633839419463">
                <div class="chatlog__content">
                    <div class="markdown">Constace grabbed a few fruity-looking tarts, and some small savoury scones. She didn&#39;t eat much, most of the time.

&quot;What do you fancy eating, Lin?&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808383180980879390/8a22c15e0f09806be7ac6b9626a74df4.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Linhardt Von Hevring#0000" data-user-id="808383180980879390" style="">Linhardt Von Hevring</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">12-Feb-21 12:16 PM</span>

            <div class="chatlog__message " data-message-id="809835383582883850" id="message-809835383582883850">
                <div class="chatlog__content">
                    <div class="markdown">He thought on this for a moment, glancing at the food on his plate to generate an answer that said what he liked in as few words as possible.

&quot;Let&#39;s see... I do enjoy the occasional sweet, but I would say fish and pheasant are my favourites.&quot;

Eyes scanned the area, hoping to find a seat that didn&#39;t have anyone around it. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/166887618016051201/00691e3880139380dd7327b31d1abab5.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Worldwide#2507" data-user-id="166887618016051201" style="color: rgb(0,255,24)">Worldwide</span>


        <span class="chatlog__timestamp">22-Feb-21 12:17 AM</span>

            <div class="chatlog__message " data-message-id="813278193561108480" id="message-813278193561108480">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight"> yoinked </div> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/813306951814348841/91ff768ad177f042a04e87c5b09782b8.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ashley Halara Gildus#0000" data-user-id="813306951814348841" style="">Ashley Halara Gildus</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">22-Feb-21 02:11 AM</span>

            <div class="chatlog__message " data-message-id="813306952569454593" id="message-813306952569454593">
                <div class="chatlog__content">
                    <div class="markdown">and there she was, she finally found her way out of the public area to just get away from... <em>them</em>. 

Horrible, horrible people asking for a dance, only to immediately flinch from her looks as soon as she lowered the mask. Typical. It was all &#39;good looks&#39; until BOOM, scars. They were all met with a very angry small silver haired girl.

&quot;Assholes...&quot; She murmured to herself. Everyone either doesn&#39;t have a proper view or they just want in on nobility.

She took some a thing or two from the refreshments table into a plate and made her escape to the dining hall </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/813306951814348841/b6bcac11eaf18fe09d2721640590c955.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Olvaerr Krislind#0000" data-user-id="813306951814348841" style="">Olvaerr Krislind</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Feb-21 02:33 AM</span>

            <div class="chatlog__message " data-message-id="813674825470050304" id="message-813674825470050304">
                <div class="chatlog__content">
                    <div class="markdown">Playing all evening was no difficult task for the bard, finding himself being a minstrel for the evening. It was a very exciting gig, but even he needed to give his fingers rest and his stomach needed filling. 

<em>Also</em> finding his way into the dining hall, he noticed the silver-haired student and promptly joined her. A wide smile on his expression as he did.

&quot;Hello, hello, Ashley!&quot;

The friendliness would never dampen!

&quot;You are looking radiant, as always! Are you enjoying your time here?&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/813306951814348841/91ff768ad177f042a04e87c5b09782b8.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ashley Halara Gildus#0000" data-user-id="813306951814348841" style="">Ashley Halara Gildus</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Feb-21 03:50 AM</span>

            <div class="chatlog__message " data-message-id="813694184379645962" id="message-813694184379645962">
                <div class="chatlog__content">
                    <div class="markdown">With a cupcake shoved under the nose of her mask (into her mouth), it was full up of that delectable strawberry flavour. Absolutely beautifully made. She was having a good time until.. <em>that voice</em>

Instantly looking over, she sees Olvaerr.
<em>OH FUCKING HELLS BELLS. WHY HIM?</em>

Swallowing her baked goods, she drags her plate a bit closer to herself before speaking up
&quot;Hello, Ovlaerr...&quot;

Radiant as always? Piss off
&quot;No, I am not enjoying my time here. That&#39;s why I&#39;m eating alone&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/813306951814348841/b6bcac11eaf18fe09d2721640590c955.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Olvaerr Krislind#0000" data-user-id="813306951814348841" style="">Olvaerr Krislind</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Feb-21 03:53 AM</span>

            <div class="chatlog__message " data-message-id="813694928483516436" id="message-813694928483516436">
                <div class="chatlog__content">
                    <div class="markdown">The response caused him to blink a few times in surprise. It was so sudden, and she seemed to be enjoying her food before- was it something else? His expression morphed to confusion. His head tilting.

&quot;You&#39;re not?&quot;

He repeated, as if looking for the answer with his own words. He instead decided to pry without thinking.

&quot;Why is that?&quot; 

Though Ashley had a clear displeasure for him, the dense bard still wanted to find a good relationship with the female. He knew there was goodness in there. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/813306951814348841/91ff768ad177f042a04e87c5b09782b8.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ashley Halara Gildus#0000" data-user-id="813306951814348841" style="">Ashley Halara Gildus</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Feb-21 03:58 AM</span>

            <div class="chatlog__message " data-message-id="813696398653653033" id="message-813696398653653033">
                <div class="chatlog__content">
                    <div class="markdown">Was this the time for a rant? Time to get angry at the wrong person for a different reason? A little bit of character development? Perhaps

&quot;I always, ALWAYS, have to put up with the same shit from the same snot bratty assholes who think I&#39;m an easy shot&quot; 

She stands up, slamming her hands onto the table a bit.

&quot;And it&#39;s always. ALWAYS. FOR. THE SAME. FUCKING. REASON.&quot;
She oh so dramatically rips off her mask and slamming that also onto the table, pointing a finger to her scared eye.
&quot;YOU TELL ME I&#39;M NOT A HORRIBLE SIGHT WITH A STRAIGHT FACE&quot;

She is very upset </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/813306951814348841/b6bcac11eaf18fe09d2721640590c955.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Olvaerr Krislind#0000" data-user-id="813306951814348841" style="">Olvaerr Krislind</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Feb-21 04:08 AM</span>

            <div class="chatlog__message " data-message-id="813698728015822908" id="message-813698728015822908">
                <div class="chatlog__content">
                    <div class="markdown">The bard was easily frightened, and this would be not exception. His hands pulled to his chest as he watched her stand and slam her hands down. 

But, when it came to it&#39;s conclusion, the sensitive male eased up. Those soft eyes of his returned just that as he looked to her. He understood why she was upset, now. He felt let threatened and more comfortable to speak as he always did.

That expression of his wouldn&#39;t waver as he answered.

&quot;You are not a horrible sight, Ashley.&quot;

He started, his hands folding together on the table. Olvaerr wouldn&#39;t break eye contact as he spoke. 

&quot;I have said it before, I will certainly say it again. You are lovely. I am deeply sorry that people look to you merely for your title. I can only imagine how stressful and uncomfortable that must be.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/813306951814348841/91ff768ad177f042a04e87c5b09782b8.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ashley Halara Gildus#0000" data-user-id="813306951814348841" style="">Ashley Halara Gildus</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Feb-21 04:28 AM</span>

            <div class="chatlog__message " data-message-id="813703718423101511" id="message-813703718423101511">
                <div class="chatlog__content">
                    <div class="markdown">&quot;lies, lies, LIES&quot;
She&#39;s going to reach up over her side of the table, &#39;carefully&#39; pushing aside her cupcakes and other goodies while a hand grab the bard.
&quot;LOOK, LOOK AT IT. HOW CAN A BURN CREATE THREE ALMOST IDENTICAL MARKS?! BURNT FUCKING SKIN OVER THE EYES. HOW CAN I STILL EVEN SEE?!&quot; 
At this point, she&#39;s gone from being angry about other people to being mad at not being able to understand her own magical failure. 

She lets go of the bard and drops to the table faced down. She&#39;s just tired and sad now.

&quot;Why is everything so hard??&quot;
A little crack in her voice. She&#39;s broken herself within 20 seconds of the bards approach. Record time.
Oh and she&#39;s crying a little </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/813306951814348841/b6bcac11eaf18fe09d2721640590c955.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Olvaerr Krislind#0000" data-user-id="813306951814348841" style="">Olvaerr Krislind</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Feb-21 04:43 AM</span>

            <div class="chatlog__message " data-message-id="813707527669809173" id="message-813707527669809173">
                <div class="chatlog__content">
                    <div class="markdown">Olvaerr was easily grabbed, his eyes widening in fear not at her face, but at his own safety. She had threatened his lute before, but luckily that wasn’t in her reach. 

When he was released, he let out a deep breath, falling to his seat once again. A hand moved to his chest as he adjusted his collar. 

That soft smile returned once he was safe again. Though there was more sympathy behind it now. Olvaerr extended a hand, gently patting it to the female’s head. He was merely doing the act that his mother would do for him when he was upset, finding no issue with such a thing. Any irritation, he would pull his hand back.

“I understand life being hard.” He started, but not talking in depth about himself, now wasn’t the time. 

“If I am being honest, I see no purpose in lying. I never have. I find it to be a lovely example of your survival, not a damper on your beauty. Something so original should simply heighten your beauty, I would think. Even if there are many questions with it.”

With his other hand, Olvaerr would offer a handkerchief to the sobbing female. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/813306951814348841/91ff768ad177f042a04e87c5b09782b8.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ashley Halara Gildus#0000" data-user-id="813306951814348841" style="">Ashley Halara Gildus</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Feb-21 05:02 AM</span>

            <div class="chatlog__message " data-message-id="813712320378175519" id="message-813712320378175519">
                <div class="chatlog__content">
                    <div class="markdown">Luckily, she&#39;s managing to hold back what she can from her tears so that there would be as little evidence as possible that she was in her weakest at the moment. Still faced down, she&#39;s going to allow these pats for now, as it was something her own mother once did to her aswell.

&quot;Wh-What do you know? You don&#39;t h-have a single deformaty&quot;
She looks up slightly, her eyes have gone a bit red from tear build up.
&quot;Y-Your one of the most h-handsome people here....&quot;
She hasn&#39;t registered that she just admitted that, and at this rate it doesn&#39;t look like she&#39;s using enough brainpower to realise.

She sees the handkerchief the other is offering, and yoinks it.
&quot;I-I&#39;m not crying... But I-I&#39;ll take it for later...&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/813306951814348841/b6bcac11eaf18fe09d2721640590c955.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Olvaerr Krislind#0000" data-user-id="813306951814348841" style="">Olvaerr Krislind</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Feb-21 06:04 PM</span>

            <div class="chatlog__message " data-message-id="813909119257018368" id="message-813909119257018368">
                <div class="chatlog__content">
                    <div class="markdown">Olvaerr couldn&#39;t help himself from smiling a bit brighter at the compliment. Had she ever given him one in their various times talking? He wasn&#39;t sure. But he&#39;d still take what he&#39;d get whenever a compliment was pressed his way!

&quot;I have eyes, do I not? My eyes can only see myself in a mirror, where as I am able to see you at your best and worst. So my opinion on your beauty remains.&quot;

The bard&#39;s smile didn&#39;t dwindle. His hand finally retracting to himself as he granted a light expression.

&quot;I do not believe deformity is the best word for it. No matter what incorrect opinions others may have. It&#39;s a story, I believe. What that story is is for you to decide. And those er... <em>bratty bum holes</em> are merely missing out on a very passioante and strong woman.&quot;

He&#39;ll simply nod at her words. His next words weren&#39;t necessarily a lie, though the statement itself was avoiding the truth. 

&quot;I understand, it is quite dusty in here so I understand if your eyes get a bit bothered from it. My bad, I should have cleaned better but I was far too busy preparing the other minstrels for the evening.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/813306951814348841/91ff768ad177f042a04e87c5b09782b8.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ashley Halara Gildus#0000" data-user-id="813306951814348841" style="">Ashley Halara Gildus</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">24-Feb-21 12:11 AM</span>

            <div class="chatlog__message " data-message-id="814001428346437644" id="message-814001428346437644">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Y-yeah... clean better next time&quot; Atleast he tried to make her feel better about herself.

A small, quiet sniffle can be heard from from underneath where Ashley&#39;s head is, not that it was her holding back tears or anything. Slowly she drags herself back to sit on her own seat properly... Almost. She&#39;s still got her arms out infront of herself while she leans her head on table, looking up at the bard and letting out a soft sigh.

&quot;I bet you think I&#39;m some weak kid now....&quot;  She tried to act tough, hide it all until now, but with the sudden break down and the sweats in the not so far distance, she can&#39;t help but think little of herself at the moment.

&quot;I wish I didn&#39;t have a crest sometimes... Maybe mum and dad would&#39;ve tried for another kid to take the throne instead, would have less presure on me.&quot; Throne as in not the big Faerghus throne, but the one for her own little house of course.

&quot;Was it easy for you? Growing up?&quot; She knows he&#39;s a commoner, but maybe with his perspective she could do something about that when it&#39;s finally up to her to decide something for her people. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/813306951814348841/b6bcac11eaf18fe09d2721640590c955.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Olvaerr Krislind#0000" data-user-id="813306951814348841" style="">Olvaerr Krislind</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">24-Feb-21 02:35 AM</span>

            <div class="chatlog__message " data-message-id="814037887242862602" id="message-814037887242862602">
                <div class="chatlog__content">
                    <div class="markdown">&quot;I will do my best to do better.&quot;

Olvaerr&#39;s hands moved to support his chin with the back of his hand. Now that she seemed to be relaxing, he internally hoped that he helped even a little. He wasn&#39;t entirely sure with Ashley. Her reactions to things always confused him.

&quot;Why would I think that? I have seen how you fight. If anyone is a weak kid, we both know it would be me.&quot;

The bard laughed softly, before continuing on with the question.

&quot;Easy... Hm...&quot;

Those bright blue eyes would close for a moment as he thought it over. The answer was rather easy, but he wanted to find his words correctly.

&quot;I would say life was good! But I most certainly would not say it was easy. My family was horribly poor, we could barely afford to buy food. It was even harder paying to keep our home. My parents worked tremendously hard to simply get me this lute.&quot; He patted the instrument at his back gently. &quot;But, when my mother grew ill...&quot;

Normally, Olvaerr had no problems speaking of his past. But, thinking about his past negatively wasn&#39;t something he wanted to do. Life for the bard was seen through an exclusively positive view. So, he&#39;d instead switch away from that part.

&quot;I never truly thought of crests. Though I do realize being here how much they truly mean to society and social standings. Such a silly thing. The person baring them means far more. I can only imagine how upsetting and troubling it can be to have to bare such a duty.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/813306951814348841/91ff768ad177f042a04e87c5b09782b8.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ashley Halara Gildus#0000" data-user-id="813306951814348841" style="">Ashley Halara Gildus</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">24-Feb-21 04:39 AM</span>

            <div class="chatlog__message " data-message-id="814068880795762708" id="message-814068880795762708">
                <div class="chatlog__content">
                    <div class="markdown">Hearing someone else <em>almost</em> beging to tell a little story of family to Ashley got her looknig up to the bard (literally, not figuratively) from her postion. She so rude to him and he&#39;s just so... Unbarabley nice and positive. He came from a poor family, his parents worked an extreme amount for an instrument and yet, Ashley has been given all these things and just pushed them away.

&quot;Goddess I&#39;m such an asshole...&quot; But what&#39;s this? Ashley brings in her arms into a cross, hiding her face from the bard. You can <em>almost</em> hear what she&#39;s saying from underneath
&quot;You probably hate me for being how I am&quot; There&#39;s a little croaky sound in her voice, followed by another sniffle.

She threatened that lute of his, and breaking that probably would have completely broken his heart along with any sentimental value along with it. Though one day it would be inevitable that he would have to replace it.

She&#39;s doing her best to hide her weak cries. She looks back up to him, eyes a bit more red.
&quot;I&#39;m...&quot; And in the quietest tone possible. <em>&quot;sorry&quot;</em>. Almost inaudable, but the movement of her mouth clearly showed she said something </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/813306951814348841/b6bcac11eaf18fe09d2721640590c955.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Olvaerr Krislind#0000" data-user-id="813306951814348841" style="">Olvaerr Krislind</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">25-Feb-21 12:36 AM</span>

            <div class="chatlog__message " data-message-id="814370117419925505" id="message-814370117419925505">
                <div class="chatlog__content">
                    <div class="markdown">Olvaerr was quiet, making it easy to hear just what the female was saying. He let in a light breath, smiling light despite the conversation. Mr Positivity could never be put down. Despite her quiet tone, he wouldn&#39;t realize he may not have meant to have heard it.

&quot;I do not hate you, I have told you moments ago! I find your energy to be very exciting. Though I can be a bit intimidated by the aggression, I have had negative repercussions for how I act before. Though, I can never understand why...&quot;

The apology was a surprise- and he wasn&#39;t entirely sure if he&#39;d gotten it right, though. But, he hoped he did. It made him feel soft in a way. He figured he would stick with his assumption. 

&quot;It is quite alright, Ashley. I don&#39;t hold such things against people.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/813306951814348841/91ff768ad177f042a04e87c5b09782b8.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ashley Halara Gildus#0000" data-user-id="813306951814348841" style="">Ashley Halara Gildus</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">25-Feb-21 01:43 AM</span>

            <div class="chatlog__message " data-message-id="814387010760474635" id="message-814387010760474635">
                <div class="chatlog__content">
                    <div class="markdown">She has trouble seeing how he could get into trouble being only nice to people (excluding how she was to him), it seemed like anything could get anyone into trouble eventually. Ashley couldn&#39;t think of any scenario that he could be nice and it didn&#39;t work out... Maybe outside of normal conversation when assertiveness is needed. She thinks it was best not to question it

With a final sniffle, she sits herself up, no longer hiding herself under her arms.
&quot;Why did you come sit with me? I&#39;ve been nothing but rude to you before&quot;

She&#39;s been nothing but rude to a very large percentage of people, like Birdwatcher from the underground place. But he also saw her embarrasing display for magic, so maybe being nicer to him means he won&#39;t tell others about that... maybe. </div>
                </div>



            </div>
    </div>
</div>

</div>

<div class="postamble">
    <div class="postamble__entry">Exported 29 message(s)</div>
</div>

</body>
</html>
