

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - seating-area-1-se</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }

        function showSpoiler(event, element) {
            if (element && element.classList.contains('spoiler--hidden')) {
                event.preventDefault();
                element.classList.remove('spoiler--hidden');
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../../../index.html#ch07">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">✵ &#120190;&#120213;&#120206;&#120215;&#120206;&#120217;&#120216;&#39; &#120176;&#120219;&#120202; / seating-area-1-se</div>

            <div class="preamble__entry preamble__entry--small">A corner of the reception hall that has some empty tables and seats, for people tired of dancing or standing around.</div>

    </div>
</div>

<div class="chatlog">


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808221521716969483/9d9d8e5572d2c27044f74f17a93f64b1.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Emilie Friedrich#0000" data-user-id="808221521716969483" style="">Emilie Friedrich</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:33 AM</span>

            <div class="chatlog__message " data-message-id="808223907094069278" id="message-808223907094069278">
                <div class="chatlog__content">
                    <div class="markdown">Not too far from Ashley is another pair of lions. A brunette and a blonde to be exact. Emilie turns to look at Fritz. 

“Why are we here again?” </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808221521716969483/0a91931603fb6282c089bcb2ab201475.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Fritz Drystan#0000" data-user-id="808221521716969483" style="">Fritz Drystan</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:39 AM</span>

            <div class="chatlog__message " data-message-id="808225369492684800" id="message-808225369492684800">
                <div class="chatlog__content">
                    <div class="markdown">There&#39;s a smile on his face, certainly. But truth be told, he was a great deal more nervous about the dance than he&#39;d like to admit.

&quot;I told you, these can be nice, and the social interaction can&#39;t be bad for either of us.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808221521716969483/9d9d8e5572d2c27044f74f17a93f64b1.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Emilie Friedrich#0000" data-user-id="808221521716969483" style="">Emilie Friedrich</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:49 AM</span>

            <div class="chatlog__message " data-message-id="808227938217492500" id="message-808227938217492500">
                <div class="chatlog__content">
                    <div class="markdown">”Yes but we’re both terrified right now, aren’t we?”

She turns back to look at everyone dancing, small itch to dance herself but...no. First of all, Ahab’s out there and she’d rather not deal with him. 

“...I only came because you asked, so don’t wussy out now.” </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808221521716969483/0a91931603fb6282c089bcb2ab201475.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Fritz Drystan#0000" data-user-id="808221521716969483" style="">Fritz Drystan</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:52 AM</span>

            <div class="chatlog__message " data-message-id="808228715904761866" id="message-808228715904761866">
                <div class="chatlog__content">
                    <div class="markdown">He too is looking out to the dance floor. His eyes dart around the area, spotting several people he&#39;s familiar with, good points of conversation to retreat to if needed...if he can find the strength to leave this spot that is.

&quot;I know I know, I just...I&#39;ve never done something like this before. I&#39;m not used to noble shindigs.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808221521716969483/9d9d8e5572d2c27044f74f17a93f64b1.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Emilie Friedrich#0000" data-user-id="808221521716969483" style="">Emilie Friedrich</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:57 AM</span>

            <div class="chatlog__message " data-message-id="808230014087856211" id="message-808230014087856211">
                <div class="chatlog__content">
                    <div class="markdown">His comment makes her snort, shaking her head and sighing. 

“You think I’m used to them? I’ve only been to like...two in my life. I refused to go to the others...hated them.”

Thinking to herself for a moment, she huffs. 

“Want to make a deal?” </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808221521716969483/0a91931603fb6282c089bcb2ab201475.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Fritz Drystan#0000" data-user-id="808221521716969483" style="">Fritz Drystan</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 02:01 AM</span>

            <div class="chatlog__message " data-message-id="808230931100991518" id="message-808230931100991518">
                <div class="chatlog__content">
                    <div class="markdown">Now that gets him to raise a brow. Usually he&#39;s the one that likes to cut deals, but it seemed the tables had turned. Anything was a nice distraction from the creeping dread in his mind really. 

&quot;Sure, whatcha got in mind?&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808221521716969483/9d9d8e5572d2c27044f74f17a93f64b1.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Emilie Friedrich#0000" data-user-id="808221521716969483" style="">Emilie Friedrich</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 02:02 AM</span>

            <div class="chatlog__message " data-message-id="808231229920247848" id="message-808231229920247848">
                <div class="chatlog__content">
                    <div class="markdown">Breathe in. Breathe out. If you don’t step out of your comfort zone, neither will he. 

“...let’s dance. If we do that, I dunno. Maybe we can just get over the nerves .” </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808221521716969483/0a91931603fb6282c089bcb2ab201475.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Fritz Drystan#0000" data-user-id="808221521716969483" style="">Fritz Drystan</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 02:08 AM</span>

            <div class="chatlog__message " data-message-id="808232748997148672" id="message-808232748997148672">
                <div class="chatlog__content">
                    <div class="markdown">...Holy crap.
That&#39;s...remarkably brave, especially considering she&#39;s must be just as on edge as he was. Alright, there was no way he&#39;d take this gesture for granted, time to return the favor.

<em>She really has come a long way.</em>

With one last big breath of his own he offers his hand to her and bows slightly.

&quot;Deal. By all means, my lady.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808221521716969483/9d9d8e5572d2c27044f74f17a93f64b1.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Emilie Friedrich#0000" data-user-id="808221521716969483" style="">Emilie Friedrich</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 02:11 AM</span>

            <div class="chatlog__message " data-message-id="808233489245798400" id="message-808233489245798400">
                <div class="chatlog__content">
                    <div class="markdown">Gagging slightly, Emilie rolls her eyes dramatically before looking at the hand. Fuck she hoped her hands weren’t stupid rough feeling. Well anyway-

Taking the hand, she starts tugging him towards the dance floor without another word. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/523037873100947458/a5f8485476d8ff313b7b93214d718336.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ndd#9714" data-user-id="523037873100947458" style="">Ndd</span>


        <span class="chatlog__timestamp">16-Feb-21 11:25 AM</span>

            <div class="chatlog__message " data-message-id="811272025565954058" id="message-811272025565954058">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight"> </div> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/811278584781340682/0dc2492b2d030406cc9d944a165ccbfa.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Leonie Pinelli#0000" data-user-id="811278584781340682" style="">Leonie Pinelli</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">16-Feb-21 11:51 AM</span>

            <div class="chatlog__message " data-message-id="811278585687572520" id="message-811278585687572520">
                <div class="chatlog__content">
                    <div class="markdown">Leonie boringly watched the dance floor happened before her as she yawned and watched the couple dance on the floor of the reception hall. Leonie sat alone on an empty table, all by her lonesome as she sat with her foot on her knee and leaned her shoulder against the surface with her hand being where she rested her head on. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808221521716969483/6f60bab362815722eded7f9a469db8fb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Gavrel Meier#0000" data-user-id="808221521716969483" style="">Gavrel Meier</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">17-Feb-21 11:44 AM</span>

            <div class="chatlog__message " data-message-id="811639153489608745" id="message-811639153489608745">
                <div class="chatlog__content">
                    <div class="markdown">Gavrel slipped through the halls, looking around suspiciously. He was tired from running around the monastery. Ah-hah, some empty chairs... And a familiar face too! He had not spoken to Leonie in a while and was curious. He approached the table. &quot;May I?&quot; His mask was on, it was a stark but hilarious contrast: holy robes and a demon face. &quot;I see you understand the true spirit of the holiday Miss Leonie!&quot; He said cheerfully. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/811278584781340682/0dc2492b2d030406cc9d944a165ccbfa.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Leonie Pinelli#0000" data-user-id="811278584781340682" style="">Leonie Pinelli</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">17-Feb-21 11:54 AM</span>

            <div class="chatlog__message " data-message-id="811641780269088838" id="message-811641780269088838">
                <div class="chatlog__content">
                    <div class="markdown">A voice snapped her out of her boring trance as she looked to see a person wearing a very demonic masked, red in color with terrifying teeth to bear. Leonie blinked and looked closely at the person to see them bearing long blue hair behind the mask.

Immediately, her mind recognized the person wearing the mask to be Gavrel, the clumsy knight she met at the knight&#39;s hall that day. Despite the outfit he was wearing, she got to admit that his choice of mask befitting the festival.

&quot;And I see that you are in spirit too&quot; She complimented and gestured with her hand to tell him to take a seat. Hopefully, she had luck in curing the boredom off of her by talking with him. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808221521716969483/6f60bab362815722eded7f9a469db8fb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Gavrel Meier#0000" data-user-id="808221521716969483" style="">Gavrel Meier</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">17-Feb-21 08:45 PM</span>

            <div class="chatlog__message " data-message-id="811775352141381672" id="message-811775352141381672">
                <div class="chatlog__content">
                    <div class="markdown">It didn&#39;t take Leonie long to recognize Gavrel under the costume. He laughed and sat close. &quot;I take you&#39;re not much of a dancer?&quot; He asked. He wasn&#39;t much of that kind of party animal but maybe she was just tired? He wasn&#39;t sure what to expect but if he learned anything from their conversation, it gave him an idea that maybe she didn&#39;t care for all the pomp.

He lifted the red mask to appreciate hers better. &quot;Your mask is chilling Miss Leonie, where did you get it?&quot; He said with a hint of awe. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/811278584781340682/0dc2492b2d030406cc9d944a165ccbfa.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Leonie Pinelli#0000" data-user-id="811278584781340682" style="">Leonie Pinelli</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">17-Feb-21 10:33 PM</span>

            <div class="chatlog__message " data-message-id="811802439832829952" id="message-811802439832829952">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Yep, not much of a party-typed person too&quot; Leonie spoke with boredom in her tone as she blew a raspberry from her lips. She was only here because her friend invited her to be there and to have fun as they said. 

Honestly, she wasn&#39;t having much fun as she found the festivity to be a waste of time for her but she joined anyway to make them feel happy. She looked over to the table to find someone was having at least the fun they would have. And this someone was Ingrid, happily eating and talking.

&quot;Thank you, I carved it myself&quot; Answering his question as she turned her attention to him, having a better look at his face under the mask. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808221521716969483/6f60bab362815722eded7f9a469db8fb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Gavrel Meier#0000" data-user-id="808221521716969483" style="">Gavrel Meier</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">18-Feb-21 11:38 AM</span>

            <div class="chatlog__message " data-message-id="811999994588168222" id="message-811999994588168222">
                <div class="chatlog__content">
                    <div class="markdown">&quot;I don&#39;t mind dancing I&#39;m just, um... terrible at it&quot; he said with a sheepish grin. Of all the things he had inherited from Nana, grace was definitely not one of them. Gavrel noticed Leonie looking at Ingrid talking to another Blue Lions boy. 

His eyes widened at the reply. &quot;Wow, that&#39;s amazing!&quot; He had way too much help with his own, hers was very smooth. &quot;You have craftsman&#39;s hands!&quot; He smiled. 

&quot;Maybe the upcoming battle is more your type of thing Miss Leonie?&quot; He said. It was definitely an exciting tradition. The monastery staff was perhaps, a bit jaded from drilling every year. But to Gavrel every fight was it&#39;s own event. New year, new leadership. &quot;The three house leaders all seem like tough oponents&quot; he thought out loud. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/811278584781340682/0dc2492b2d030406cc9d944a165ccbfa.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Leonie Pinelli#0000" data-user-id="811278584781340682" style="">Leonie Pinelli</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">18-Feb-21 02:23 PM</span>

            <div class="chatlog__message " data-message-id="812041555875069972" id="message-812041555875069972">
                <div class="chatlog__content">
                    <div class="markdown">&quot;I got it from my father! He was a carpenter before becoming a hunter!&quot; Leonie proudly said to him as she let out a smile at him, closing her eyes in response to the praise she received. She haven&#39;t talked much about her father since she enrolled into the academy. Or because she didn&#39;t have an opportunity to bring her dad up or have time to talk about him.

&quot;Oh you mean the Battle of Eagle and Lion? Yeah, I anticipate such happen... unless my professor makes the call&quot; She said with a hint of annoyance and boredom. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808221521716969483/6f60bab362815722eded7f9a469db8fb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Gavrel Meier#0000" data-user-id="808221521716969483" style="">Gavrel Meier</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">19-Feb-21 11:47 AM</span>

            <div class="chatlog__message " data-message-id="812364672271253504" id="message-812364672271253504">
                <div class="chatlog__content">
                    <div class="markdown">From the way she spoke of him Gavrel could tell her father was a good, strong person. &quot;Is that so? Does he miss carpenting?&quot; He asked. &quot;Did he teach you how to hunt?&quot; Maybe the questions were too much but he was curious. 

&quot;Yeah! ...The professor?&quot; He pondered for a bit. &quot;I suppose. How do you think the Golden Deer will play out? That Lord Claude looks like he has something planned for every situation&quot; he had that glimmer in his eyes and everyone seemed to like him. He seemed friendly though definitely the kind you&#39;d want to be on their good side. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/811278584781340682/0dc2492b2d030406cc9d944a165ccbfa.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Leonie Pinelli#0000" data-user-id="811278584781340682" style="">Leonie Pinelli</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">21-Feb-21 10:52 PM</span>

            <div class="chatlog__message " data-message-id="813256785485234176" id="message-813256785485234176">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Yep! He is a carpenter <strong>and</strong> a hunter so he doesn&#39;t have to worry about missing his carpentry. And he&#39;s the one trained me how to hunt too&quot; Leonie told him about her father while feeling proud of him and his job. Her bright and excited expression would change into a stern and more serious expression when asked about her house leader.

&quot;Who knows what Claude has in his sleeves in regard to the upcoming. He may have some scheme or strategy that could flip the whole battle upside down&quot; She exaggerated a bit but felt certain that he would be doing such thing. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808221521716969483/6f60bab362815722eded7f9a469db8fb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Gavrel Meier#0000" data-user-id="808221521716969483" style="">Gavrel Meier</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Feb-21 11:10 AM</span>

            <div class="chatlog__message " data-message-id="813804900173217872" id="message-813804900173217872">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Hmm it does sound possible...&quot; After seeing how her expression changed though, Gavrel felt they should talk more about family.

&quot;Woah, he sounds like an incredible person!&quot; He grinned. &quot;Did you learn when you were very young? And what about something you two liked to hunt together the most?&quot; The way Leonie handled her bow told Gavrel she had a good bit of experience. Her posture was so still when she drew, very unlike the recruits and even some soldiers. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/811278584781340682/0dc2492b2d030406cc9d944a165ccbfa.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Leonie Pinelli#0000" data-user-id="811278584781340682" style="">Leonie Pinelli</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">24-Feb-21 01:00 PM</span>

            <div class="chatlog__message " data-message-id="814194972056223794" id="message-814194972056223794">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Learned a lot from him when I was young. Basically, he was my mentor teaching me the know how of hunting from sensing, tracking, crafting and more!&quot; She proudly said, remembering back to all those days of her becoming a hunter by her father. Such memories! </div>
                </div>



            </div>
    </div>
</div>

</div>

<div class="postamble">
    <div class="postamble__entry">Exported 21 message(s)</div>
</div>

</body>
</html>
