

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - seating-area-2-se</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }

        function showSpoiler(event, element) {
            if (element && element.classList.contains('spoiler--hidden')) {
                event.preventDefault();
                element.classList.remove('spoiler--hidden');
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../../../index.html#ch06">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">✵ &#120190;&#120213;&#120206;&#120215;&#120206;&#120217;&#120216;&#39; &#120176;&#120219;&#120202; / seating-area-2-se</div>


    </div>
</div>

<div class="chatlog">


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808227200041746453/91ff768ad177f042a04e87c5b09782b8.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ashley Halara Gildus#0000" data-user-id="808227200041746453" style="">Ashley Halara Gildus</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 01:46 AM</span>

            <div class="chatlog__message " data-message-id="808227201199767552" id="message-808227201199767552">
                <div class="chatlog__content">
                    <div class="markdown">For spacing reason, she&#39;s sitting in this area

Already took some snacks to eat on her own, judging people is her specialty, so she&#39;s going to judge the dancers from the seats! How lovely! </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808308854936567808/e1ff644557e53c4607fa4afca7c5a2b7.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Alyse Cino#0000" data-user-id="808308854936567808" style="">Alyse Cino</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 07:10 AM</span>

            <div class="chatlog__message " data-message-id="808308855824973834" id="message-808308855824973834">
                <div class="chatlog__content">
                    <div class="markdown">Despite being out of the bed, Alyse could feel the tension in her limbs as she moved them around such as walking with her legs and flailing her arms. But she didn&#39;t have to worry since she was told to not put them under too much pressure on them, or else the wound will open as again.

She took that advice to heart as she would sit on the empty seat and watch the dance happen. Or so she thought that she was lonely as she was accompanied by the silver-haired wolf mask wearing student. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808227200041746453/91ff768ad177f042a04e87c5b09782b8.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ashley Halara Gildus#0000" data-user-id="808227200041746453" style="">Ashley Halara Gildus</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 07:36 AM</span>

            <div class="chatlog__message " data-message-id="808315404338462720" id="message-808315404338462720">
                <div class="chatlog__content">
                    <div class="markdown">That&#39;s... A familiar aura sitting near her... The costume is just very dead looking... Ah! Alyse, of course. She should have guessed from the height in the first place. Looks like she&#39;s gone for a very undead stlye, all skeleton looking.

&quot;Alyse, how kind of you to join me here&quot; He would sit back after saying that, back the seats here do not offer such safety. So for now, she leans a bit as she plops some sweets into her mouth, her attention no longer on the bumlbing blonde and deer leader on the dance floor. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808308854936567808/e1ff644557e53c4607fa4afca7c5a2b7.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Alyse Cino#0000" data-user-id="808308854936567808" style="">Alyse Cino</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 12:01 PM</span>

            <div class="chatlog__message " data-message-id="808381971658833931" id="message-808381971658833931">
                <div class="chatlog__content">
                    <div class="markdown">She turned to see a familiar female student with a distinct silver hair wearing a wolf mask which was unnecessary to say the least.

&quot;It&#39;s nice to see you too&quot; Said the emotionless girl as she watched her putting sweets into her mouth. She should have brought something from the refreshment table to eat but she didn&#39;t feel hungry yet so she could fetch one later. She would return to watch the students dancing, making the fool of themselves while doing it. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808227200041746453/91ff768ad177f042a04e87c5b09782b8.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ashley Halara Gildus#0000" data-user-id="808227200041746453" style="">Ashley Halara Gildus</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 05:42 PM</span>

            <div class="chatlog__message " data-message-id="808467940424810566" id="message-808467940424810566">
                <div class="chatlog__content">
                    <div class="markdown">full of conversation like always, but that should be suspected by this point. As always, Ashley has to carry a conversation by coming up with a subject.... Shit, what is there to talk about.

Well, her mouth is a bit full of sweets at the moment, so she can&#39;t really say anything. Back to judging people around her! &quot;Clearly they&#39;ve never done any dancing before&quot;
<em>But alteast they look like they&#39;re having a good time?</em> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808308854936567808/e1ff644557e53c4607fa4afca7c5a2b7.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Alyse Cino#0000" data-user-id="808308854936567808" style="">Alyse Cino</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 09:48 PM</span>

            <div class="chatlog__message " data-message-id="808529733913673738" id="message-808529733913673738">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Indeed, they have&quot; Said the emotionless girl conversed with the silver-haired student. She hasn&#39;t done any real dancing so she wouldn&#39;t know how good they as they were dancing.

She just chimed in along with Ashley and watched. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808227200041746453/91ff768ad177f042a04e87c5b09782b8.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ashley Halara Gildus#0000" data-user-id="808227200041746453" style="">Ashley Halara Gildus</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">08-Feb-21 10:16 PM</span>

            <div class="chatlog__message " data-message-id="808536866361835550" id="message-808536866361835550">
                <div class="chatlog__content">
                    <div class="markdown"><em>Goddess she&#39;s hard to talk to sometimes</em>

&quot;I guess festivities like this aren&#39;t really about dancing, so I guess I should stop staring at the people doing their thing while eating sweets.&quot; Saying so, shoves another piece into her mouth </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808308854936567808/e1ff644557e53c4607fa4afca7c5a2b7.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Alyse Cino#0000" data-user-id="808308854936567808" style="">Alyse Cino</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">09-Feb-21 12:04 AM</span>

            <div class="chatlog__message " data-message-id="808563988367015966" id="message-808563988367015966">
                <div class="chatlog__content">
                    <div class="markdown">Alyse nodded at her words as she then turned to see her eating more than expected.

&quot;Why the wolf mask?&quot; She asked regarding the mask she was wearing. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808227200041746453/91ff768ad177f042a04e87c5b09782b8.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ashley Halara Gildus#0000" data-user-id="808227200041746453" style="">Ashley Halara Gildus</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">09-Feb-21 02:46 AM</span>

            <div class="chatlog__message " data-message-id="808604679071727636" id="message-808604679071727636">
                <div class="chatlog__content">
                    <div class="markdown">why the... Well, that would take a while to explain, so let&#39;s give her the short version
&quot;I have a necklace with a little wolf&#39;s head on it, so I wanted to match that theme.&quot; 

That little necklace is actually a family thing, as her dad has one, and her mother has one. Simple </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808308854936567808/e1ff644557e53c4607fa4afca7c5a2b7.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Alyse Cino#0000" data-user-id="808308854936567808" style="">Alyse Cino</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">09-Feb-21 01:32 PM</span>

            <div class="chatlog__message " data-message-id="808767400265777162" id="message-808767400265777162">
                <div class="chatlog__content">
                    <div class="markdown">Alyse stared at her before nodding at her and returned to watch the people danced around. Besides her condition, she really had a hard time thinking about a subject for a casual talk or small talk.

Without a subject to talk about, there would be an awkward silence between the two as one was watching while other was watching and eating. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/523037873100947458/a5f8485476d8ff313b7b93214d718336.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Ndd#9714" data-user-id="523037873100947458" style="">Ndd</span>


        <span class="chatlog__timestamp">10-Feb-21 01:38 PM</span>

            <div class="chatlog__message " data-message-id="809131260156182540" id="message-809131260156182540">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight"> </div> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808227200041746453/36cefc86a62a950e53e546b9dbb3a697.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Sabella Milos#0000" data-user-id="808227200041746453" style="">Sabella Milos</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">21-Feb-21 07:09 PM</span>

            <div class="chatlog__message " data-message-id="813200847298756669" id="message-813200847298756669">
                <div class="chatlog__content">
                    <div class="markdown">There was a lot of socializing for her today. An exhausting amount. The mask she wore was a perfect center piece, she felt. Not too over the top, but shining enough for the goldsmith&#39;s family business to become a bit more prominent in her conversations. 

She decided to take a seat. That soft, entirely false smile resting on her expression as she did. It was nice to be able to step back for a minute, but that didn&#39;t leave the mood any less exhausting. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808308854936567808/31fb1a8df4f436b4fba095ad96861786.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Elias Aveline Sierra#0000" data-user-id="808308854936567808" style="">Elias Aveline Sierra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">21-Feb-21 07:19 PM</span>

            <div class="chatlog__message " data-message-id="813203159257710682" id="message-813203159257710682">
                <div class="chatlog__content">
                    <div class="markdown">Food and drink! Dancing! Socializing! Well, that last item wasn&#39;t the most thrilling part about this whole festivity but only because of his metaphorical mask. His literal mask was a slick looking piece, by his own evaluation. He couldn&#39;t expect his own parents to pick something more fitting.

In a moment of lull, as he stepped away from where most of the gatherings were, Elias spotted his other metaphorical mask wearing partner in crime. Oh... and she was even defenseless at that... With quiet steps and held breath, the redhead sneaked up behind Sabella&#39;s chair.

&quot;Hey!&quot;

He exclaimed his greeting while bringing his head down in an arc to look down at her. However, he hadn&#39;t quite factored both of their facewear, which made the noses of their masks slam into each other and push back against their actual noses underneath.

&quot;Ah- Ow-&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808227200041746453/36cefc86a62a950e53e546b9dbb3a697.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Sabella Milos#0000" data-user-id="808227200041746453" style="">Sabella Milos</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">21-Feb-21 07:35 PM</span>

            <div class="chatlog__message " data-message-id="813207352723112016" id="message-813207352723112016">
                <div class="chatlog__content">
                    <div class="markdown">Sabella was hoping to be left alone. The seating was comfortable, and even if she was just her she&#39;d be able to cool off from so much conversation that was just <em>draining</em> the girl. But unfortunately that was a gift she wouldn&#39;t be given. The sudden hello caused her to jump slightly, and she&#39;d quickly dart her eyes to glare at the voice she recognized. 

&quot;Ack-&quot;

The clattering caused her to make a small sound of pain. Though it didn&#39;t hurt all too much. She was more annoyed than anything else.

&quot;<em>Watch the merchandise, Elias.</em>&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808308854936567808/31fb1a8df4f436b4fba095ad96861786.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Elias Aveline Sierra#0000" data-user-id="808308854936567808" style="">Elias Aveline Sierra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">21-Feb-21 07:46 PM</span>

            <div class="chatlog__message " data-message-id="813210170913325086" id="message-813210170913325086">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Sorry, that was dumb.&quot;

Elias lifted the mask enough to rub the mildly aching part of his face, but set it back into place at the same time as he pulled up a seat next to Sabella.

&quot;Sheesh, woulda sucked to mess up your mask. That&#39;s a sweet lookin&#39; one you got. Whatcha think of mine?&quot;

He smiled with his teeth as he rested his chin in the nest of his fingers meeting along his jawline. Definitely a cheeky pose and face, he was messing with her a little. <span class="chatlog__edited-timestamp" title="21-Feb-21 07:47 PM">(edited)</span></div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808227200041746453/36cefc86a62a950e53e546b9dbb3a697.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Sabella Milos#0000" data-user-id="808227200041746453" style="">Sabella Milos</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">21-Feb-21 08:24 PM</span>

            <div class="chatlog__message " data-message-id="813219609183911976" id="message-813219609183911976">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Yeah, it was.&quot;

Bluntness was her strong suit when she didn&#39;t have to worry about the more metaphorical mask. Venom clear in her voice as she was already incredibly socially exhausted. She took in a deep breath, at the very least she was glad that she didn&#39;t have to worry about the usual facade.

&quot;Thanks. Yours is fine- I like the detailing along the edges.&quot;

A finger would raise to the gem in the center as she leaned forward ever so slightly to look at it better.

&quot;...Not a bad choice.&quot;

Approval from the grump! </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808308854936567808/31fb1a8df4f436b4fba095ad96861786.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Elias Aveline Sierra#0000" data-user-id="808308854936567808" style="">Elias Aveline Sierra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">21-Feb-21 08:43 PM</span>

            <div class="chatlog__message " data-message-id="813224311342497832" id="message-813224311342497832">
                <div class="chatlog__content">
                    <div class="markdown">Ah, her bluntness was a relief to hear compared to the usual chatter he&#39;d surround himself with. Nothing better than being crass with someone. 

&quot;Than-&quot;

Elias&#39; smiled dropped into a more observing look as she leaned in to examine his mask. With the finger coming up, he thought he was going to get flicked in the head through the mask, which would&#39;ve been rightly earned. A more natural smile took the place of the cheeky one at her approval.

&quot;Thanks! I&#39;m pretty proud of this one.&quot; He waited a beat for her to get back to her seated position. &quot;So, how are ya doin&#39;? I figure you must be even more tired of this event than me.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808227200041746453/36cefc86a62a950e53e546b9dbb3a697.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Sabella Milos#0000" data-user-id="808227200041746453" style="">Sabella Milos</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">21-Feb-21 09:00 PM</span>

            <div class="chatlog__message " data-message-id="813228633815777350" id="message-813228633815777350">
                <div class="chatlog__content">
                    <div class="markdown">Sabella leaned back, slouching only a little bit. It seemed like she wouldn&#39;t be too noticed right now and decided to role with that as long as Elias was here. 

&quot;I&#39;m tired.&quot;

She answered simply.

&quot;This place is crowded, I can&#39;t stop talking, and it&#39;s <strong>stupidly</strong> hot in here <strong>because</strong> everyone&#39;s crowded. Events like this would be <em>stupid</em> if it weren&#39;t for the excuse to wear nicer things.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808308854936567808/31fb1a8df4f436b4fba095ad96861786.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Elias Aveline Sierra#0000" data-user-id="808308854936567808" style="">Elias Aveline Sierra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">21-Feb-21 10:10 PM</span>

            <div class="chatlog__message " data-message-id="813246320994680853" id="message-813246320994680853">
                <div class="chatlog__content">
                    <div class="markdown">Tired made sense. Elias assumed Sabella was tired most of the time since he discovered her secret. At her continued complaints, he found himself stifling his boisterous laughter from escaping him.

&quot;Sure ain&#39;t mincin&#39; words about it, huh? Hehe.&quot;

He looked around to the wider audience, anyone who was walking about in field of view. They were adequately isolated where they were, if you could call it that, but people&#39;s dresses and masks were visible even a distance away.

&quot;Yeah, I got most of the same complaints. Food&#39;s good, though, so that&#39;s a plus. Seems like some folks really went all out dressin&#39; up, for sure. Anybody caught your eye?&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808227200041746453/36cefc86a62a950e53e546b9dbb3a697.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Sabella Milos#0000" data-user-id="808227200041746453" style="">Sabella Milos</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Feb-21 02:48 AM</span>

            <div class="chatlog__message " data-message-id="813678620198305823" id="message-813678620198305823">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Why should I? As long as I&#39;m talking to you or one of two other&#39;s, I my as well just say what&#39;s on my mind.&quot; 

The grumpy female wanted nothing to do with the rest of this event. She was a natural introvert disguised as an extrovert. It was difficult to feel any type of excitement as long as she was allowed to be like this. 

&quot;I haven&#39;t tried the food yet, but I guess I&#39;ll take your word for it. As for the dressing up... There are some masks that are distracting. Really dumb to look at. There are nice one&#39;s don&#39;t get my wrong. But-&quot;

Her eyes turned, nodding a head in a specific direction towards a nauseously colored one with a lot of unnecessary detail.

&quot;Like that. Who the hell decides to go out like that? What <em>direction</em> were you going for?&quot;

Her hands rubbed at her face, fingers going under her mask as she did. She was just disappointed in their choices. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808308854936567808/31fb1a8df4f436b4fba095ad96861786.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Elias Aveline Sierra#0000" data-user-id="808308854936567808" style="">Elias Aveline Sierra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Feb-21 03:01 AM</span>

            <div class="chatlog__message " data-message-id="813682050740649994" id="message-813682050740649994">
                <div class="chatlog__content">
                    <div class="markdown">&quot;It was a rhetorical question, but by all means, say what&#39;s on your mind. It&#39;s refreshin&#39;.&quot;

He held his words back at the notion that he was one of a select few she spoke honestly to. Thick as thieves, they were, even if the irony of the saying was lost on the redhead. Elias glanced towards the person of ridicule, brows raising underneath his mask at their ostentatious presentation. He laughed at her derisive commentary before offering his own.

&quot;Only direction I hope they&#39;re goin&#39; is to the trash so they can throw away that mask!&quot;

He tucked his head into his lap a moment to stifle his louder laugh, pleased at his own joke. Seemingly uncaring whether Sabella found it as funny or not, but he was eager to see if it hit with her as he raised his head.

&quot;So I can guess as to why you showed up, despite this really not bein&#39; your scene. Any good come of it? Brushed elbows with any prospects? Nabbed a customer or two?&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808227200041746453/36cefc86a62a950e53e546b9dbb3a697.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Sabella Milos#0000" data-user-id="808227200041746453" style="">Sabella Milos</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Feb-21 03:25 AM</span>

            <div class="chatlog__message " data-message-id="813687905192771595" id="message-813687905192771595">
                <div class="chatlog__content">
                    <div class="markdown">The girl rolled her eyes and let out a snicker at the statement. Which, in itself was quite a lot for her in her time with Elias- and most people for that matter. Yet, that amusement didn&#39;t last long as the holder of the mask disappeared from view. A shame, but also a blessing in itself. 

&quot;A little. Not enough to make it worth it.&quot;

Sabella&#39;s head leaned back over her chair, looking to the ceiling. Her hands tried to move to go into her pockets, but none were there since she wasn&#39;t in her school uniform. Which just caused her to frustratingly bundle her hands up in her lap.

&quot;<em>Maybe</em> some. No one&#39;s really interested in that right now. I&#39;m hoping I at least caught some interest for after, though. At least I was pleasant and made good impressions.&quot;

A hand raised, making an &#39;ok&#39; symbol, as if trying to show the night was a success in its own way. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808308854936567808/31fb1a8df4f436b4fba095ad96861786.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Elias Aveline Sierra#0000" data-user-id="808308854936567808" style="">Elias Aveline Sierra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Feb-21 03:42 AM</span>

            <div class="chatlog__message " data-message-id="813692311144759326" id="message-813692311144759326">
                <div class="chatlog__content">
                    <div class="markdown">A snicker! That much would be considered a victory for the noble. Most of the time, when he was being authentic, he didn&#39;t mind making a fool of himself or laughing alone. His sisters had trained him to expect that. But it was always nice to get even a smile, so a snicker was leaps beyond that. A little giggle of his own escaped him watching her flail her hands into resting in her lap.

&quot;Sure, not the ideal place to talk business. Same story here, feels like I&#39;m just goin&#39; around in circles tryin&#39; to improve relationships right now. Eh, I&#39;ll worry about it another time. It&#39;s gonna tire me out otherwise.&quot;

All the talking prior to encountering Sabella left Elias&#39; mouth dry. He felt that even more after the continued conversation. It was time to get a drink.

&quot;Well, I&#39;m feelin&#39; damn parched. I&#39;m gonna hit the drinks table and grab somethin&#39;. Want me to get you a drink too? It&#39;ll save you the walk and probably some talk.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808227200041746453/36cefc86a62a950e53e546b9dbb3a697.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Sabella Milos#0000" data-user-id="808227200041746453" style="">Sabella Milos</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Feb-21 03:50 AM</span>

            <div class="chatlog__message " data-message-id="813694182261653554" id="message-813694182261653554">
                <div class="chatlog__content">
                    <div class="markdown">Hearing that the other&#39;s luck, that amused snicker seemed to be long gone as she returned to the normal grouchy expression. Which, really seemed to get worse the more comfortable she became just chatting casually wit the noble.

 &quot;Ugh... Then something good better come out of it after or I&#39;m gonna lose it.&quot;

With another groan, she sat up more straight in her seat again. She was getting <em>too</em> comfortable and needed to bring that better posture back. It was better for anyone that overlooked them. 

&quot;...Yeah, that&#39;d be nice, thanks.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808308854936567808/31fb1a8df4f436b4fba095ad96861786.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Elias Aveline Sierra#0000" data-user-id="808308854936567808" style="">Elias Aveline Sierra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Feb-21 04:14 AM</span>

            <div class="chatlog__message " data-message-id="813700268277235744" id="message-813700268277235744">
                <div class="chatlog__content">
                    <div class="markdown">He let complaint go without comment. The whole affair for both of them was frustrating but Elias didn&#39;t want to dwell on it. Not just then. He fixed his mask back into place and stood up.

&quot;No problem, I&#39;ll be back in a sec.&quot;

It was a quick dash over to the refreshments table, weaving his way past other party-goers and offering fleeting greetings or goodbyes to those that tried to stop him. He wanted to get back to his moment of peace as quickly as he could. Two cups of whatever fruity concoction the monastery arranged later and he was on his return path.

&quot;Here ya are.&quot;

He gave Sabella a heads up before handing over the drink he brought for her. After that, he found his seat again. Inspecting the drink, swirling it around in its container, it was a toss up whether it was going to be a good one or not. As long as it quenched his thirst, it&#39;d do for the time being. His masqueraded gaze raised to meet his fellow deer.

&quot;Hey, before we drink, wanna toast?&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808227200041746453/36cefc86a62a950e53e546b9dbb3a697.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Sabella Milos#0000" data-user-id="808227200041746453" style="">Sabella Milos</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Feb-21 04:49 AM</span>

            <div class="chatlog__message " data-message-id="813709071810297888" id="message-813709071810297888">
                <div class="chatlog__content">
                    <div class="markdown">Unlike Elias, Sabella looked to the new found drink with disgust.  This was going to be sweet, she could sense it. She hated sweet. But she needed to cleanse her pallet. 

“...Thanks, again.”

She stated after he handed it to her. Even if he was annoying, Elias was still kind and doing his best for her in his own way. She knew she could handle herself, but it was still sweet. 

“A toast to what?”

She asked in a sour tone, before taking in a light breath and trying not to let her negative mind get the best of her in this moment. 

“To getting out of here as soon as possible?”

The Duscurian asked, holding her drink up to the male’s. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808308854936567808/31fb1a8df4f436b4fba095ad96861786.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Elias Aveline Sierra#0000" data-user-id="808308854936567808" style="">Elias Aveline Sierra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Feb-21 06:14 PM</span>

            <div class="chatlog__message " data-message-id="813911794653462579" id="message-813911794653462579">
                <div class="chatlog__content">
                    <div class="markdown">&quot;No worries.&quot;

The assistance he offered her came second nature to him. Looking after his siblings forced him into a habit of checking in with others, doing small things for them and the like. Sabella&#39;s thanks didn&#39;t properly register as thanks to him; it was more of a customary thing to say that he just expected.

Elias chuckled at her proposal. It wasn&#39;t a surprise to hear a biting response from the girl he knew was fed up with the surrounding affairs. His question begged such a response.

&quot;That&#39;s a good one, too. I was gonna say a toast to kissin&#39; asses for family&#39;s sake, eh?&quot;

He raised his drink to meet hers, waiting to see if it was an agreeable toast to clink cups to. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808227200041746453/36cefc86a62a950e53e546b9dbb3a697.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Sabella Milos#0000" data-user-id="808227200041746453" style="">Sabella Milos</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">24-Feb-21 02:31 AM</span>

            <div class="chatlog__message " data-message-id="814036885340422204" id="message-814036885340422204">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Ugh, yeah. That works too.&quot;

The girl groaned, tapping the drink before bringing it to her lips as well. She hadn&#39;t realized just how dry her mouth was until this moment. She took one little drink before easily downing the rest. Outside of her frequent business conversations and Rowan, she&#39;d never really spent time with a noble like this. She wondered if this guy held the same amount of etiquette as someone like Lorenz did while simply sipping a drink. 

She definitely did not.

Once it was swallowed and done, she took in a breath. 

&quot;I needed that more than I thought.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/808308854936567808/31fb1a8df4f436b4fba095ad96861786.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Elias Aveline Sierra#0000" data-user-id="808308854936567808" style="">Elias Aveline Sierra</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">24-Feb-21 03:51 AM</span>

            <div class="chatlog__message " data-message-id="814056847098642482" id="message-814056847098642482">
                <div class="chatlog__content">
                    <div class="markdown">With the toast accepted, he tapped cups and took a swig of the fruit mix. It was a sweet combination of a variety of fruit flavors, but nothing offensive to the noble&#39;s taste buds. He had a bit of a sweet tooth for those sorts of drinks, thanks to his family&#39;s trade. It adequately quenched his thirst. 

Etiquette wise, Elias would have taken more care amidst other company. With Sabella, he threw the drink back and glugged it all down in one go.

&quot;Phew!&quot;

He went to wipe the edge of his mouth with his hand before stopping once he realized he still had his gloves on. Instead, he grabbed a clean napkin from a nearby table and wiped away the dribble that resulted from his hasty drink.

&quot;Glad I brought ya one then.&quot; He smirked a brief smirk. The now empty cup hung off the edges of his fingertips as he moved it around in a playful fashion. &quot;So, all talked out? If ya wanted an excuse to look social but not actually be social, I can stick around and sit quiet with ya. Could use the break myself.&quot; <span class="chatlog__edited-timestamp" title="24-Feb-21 03:51 AM">(edited)</span></div>
                </div>



            </div>
    </div>
</div>

</div>

<div class="postamble">
    <div class="postamble__entry">Exported 29 message(s)</div>
</div>

</body>
</html>
