

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - spirits-eve-desc</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }

        function showSpoiler(event, element) {
            if (element && element.classList.contains('spoiler--hidden')) {
                event.preventDefault();
                element.classList.remove('spoiler--hidden');
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../../../index.html#ch06">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">✵ &#120190;&#120213;&#120206;&#120215;&#120206;&#120217;&#120216;&#39; &#120176;&#120219;&#120202; / spirits-eve-desc</div>


    </div>
</div>

<div class="chatlog">


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/172515560846917642/a_d75c3d99401eb08128606fe50ab4e1f5.gif" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Locrius 光复香港#9567" data-user-id="172515560846917642" style="color: rgb(12,242,212)">Syl ᘛ⁐̤ᕐᐷ #SylvainThirstGang</span>


        <span class="chatlog__timestamp">27-Jan-21 06:33 PM</span>

            <div class="chatlog__message " data-message-id="804131921570955325" id="message-804131921570955325">
                <div class="chatlog__content">
                    <div class="markdown"> </div>
                </div>

                    <div class="chatlog__attachment">
                            <a href="https://cdn.discordapp.com/attachments/803080112730800148/804131921428873235/spiritseve.png">
                                    <img class="chatlog__attachment-thumbnail" src="https://cdn.discordapp.com/attachments/803080112730800148/804131921428873235/spiritseve.png" alt="Attachment">
                            </a>
                    </div>


            </div>
            <div class="chatlog__message " data-message-id="804131937382957077" id="message-804131937382957077">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight"> &#119826;&#119823;&#119816;&#119825;&#119816;&#119827;&#119826;&#39; &#119812;&#119829;&#119812;</div> </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="804131954047451147" id="message-804131954047451147">
                <div class="chatlog__content">
                    <div class="markdown">Winter heralds the coming of bitter cold and dark days. Historically, to prevent evil spirits from creeping too close, frightening decorations and garb alike would adorn people and buildings as they danced. And to guide benevolent spirits, bonfires and candles would light up the night from sunset to sunrise.

Traditionally, this gathering is celebrated on the final Sunday of the Wyvern Moon. However, because the Three-Way Battle will take place the following day, Garreg Mach has opted to instead hold it on the second-to-last Sunday.

Dress code includes the school uniform (or regular semi-formal clothing for non-students) and a mask of some sort. Leave weapons at the door, silly (well, except for knights) - you&#39;re here to mingle and party!

Come to the reception hall for a fun night of masquerade, music, and food. Or find a quiet spot and study, maybe, if that&#39;s what you prefer. </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="804131970551644160" id="message-804131970551644160">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight"> &#119825;&#119828;&#119819;&#119812;&#119826;</div> </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="804131985231708160" id="message-804131985231708160">
                <div class="chatlog__content">
                    <div class="markdown">1. All server-wide rules apply here, of course!
2. These threads work roughly the same as our non-canon threads - there is no sentence minimum, and interactions here will not count toward normal activity. However, here, all interactions will still be canon!
3. Try not to steal threads of interactions actively going on (e.g. no posts for 36+ hours). If the thread is open for anyone to join in, please state so in the first post. If you&#39;d like a new location made, feel free to request one in <span class="mention">#ooc</span> and ping @\Knight !
4. To participate, all you need to do is post your character&#39;s name and an image or description of their mask in <span class="mention">#spirits-eve-participants</span> (as always, cite images&#39; sources). </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="804132000096452608" id="message-804132000096452608">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight"> &#119810;&#119825;&#119812;&#119811;&#119816;&#119827;&#119826;</div> </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="804132018157518848" id="message-804132018157518848">
                <div class="chatlog__content">
                    <div class="markdown">Banner image - <a href="https://www.reallifebatavia.com/events/2019/10/25/family-masquerade-ball">https://www.reallifebatavia.com/events/2019/10/25/family-masquerade-ball</a> (edited by Loki) </div>
                </div>



            </div>
    </div>
</div>

</div>

<div class="postamble">
    <div class="postamble__entry">Exported 7 message(s)</div>
</div>

</body>
</html>
