

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - boar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }

        function showSpoiler(event, element) {
            if (element && element.classList.contains('spoiler--hidden')) {
                event.preventDefault();
                element.classList.remove('spoiler--hidden');
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../../../index.html#ch05">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">☆ &#120387;&#120426;&#120419;&#120425;&#120414;&#120419;&#120412; &#120385;&#120410;&#120424;&#120425;&#120414;&#120427;&#120406;&#120417; / boar</div>


    </div>
</div>

<div class="chatlog">


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/358788505012404225/b0fa675c9e43eb7c03b45b80c2d74cdb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="anubis in high heels#6432" data-user-id="358788505012404225" style="color: rgb(183,139,198)">anubis in high heels</span>


        <span class="chatlog__timestamp">15-Nov-20 06:58 PM</span>

            <div class="chatlog__message " data-message-id="777684035371270154" id="message-777684035371270154">
                <div class="chatlog__content">
                    <div class="markdown"> </div>
                </div>

                    <div class="chatlog__attachment">
                            <a href="https://cdn.discordapp.com/attachments/777610312105852948/777684035153559562/unknown.png">
                                    <img class="chatlog__attachment-thumbnail" src="https://cdn.discordapp.com/attachments/777610312105852948/777684035153559562/unknown.png" alt="Attachment">
                            </a>
                    </div>


            </div>
            <div class="chatlog__message " data-message-id="777684159237193738" id="message-777684159237193738">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight">Kingdom of Faerghus - Tailtean Plains</div> </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="777684257085849611" id="message-777684257085849611">
                <div class="chatlog__content">
                    <div class="markdown">On the outskirts of Fhirdiad, the famous Tailtean plains are cold and barren for the most part, keeping the coasts clear for chasing without consequence. The terrain surrounding them is rocky, trees sprinkled about. Tall grass is abundant in patches.

<div class="quote"><strong>Hunting for - <img class="emoji " alt="game" title="game" src="https://cdn.discordapp.com/emojis/777625733228920913.png"> Boar</strong></div> </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="777684341080981506" id="message-777684341080981506">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight">Cold and windy; Midday</div> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/358788505012404225/b0fa675c9e43eb7c03b45b80c2d74cdb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="anubis in high heels#6432" data-user-id="358788505012404225" style="color: rgb(183,139,198)">anubis in high heels</span>


        <span class="chatlog__timestamp">15-Nov-20 07:11 PM</span>

            <div class="chatlog__message " data-message-id="777687174995771392" id="message-777687174995771392">
                <div class="chatlog__content">
                    <div class="markdown">The hunt has started! <span class="mention" style="color: rgb(123, 3, 230); background-color: rgba(123, 3, 230, 0.1);">@Zero</span> and <span class="mention" style="color: rgb(46, 143, 143); background-color: rgba(46, 143, 143, 0.1);">@Fritz</span> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/778535164199567371/29a088bc8d3c17d61c344686a38463f4.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Zero#0000" data-user-id="778535164199567371">Zero</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">18-Nov-20 03:20 AM</span>

            <div class="chatlog__message " data-message-id="778535164979838976" id="message-778535164979838976">
                <div class="chatlog__content">
                    <div class="markdown"><em>&quot;The Tailtean Plains...&quot;</em>

&quot;An ominous wind is blowing, and the air is cold yet brisk...  Stones, strewn about amongst the chilled earth!  A wide expanse!  Truly, this is the perfect place for our battle against the Boar...!&quot;

<em>Zero was standing atop a rock, his legs crossed and his left hand over the scar on his right cheek...  Gazing into the distance, trying to spot one of those boar things he had been sent to hunt with this Unknown Individual!  Truly, his is a noble visage!  Probably!</em>

<em>After finishing his musing on the location of this soon to be battle, Zero hopped off the stone, and struck a pose directly at his companion for this mission!  His right leg was on its tippy toes, its knee bent to the side, while his right hand was pointing two fingers directly at the individual in question...!</em>  &quot;You, Fritz!  And I, the Shining Ninja, <strong>Zero!</strong>  We shall strike down this boar, perhaps <em>several,</em> and return to the monastery as heroes!  Even more so than I, and possibly you, already are, of course.&quot;

<em>He spun around 360 degrees clockwise immediately after this statement, almost slapping Fritz in the face, before striking a simple pose, standing tall with his arms crossed.</em>  &quot;Alas, despite my many skills, I have never actually struck down a boar before.  I&#39;m hoping you came here with knowledge of how to do just that, because I couldn&#39;t even decide what weapon to bring to this fight!&quot;  <em>He twirled around, knelt down, and flexed his arms upwards while pointing at his back, adorned with far too many weapons!  Sword, axe, broom, and bow...!  The four most respectable weapons...</em>

<em>He stood up straight, and simply looked over his shoulder with his hand covering the part that wasn&#39;t visible from this angle, his scar proudly on display as he awaited his companion&#39;s response!</em> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/778535164199567371/0a91931603fb6282c089bcb2ab201475.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Fritz Drystan#0000" data-user-id="778535164199567371">Fritz Drystan</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">19-Nov-20 05:28 AM</span>

            <div class="chatlog__message " data-message-id="778929707793907713" id="message-778929707793907713">
                <div class="chatlog__content">
                    <div class="markdown">Almost the entire trip to the plain Fritz trailed behind Zero, taking in the grand spectacle that was seemingly the norm for the more outspoken student. The rogue himself has no idea what a ninja really is, but it must be something, what with the bravado he carried with every one of his poses. One of which the brunette very nearly falls victim to as the &quot;Shining Ninja,&quot; leapt from his resting place into yet another pose. Truth be told, the rogue had lost track of just how many times his counterpart had adjusted himself into different postures, for as they entered the plains his gaze fixated on the horizon for their prey. 

Honestly, he had stopped paying attention to his companion for a while now, but that near brush with Zero&#39;s palm brings his focus right back to him. 

&quot;Yeah I got a plan...sort of. It might be a bit boring for your tastes.&quot;

In fact, the brunette had put a lot of thought into the task ahead after finding out what their target would be. Yes he was given the home field advantage with where they were sent, but Zero&#39;s loud way of being was in direct contrast with the way the to-be thief liked to operate. His father had given him much training in the art of hunting years ago, back when they traveled the roads from Fhirdiad to Derdriu, but that act involved a lot of patience...Something he wasn&#39;t sure his partner would be okay with. The amount of equipment the boy brought with him said it all in his mind, the ninja was armed to the teeth, as if he expected an all out war with the beasts.

From his bag Fritz produces a small cloth wrapped parcel, within was a special blend of bait his father had taught him to make all those years back an this one was just one of many still hidden away in his bag. 

&quot;Tailtean is mostly water and open ground, so we&#39;ll need to coax the boar out. &#39;Til then, we&#39;re going to be doing a lot of waiting.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/778535164199567371/29a088bc8d3c17d61c344686a38463f4.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Zero#0000" data-user-id="778535164199567371">Zero</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">20-Nov-20 03:58 AM</span>

            <div class="chatlog__message " data-message-id="779269495764025344" id="message-779269495764025344">
                <div class="chatlog__content">
                    <div class="markdown"><em>Boring...?  This Fritz clearly had a plan, since he directly said so, which was much more than Zero had to contribute...! In light of such things, he simply had to hear the man out!  He leaned backwards a bit, holding a hand over the lower part of his face with his other arm crossed.  A simple pose, but he wanted to listen!</em>

<em>And after hearing the plan, he drooped a bit.  That...  Really did sound boring.  Perhaps it would be possible to do not that?</em>  &quot;Hm...  While it certainly sounds like you know what you&#39;re talking about, are you sure there&#39;s not another way?  Are the boars truly so stealthy...?&quot;

<em>Stealth...  Hm...  Actually, it was about time he embraced the stealth ninjas were so known for, though!  Zero swiveled his leg around back, and crouched down a bit, one arm curling behind him while the other grasped at nothing in front...!</em>  &quot;Forget what I just said!  It&#39;s about time I embraced this side of the Ninja!  If I cannot hide from a mere beast, would it even be right to call myself one?  No!  No it would not!&quot;

<em>He rose back up, and grabbed his bow off his back, (by the edge, rather than the middle, as most would,) pointing it upwards like a sword!</em>  &quot;And if stealth is the key, then a bow would do best, correct?!  With Hellshot, I could strike any boar down from a distance!  It wouldn&#39;t even know what hit it!!&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/778535164199567371/0a91931603fb6282c089bcb2ab201475.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Fritz Drystan#0000" data-user-id="778535164199567371">Fritz Drystan</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">22-Nov-20 08:41 PM</span>

            <div class="chatlog__message " data-message-id="780246633249505282" id="message-780246633249505282">
                <div class="chatlog__content">
                    <div class="markdown">Well he was on board, that was nice at least. Finally unwrapping the cloth, Fritz would begin the painstaking process of seeding the bait in a small area around him, he&#39;d produce a couple more bags and offer them up to his more eccentric friend. As he scattered his bait, the rogue would keep the horizon in his peripheral. Nothing was worse than having your pray sneak up on <em>you</em> while setting your trap. By the sound of it, ninjas must have a few similarity to rogue and thieves, if stealth was a primary aspect of theirs, hopefully that meant Zero would actually be able to sit back with no guarantee that their target would literally take the bait. If they were successful though, Fritz would see no problem allowing his counterpart the chance to claim his own hunter&#39;s glory. 

&quot;Oh, you&#39;ll get your shot at boar combat if you want, the trouble&#39;s getting them to show up in the first place.&quot;

After laying a decent amount out the brunette would dust off his hands and scan the horizon one last time. Nothing yet, but if they were lucky, the wind would carry the scent of the bait and lure a decent pack of boar their way...or they could be here for hours. Truth be told, he hadn&#39;t been hunting since leaving home, but he was practiced enough to hopefully guide someone else in the art. 

&quot;It&#39;s not that they&#39;re stealthy, it&#39;s just that the plains are <em>very</em> exposed. Coming out into the open like this makes them prime targets for predators, like us for example.&quot;

Taking his place in the tall grass, the rogue would also grab a few arrows from his pack. If and when that animal combat would happen, he&#39;d want to be ready as well. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/778535164199567371/29a088bc8d3c17d61c344686a38463f4.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Zero#0000" data-user-id="778535164199567371">Zero</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Nov-20 03:25 AM</span>

            <div class="chatlog__message " data-message-id="780348253253271582" id="message-780348253253271582">
                <div class="chatlog__content">
                    <div class="markdown"><em>Zero graciously took the bait, and looked at Fritz&#39;s bait related actions...  Tossing.  A simple task for one so skilled, so Zero got to work on it immediately, twirling and hopping around as he threw all the bait he&#39;d been given.  Extra care was put forth to make sure Fritz wasn&#39;t hit by the bait.  The boar would likely consume him if this occurred, and that was not a desirable circumstance.</em>

<em>Knowing he&#39;d get a shot at the boar was great; though he was likely the obvious choice, he was skilled enough to kill a (bad) man, so slaying a beast such as this shouldn&#39;t be too much harder!  The statement regarding the plains made sense, the boars knew this fact as well as Fritz did...  Truly intelligent creatures.  Regardless, they won&#39;t be going home without a haul!</em>

<em>Realizing he had forgotten to pose while listening, he decided to strike a powerful one before responding!  He twirled around, while putting his hands behind his head, and raising his knee upwards while stopping!</em>  &quot;Despite the boar&#39;s apparent intelligence, we won&#39;t be going home without an impressive haul...!&quot;

<em>That pose was a difficult one to hold, so it was fortuitous that Fritz decided to move to the grass; a fine reason to leave the pose before tipping over!</em>  

<em>Zero ran over behind him, and practically flipped into the grass, lounging on his side, with his bow pointed towards the general area where the boar was likely to appear, and an arrow ready!  He spoke in a quieter tone than before, but it was hardly a whisper;</em>  

&quot;Good thinking, preparing your own bow...! We have little idea how many will show up. Together, we can take on as many that arrive as physically possible...!&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/778535164199567371/0a91931603fb6282c089bcb2ab201475.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Fritz Drystan#0000" data-user-id="778535164199567371">Fritz Drystan</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">25-Nov-20 02:14 PM</span>

            <div class="chatlog__message " data-message-id="781236404981858334" id="message-781236404981858334">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Y&#39;know one day, you gotta tell me more about ninjas, they seem really interesting.&quot;

Watching Zero work really was something else. Truth be told, he was quite envious of all that extra energy the ninja seemed to have. As entertaining as all of his extra posing was, now came the time for the more boring part of the process...the waiting. As they both settle into their hiding place and ready their weapons Fritz can appreciate the effort Zero was putting in to this. The rogue can tell he was at the very least trying to speak in a lower tone than usual, but his excitement betrayed his intentions. Still volume wouldn&#39;t be an issue right now, seeing as the plain was still relatively empty. 

Until...

Fritz hears a tell tale rustling nearby. His hand shoots up signaling for Zero to stop and listen. Within a few seconds a recognizable grouping of grunts could be heard approaching the area they had laid their bait just minutes before. They were in luck! By the sounds of it, they had attracted a heard, a rarity in Fritz&#39; experience, but certainly a welcome sight! Peeking up from the grass his eyes would widen in shock however. Just ahead of them waddled five maybe even six boars! Perhaps his father&#39;s bait had worked just a bit too well...

His mind raced with what to do next. He had expected at the most maybe three boar in total, but six!? Looking back up to check on their prey, he&#39;d be taken aback by what he saw. Were more showing up!? This had gone from simple hunting trip to a potential danger. The boy knew there was always a chance of danger when it came to hunting, but this was rediculous. How were the two of them supposed to take on this many of them? Perhaps if they took one of them down the rest would scatter? Not a bad plan, but still Fritz is unsure of how to proceed. 

In his uncertainty, he looks to his partner, thinking that maybe he could get a read on how Zero would want to proceed, all the while he kept his bow at the ready. This could get ugly fast. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/778535164199567371/29a088bc8d3c17d61c344686a38463f4.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Zero#0000" data-user-id="778535164199567371">Zero</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">26-Nov-20 04:13 AM</span>

            <div class="chatlog__message " data-message-id="781447574879207444" id="message-781447574879207444">
                <div class="chatlog__content">
                    <div class="markdown"><em>Hearing this request, Zero chuckled gallantly!</em>  &quot;If stealth weren&#39;t our current objective, I&#39;d go off about them immediately!  Since that is the goal, though, I&#39;ll just tell you this: They are really, <em><strong>really</strong></em> interesting...!&quot;

<em>For Zero, staying still for any amount of time was difficult, unless he was out cold.  However, with the power of his desire to hunt boars, he managed to stay in his current pose for the entire wait!  Of course, this gave him time to think about his partner in crime...  A calm individual, such a trait is invaluable in the art of stealth...  Zero couldn&#39;t be farther from it!  He was knowledgeable as well, perhaps he&#39;d make a good sidekick?  One to give helpful advice while Zero ran around hitting things!</em>

<em>Such thoughts were brushed aside from the approaching herd of boars, however- Finally, a worthy group of foes!  In such large numbers, surely they&#39;d pose a challenge worthy of this duo!  Zero slowly looked over to his partner, a confident grin on his face...  Fritz didn&#39;t share such resolve, so Zero gave a stalwart thumbs up before preparing two arrows!  Words were an enemy of stealth, so the confident nod and thumb will have to be enough to show they shouldn&#39;t back down!</em>

<em>Swiftly after, still in his lounging position, Zero shot out two arrows towards the nearest two boars!  He had figured out a little finger stance that made it easier to shoot two arrows swiftly, and he wasn&#39;t afraid to use it!  He didn&#39;t aim for any particular part of the boars, just the boars in general, so it was unlikely he would hit any particularly important spot...  As said arrows sailed towards their marks, Zero readied himself for a quick jump to his feet in case the boars realized just where those arrows came from!  And he prepared more arrows for a follow-up if possible!</em>

<em>Truly, this fight will be legendary...!</em> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/778535164199567371/0a91931603fb6282c089bcb2ab201475.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Fritz Drystan#0000" data-user-id="778535164199567371">Fritz Drystan</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">27-Nov-20 01:54 PM</span>

            <div class="chatlog__message " data-message-id="781956181093908510" id="message-781956181093908510">
                <div class="chatlog__content">
                    <div class="markdown">Alright, Zero&#39;s definitely into this...Maybe he&#39;d be able to work with that. They were both students of Garreg Mach after all (or at the very least he <em>assumed</em> Zero was a student), meaning both of them had a bit of military expirience under their belts. Surely a pack of boars, no matter how large, wouldn&#39;t be equivalent to the packs of vagrants they&#39;ve encoutered before...right?

...No, the logical part of his brain would never allow for such naive hope, but from the look on the ninja&#39;s face, he was ready to engage and Fritz wasn&#39;t just about to leave him here on his own. No, better to jump into the fire with him. Besides, there was still the theory that the pack might disperse once fired upon. Thus, the rogue draws his own bow and knocks an arrow. However, in his enthusiasm, Zero would be the first to loose his arrows upon the group and to his credit he strike true! Two boars fall the arrows pierce them, but what comes next makes Fritz&#39; heart <strong>drop</strong>.

The boars immediately turn in their direction and a low rumble quickly escalates into much louder stampede! They were charging them! The rogue is already on his feet scrambling to get out of the way, calling out to his partner and hoping his reactions were quick as well. 

&quot;SCATTER!&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/778535164199567371/29a088bc8d3c17d61c344686a38463f4.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Zero#0000" data-user-id="778535164199567371">Zero</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Dec-20 05:25 AM</span>

            <div class="chatlog__message " data-message-id="783639989191573514" id="message-783639989191573514">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Yes, the first strike is ours!&quot;  <em>Seeing the boars begin their counterattack, Zero was already hopping up, dropping his next round of arrows while doing so.  Such was the be expected from a species as mighty as the boar!  However, he wouldn&#39;t simply let the boars attack...!  Recklessly, he pulled out his nameless axe, and tossed it up in the air before dashing in the opposite direction as fast as he can!  Which, is pretty fast.</em>  &quot;GREAT IDEA, <em>SEE YOU SOON!&quot;</em>

<em>After such a flashy axe throw, he was just barely able to dive out of the way of the stampede, rolling before continuing to run...!  Retreat isn&#39;t just a cowardly move, it can be part of a strategy, too!  In avoiding the boars, soon, he&#39;d be able to counterattack even stronger than before...  With seven arrows!  This was definitely humanly possible.</em>

<em>Thinking of the counter counterattack he&#39;d commit once he shook off these boars inspired him to laugh gallantly in the face of danger!  ...This attracted more than a few of the furious boars in his direction, though...</em> </div>
                </div>



            </div>
    </div>
</div>

</div>

<div class="postamble">
    <div class="postamble__entry">Exported 14 message(s)</div>
</div>

</body>
</html>
