

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - deer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }

        function showSpoiler(event, element) {
            if (element && element.classList.contains('spoiler--hidden')) {
                event.preventDefault();
                element.classList.remove('spoiler--hidden');
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../../../index.html#ch05">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">☆ &#120387;&#120426;&#120419;&#120425;&#120414;&#120419;&#120412; &#120385;&#120410;&#120424;&#120425;&#120414;&#120427;&#120406;&#120417; / deer</div>


    </div>
</div>

<div class="chatlog">


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/358788505012404225/b0fa675c9e43eb7c03b45b80c2d74cdb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="anubis in high heels#6432" data-user-id="358788505012404225" style="color: rgb(183,139,198)">anubis in high heels</span>


        <span class="chatlog__timestamp">15-Nov-20 06:47 PM</span>

            <div class="chatlog__message " data-message-id="777681091053486120" id="message-777681091053486120">
                <div class="chatlog__content">
                    <div class="markdown"> </div>
                </div>

                    <div class="chatlog__attachment">
                            <a href="https://cdn.discordapp.com/attachments/777608695587536956/777681090709946399/unknown.png">
                                    <img class="chatlog__attachment-thumbnail" src="https://cdn.discordapp.com/attachments/777608695587536956/777681090709946399/unknown.png" alt="Attachment">
                            </a>
                    </div>


            </div>
            <div class="chatlog__message " data-message-id="777681183052005377" id="message-777681183052005377">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight">Leicester Alliance - On the Brink of F&#243;dlan&#39;s Throat</div> </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="777681228992217109" id="message-777681228992217109">
                <div class="chatlog__content">
                    <div class="markdown">Just behind the tall mountains that separate F&#243;dlan and Almyra lies a lush forest sprawling with life. The abundance of trees and brush makes it easy for both prey and predators to take cover in, a perfect breeding ground for a good hunt. They also say the elusive and sacred Golden Deer from F&#243;dlan legend has been spotted here a few times, a sign of fortune and protection to come to whoever is lucky enough to see it.

<div class="quote"><strong>Hunting for -  <img class="emoji " alt="game" title="game" src="https://cdn.discordapp.com/emojis/777625733228920913.png"> Deer</strong></div> </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="777681276815147018" id="message-777681276815147018">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight">Warm with a few sunrays creeping through the ceiling of leaves; Dawn.</div> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/358788505012404225/b0fa675c9e43eb7c03b45b80c2d74cdb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="anubis in high heels#6432" data-user-id="358788505012404225" style="color: rgb(183,139,198)">anubis in high heels</span>


        <span class="chatlog__timestamp">15-Nov-20 07:06 PM</span>

            <div class="chatlog__message " data-message-id="777686064205791272" id="message-777686064205791272">
                <div class="chatlog__content">
                    <div class="markdown">The hunt has started! <span class="mention" style="color: rgb(241, 125, 91); background-color: rgba(241, 125, 91, 0.1);">@Leonie</span> and <span class="mention" style="color: rgb(165, 229, 226); background-color: rgba(165, 229, 226, 0.1);">@Caspar</span> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777976798994104400/0dc2492b2d030406cc9d944a165ccbfa.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Leonie Pinelli#0000" data-user-id="777976798994104400">Leonie Pinelli</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">16-Nov-20 02:22 PM</span>

            <div class="chatlog__message " data-message-id="777976799837683753" id="message-777976799837683753">
                <div class="chatlog__content">
                    <div class="markdown">The day that the hunting festival was announced to all students of the monastery, it was the day that Leonie was looking forward to all these months. Actually, looking forward is an understatement as she was exhilarating and expecting the festival to happen. All those past years will be put up to good use when she scored the kill on the game by herself with her own skills. A chance where she could show her father how much she has improved!

Except for one annoying thing that she didn&#39;t factor in. This was a cooperative festival hunt where those participated will have someone partnered up with them to hunt and catch the game they have assigned on. While she felt it was better to hunt on their own but having a partner beside her would benefit her better since her and her partner could cooperate to catch the game together. What&#39;s worse could go wrong? Surely the partner she assigned with could be a great help.

Imagine her disappointment and annoyance when she got paired up with none other than Caspar von Berliez of Black Eagle House. Surely she would expect someone like Raphael, Felix, Claude or anyone as competent as she was to partner up with her. Even her friends like Ingrid, Alyse would make a better partner than Caspar did. 

But she was being harsh on him since she barely knew him after all as the most she heard from him was from other students. Most she could hear was about his brash, loud and often bone-hared personality and nothing else.  Because of these that she considered Caspar to be more of a hindrance than a help in catching the game. But who knows? Caspar may be a big help in the end or do something makes her underestimated him.

For now, she and Caspar was on their way to their designated hunting ground to catch their game by carriage. During the whole journey, Leonie was having a slightly frowned and annoyed face on her as she had to hear and endure Caspar&#39;s constant loud screaming and excitement for the festival as well. And here she thought... </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777976798994104400/0dc2492b2d030406cc9d944a165ccbfa.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Leonie Pinelli#0000" data-user-id="777976798994104400">Leonie Pinelli</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">16-Nov-20 02:44 PM</span>

            <div class="chatlog__message " data-message-id="777982473401270272" id="message-777982473401270272">
                <div class="chatlog__content">
                    <div class="markdown">... she was the excited one. Despite all that, she was able to remain calm and composure, watching the scenery outside of the carriage as she began to formulate a plan.

Their designated hunting ground was in a lush forest in Fodlan&#39;s Throat, just behind the mountain between the Alliance and the nation known as Almyra. She always wanted to go beyond her home village and explore more places on her own. And this was one of those places that she would go explore.

The carriage stopped just before the edge of the forest as Leonie got off the carriage along with her hunting tools and took a look around. A few knights here and there stood at the edge of the forest, standing guard and patrolling in case someone or something intervened with the hunt. With Caspar off the carriage, Leonie turned to him with a stern and stoic look as she was about to lecture him or in this case remind him of what he caught himself into.

&quot;Now that we are partner, Caspar. Here are a few things you need to understand if we can catch our game without causing any trouble&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777976798994104400/0d22e996acbe29ce5b30072a5a7c4dd2.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Caspar Von Bergliez#0000" data-user-id="777976798994104400">Caspar Von Bergliez</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">16-Nov-20 02:49 PM</span>

            <div class="chatlog__message " data-message-id="777983722254368804" id="message-777983722254368804">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Yeah!&quot; Caspar was practically bouncing with excitement. As soon as he heard there was going to be a hunting festival, he knew he had to join in! It could be nice, going out on a hunting trip with a friend, or maybe even a complete stranger.

Even if he and his partner didn&#39;t win or catch anything, he was certain it&#39;d be an experience to remember long after he has left Garreg Mach.

His partner was to be Leonie. He didn&#39;t know anything about her, so he was eager to get to know her! After all, this could be a great opportunity to make a new close friend.

And besides! When would he ever <em>normally</em> have a chance to visit the Leicester Alliance like this? The lavish greenery only made him more excited. There was bound to be plentiful hunt in a forest as full and lovely as this.

He looked to Leonie, a wide smile on his face. &quot;Oh! Of course, Leonie.&quot; He nodded, placing a hand on his hip. The stern look on her face had completely gone over his head, in all his excitement.

&quot;What&#39;s up?&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777976798994104400/0dc2492b2d030406cc9d944a165ccbfa.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Leonie Pinelli#0000" data-user-id="777976798994104400">Leonie Pinelli</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">16-Nov-20 03:14 PM</span>

            <div class="chatlog__message " data-message-id="777989954676457492" id="message-777989954676457492">
                <div class="chatlog__content">
                    <div class="markdown">Still with his excitement shown all over her face, Leonie knew this was going to be a long day ahead for both of them. She let out a sigh and composed to get her mind clear and level-headed as she began explaining to Caspar.

&quot;You know that both of us are assigned together for a reason. And that by catching the game we are assigned to and with that I need you to pay attention to whatever I said. Got it?&quot; She reminded him of the reason they were assigned and being here in the first place while also giving him instruction. 

Hunting is not something one could learn right at the get go. It needs time and practice for one to master and hunt properly. It requires one to have a keen and heightened hunter sense, and also knowledge of the prey they are hunting. The said prey that Leonie and Caspar tried to hunt is the deer.

Let&#39;s hope that her words managed to get into that thick skull of his. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777976798994104400/0d22e996acbe29ce5b30072a5a7c4dd2.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Caspar Von Bergliez#0000" data-user-id="777976798994104400">Caspar Von Bergliez</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">16-Nov-20 03:31 PM</span>

            <div class="chatlog__message " data-message-id="777994204860776540" id="message-777994204860776540">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Sure!&quot; Caspar said, pumping his fist &quot;We&#39;ve gotta work together so we can catch that deer!&quot; He began looking around the area, for anything in the distance, anything moving.

&quot;This place looks pretty big!&quot; Caspar tried to make out some sense of direction through the sea of trees before him, moving from side to side to see around one group of trees, only for his vision to be blocked by another. &quot;We should try going this way first.&quot; He pointed straight ahead, not really knowing where to go, but knowing they should go <em>somewhere</em>, at least.

&quot;We get to eat what we catch, right?&quot; Caspar then looked to Leonie, the smile still there, bright as ever. &quot;We gotta do the best we can if we wanna eat!&quot;

Caspar walked closer to Leonie, extending a hand to her, the other on his hip. &quot;C&#39;mon, Leonie. Let&#39;s both promise to do our best and have fun out here!&quot;

There were a few reasons why Caspar signed up. The primary one being he wanted to try out hunting. The other being he was looking forward to meeting someone new. He planned to listen to her to the best of his ability, so that they could bond over this, possibly. He didn&#39;t want to make her mad on their first meeting, after all. Leonie may have been very serious when she said that, looking back to her expression. 

&quot;And don&#39;t worry about the &#39;paying attention&#39; bit!&quot; Caspar&#39;s face was replaced from excitement to confidence, as he nodded. &quot;I&#39;m a great listener, I think.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777976798994104400/0dc2492b2d030406cc9d944a165ccbfa.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Leonie Pinelli#0000" data-user-id="777976798994104400">Leonie Pinelli</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">16-Nov-20 04:13 PM</span>

            <div class="chatlog__message " data-message-id="778004736212729877" id="message-778004736212729877">
                <div class="chatlog__content">
                    <div class="markdown">And already, he began to wander off to see the forest before she could finish what she wanted to say to him or prepare him for what to come. She let out a long sigh and covered her forehead with her hand as she was now second-guessing herself about the whole experience, ignoring his words while pondering. She eventually looked up at him to see him extending his hand before her and giving some relieving words. 

Well sorta since she had her doubt about him cooperating with her to catch the prey they assigned. But if this was just for fun like he said then she wouldn&#39;t have any problem with it? To be honest, she still doubting about the whole thing.

&quot;You better be, Caspar!&quot; She said sternly to him as she shook his hand before eventually retracting her hand back. She still have her doubt but it wasn&#39;t time to second-guess or back out from this competition. If she entered in, she better have something to bring home at the end of the day. 

&quot;Anyway, I have packed everything we need for the hunt ahead. And just so you know for a second time, we are hunting deer so we better be quiet or else we may scare it off&quot; She took out the bow from her back and inspected to see it was in good condition by pulling the string and releasing it. Then she checked the arrows in the quiver by the right side of her hips by inspecting the arrow heads to see if she carried a duff one. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777976798994104400/0d22e996acbe29ce5b30072a5a7c4dd2.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Caspar Von Bergliez#0000" data-user-id="777976798994104400">Caspar Von Bergliez</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">17-Nov-20 12:59 PM</span>

            <div class="chatlog__message " data-message-id="778318467338076161" id="message-778318467338076161">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Quiet, right!&quot; Caspar nodded. &quot;I can do that! What else?&quot; He looked at Leonie eagerly, as she checked her arrows, watching her every movement. He watched her inspect her quiver, and then her arrow heads, not really knowing what she was doing, but not really thinking he should be questioning it, figuring she was an expert on the subject of hunting. Leonie probably knows way more about hunting than he does, for all Caspar knows.

Caspar continued to look around the forest, trying to look for something, but saw nothing. &quot;We should try looking around now, Leonie!&quot; He turned to her. &quot;I don&#39;t really see anything, but I&#39;m sure we can find a deer quick with your expert eye!&quot;

Caspar thought that now was the time to ask Leonie a bit about herself, since they were just getting started and all, and nothing considerably noteworthy was going on. &quot;So uh... Why did you decide to join the hunting festival anyway?&quot; Caspar turned his head to Leonie, a smile on his face. Hopefully asking her this would make for a good line of conversation! &quot;Do you like to hunt?&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777976798994104400/0dc2492b2d030406cc9d944a165ccbfa.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Leonie Pinelli#0000" data-user-id="777976798994104400">Leonie Pinelli</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">17-Nov-20 02:08 PM</span>

            <div class="chatlog__message " data-message-id="778335832091131914" id="message-778335832091131914">
                <div class="chatlog__content">
                    <div class="markdown">After inspecting the arrow heads, she put them all in her quiver, determining that they were in good condition, as she watched Caspar taking steps around the edge of the forest and looking around to see if he could spot any things. With how thick the forest was, there was nothing could be seen behind those covers. Animals may have spotted them already and gone to hide from them, or predators like wolves would plan an ambush on them. Nobody would know until she and Caspar found out for sure.

She nodded at his words, taking a step towards the forest as she would begin the hunt with Caspar. As she walked, she decided to answer his question about why she joined the hunting festival. And maybe decided to chat with him since it will be long for them to find a deer. Preferably, she expected a bear or a boar for them to hunt as they were more challenging and more fun to hunt. But a deer would suffice since they could be challenging to hunt as well, especially in the lush forest like this one.

&quot;Like to hunt is an understatement Casper. It&#39;s more to show my skill in hunting after many years of training&quot; She answered his question as she shoved away some of the branches that got in their way. She has been trained to hunt since she was child by her father, who was one of few best hunters around in her village. Few could surpassed her father&#39;s skills in hunting as he would bring more games home than other hunters could. 

Nothing he couldn&#39;t catch with his skills, whether as small as rabbit or as big as a boar. He would hunt them all and bring them back to the village to feed the entire village. But all great things must come to an end, and just like her father, his hunting time would end eventually. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777976798994104400/0d22e996acbe29ce5b30072a5a7c4dd2.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Caspar Von Bergliez#0000" data-user-id="777976798994104400">Caspar Von Bergliez</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">18-Nov-20 04:24 PM</span>

            <div class="chatlog__message " data-message-id="778732446966480966" id="message-778732446966480966">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Show your skill?&quot; Caspar tilted his head. He didn&#39;t remember this being a competition at all. But if Leonie thought of it that way, that would explain her strictness with him. &quot;I guess that&#39;s one way to think about it.&quot; He shrugged it off, deciding not to try to sway her. If turning this into a competition or display of skill made this fun for her, who was he to try and change that?

&quot;I just thought it&#39;d be a nice experience.&quot; Caspar said. &quot;Something to remember after we all graduate from the monastery.&quot; He shifted closer to a tree, and placed his hand on it. Caspar turned his head towards Leonie, and gave a small smile. &quot;I just think that making as many good memories as we can now is a good idea. We don&#39;t know what&#39;s going to happen in the future, after all.&quot;

Caspar thought the same way about his training. He couldn&#39;t hold back one bit, because there&#39;s no certainty of what might happen the next day, or in the future. He had to prepare; train hard, for anything. Someone who is prepared to fight at any time can easily make their way in this world. Enough of that, though. Caspar decided it was about time to move back to the topic at hand. The two of them still had a deer to catch, after all, and nothing would be caught if they just stood around.

&quot;So uh...&quot; The boy scratched the back of his neck, unsure of how to go about this himself, looking to Leonie for guidance. &quot;How exactly do we find a deer, Leonie?&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777976798994104400/0dc2492b2d030406cc9d944a165ccbfa.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Leonie Pinelli#0000" data-user-id="777976798994104400">Leonie Pinelli</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">19-Nov-20 01:53 AM</span>

            <div class="chatlog__message " data-message-id="778875516924592159" id="message-778875516924592159">
                <div class="chatlog__content">
                    <div class="markdown">Listening to his words while traveling through the dense forest made her really question about what she could have done in the academy. When she was first enrolled in the academy, she was only set on making her dream of becoming a mercenary a reality and repaying her village&#39;s debt. She hasn&#39;t really thought about making memories with her classmates or people she has spoken to. Since she was so set on accomplishing her dream, she would forget about the part of interacting and talking with some but she managed to talk and make some friends along the way.

Shaking her head slightly to get herself back to reality as she continued on with their trek through the forest. The forest was certainly lush with lots of trees and bushes, plenty places to hide from for both her and Caspar, and the animals here, predators and preys alike. And since they were deep in the forest, Leonie held the bow tight with her hand on the quiver as she began to crouch down and treaded carefully. She hoped that Caspar would do the same too, but it wasn&#39;t a surprise since how much he was on edge she supposed.

Eventually, she stopped and held her hand before Caspar as she found a trace of a deer. A recent and fresh prints of deer hooves on the ground as Leonie inspected the prints and found them to be leading to somewhere further into the forest.

&quot;By finding prints of it&quot; She eventually answered his question after ignoring it for quite some time before she treaded forward as her mind already had an idea as to where the deer would go. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777976798994104400/0dc2492b2d030406cc9d944a165ccbfa.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Leonie Pinelli#0000" data-user-id="777976798994104400">Leonie Pinelli</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">22-Nov-20 04:30 PM</span>

            <div class="chatlog__message " data-message-id="780183423734120478" id="message-780183423734120478">
                <div class="chatlog__content">
                    <div class="markdown"><span class="mention" style="color: rgb(165, 229, 226); background-color: rgba(165, 229, 226, 0.1);">@Caspar</span> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777976798994104400/0d22e996acbe29ce5b30072a5a7c4dd2.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Caspar Von Bergliez#0000" data-user-id="777976798994104400">Caspar Von Bergliez</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">29-Nov-20 04:00 PM</span>

            <div class="chatlog__message " data-message-id="782712604203548732" id="message-782712604203548732">
                <div class="chatlog__content">
                    <div class="markdown">&quot;Prints?&quot; Caspar looked left, then right, then upwards, then finally, down at the prints right in front of him. &quot;So we just have to follow this trail?&quot; Caspar began to move forward, to be stopped by Leonie&#39;s hand -which had been in front of him- causing him to look to her in confusion. To him, it had become clear what had needed to be done. His genius plan to catch the deer! 

&quot;If it went that way, then why don&#39;t we just chase after him and grab him?&quot; If they were fast about it, he figured, there&#39;s nothing that could possibly go wrong! They could surely catch up if they ran quickly enough, and putting it down shouldn&#39;t be an issue after it&#39;s in his grasp. Everything would go right according to plan! He looked back to the tracks, his excitement growing as he yearned for the moment Leonie removed her arm.

But wasn&#39;t there something she said earlier...? It came to his mind as he looked at Leonie once more, remembering the stern glare she had given him earlier. Of course, how could he forget!? Leonie was the expert. She probably had a few pointers on how to do this. Although he still wanted to go with his own plan, listening to the words of the master was definitely his priority! &quot;Or is there a certain approach you wanna take, Leonie? I&#39;m all ears!&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777976798994104400/0dc2492b2d030406cc9d944a165ccbfa.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Leonie Pinelli#0000" data-user-id="777976798994104400">Leonie Pinelli</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">02-Dec-20 01:40 AM</span>

            <div class="chatlog__message " data-message-id="783583365713363004" id="message-783583365713363004">
                <div class="chatlog__content">
                    <div class="markdown">&quot;We will follow the track and see where it leads to&quot; She responded stoically and whisperingly so that she wouldn&#39;t scare the nearby deer that were still in the area. Treading through the dense forest carefully, Leonie would look around her surrounding to not only looking for a deer but any signs of a predators nearby. As she would notice from way earlier, the forest was dense with many shrubberies, dense coverage from the leaves as well as tall tress as well. All were perfect coverage for preys and predators alike such as bears, wolves and wild boars. You said wild boar can&#39;t be dangerous!

&quot;If you spot any bear, wolf or wild boar, don&#39;t hesitate to fight them off!&quot; Whispered to him the permission to go wild as she treaded carefully through the dense, still following the deer&#39;s track. What she could comment on him was his ferocity and headlong approach that made everyone or everything scared of him. So with him on guard for any dangerous preys and predators, with a little bit of her help, they would be safe hunting without worrying about the predators.

After some time following the track, Leonie would find a clear opening on the other end of the forest where sunlight could shine through  as she and Caspar would tread carefully to it and out of the forest. There she would find a large meadow, surrounded by trees around them with the sunlight shining above it. Not only would she find the meadow, but also the herd of deer as well. From fawns to does to bucks, they were gathered in a herd together and in great number too as she would count at least. With that many deer, she would have a plan to take out at least three or four of them. She quickly took Caspar&#39;s arm and dragged him to a nearby bush that would be big enough to cover them both.

&quot;Okay, Caspar. I need you to listen to my instruction very carefully or else the whole plan will be a bust!&quot; </div>
                </div>



            </div>
    </div>
</div>

</div>

<div class="postamble">
    <div class="postamble__entry">Exported 18 message(s)</div>
</div>

</body>
</html>
