

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - fish</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }

        function showSpoiler(event, element) {
            if (element && element.classList.contains('spoiler--hidden')) {
                event.preventDefault();
                element.classList.remove('spoiler--hidden');
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../../../index.html#ch05">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">☆ &#120387;&#120426;&#120419;&#120425;&#120414;&#120419;&#120412; &#120385;&#120410;&#120424;&#120425;&#120414;&#120427;&#120406;&#120417; / fish</div>


    </div>
</div>

<div class="chatlog">


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/358788505012404225/b0fa675c9e43eb7c03b45b80c2d74cdb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="anubis in high heels#6432" data-user-id="358788505012404225" style="color: rgb(183,139,198)">anubis in high heels</span>


        <span class="chatlog__timestamp">15-Nov-20 06:55 PM</span>

            <div class="chatlog__message " data-message-id="777683188000227358" id="message-777683188000227358">
                <div class="chatlog__content">
                    <div class="markdown"> </div>
                </div>

                    <div class="chatlog__attachment">
                            <a href="https://cdn.discordapp.com/attachments/777609426987122698/777683187785531401/unknown.png">
                                    <img class="chatlog__attachment-thumbnail" src="https://cdn.discordapp.com/attachments/777609426987122698/777683187785531401/unknown.png" alt="Attachment">
                            </a>
                    </div>


            </div>
            <div class="chatlog__message " data-message-id="777683208203665409" id="message-777683208203665409">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight">Adrestian Empire - Coast of Nuvelle</div> </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="777683813781209109" id="message-777683813781209109">
                <div class="chatlog__content">
                    <div class="markdown">The coast near the now fallen noble house, Nuvelle. Not much happens around here nowadays, but many admit the view is terribly nice. The water laps the rocks on shore softly during this time of day, but not for long. Despite it being so close to sea, it pockets enough freshwater for stray river fish to be caught.

<div class="quote"><strong>Hunting for - <img class="emoji " alt="fishgame" title="fishgame" src="https://cdn.discordapp.com/emojis/777683690116612156.png"> Variety of Fish</strong></div> </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="777683925715386398" id="message-777683925715386398">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight">Feeling breezy, cooler than usual; Noon.</div> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/358788505012404225/b0fa675c9e43eb7c03b45b80c2d74cdb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="anubis in high heels#6432" data-user-id="358788505012404225" style="color: rgb(183,139,198)">anubis in high heels</span>


        <span class="chatlog__timestamp">15-Nov-20 07:10 PM</span>

            <div class="chatlog__message " data-message-id="777686888337244210" id="message-777686888337244210">
                <div class="chatlog__content">
                    <div class="markdown">The hunt has started! <span class="mention" style="color: rgb(91, 129, 106); background-color: rgba(91, 129, 106, 0.1);">@Linhardt</span> and <span class="mention" style="color: rgb(250, 165, 221); background-color: rgba(250, 165, 221, 0.1);">@Thyra</span> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777769798276481046/3dfc2be4f30c9fbf4ade903e2d378dfe.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Linhardt Von Hevring#0000" data-user-id="777769798276481046">Linhardt Von Hevring</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">16-Nov-20 12:39 AM</span>

            <div class="chatlog__message " data-message-id="777769799815921724" id="message-777769799815921724">
                <div class="chatlog__content">
                    <div class="markdown">Leaves crunch under lazily lifted boots, the meetup spot just ahead. The only sound that drowned it out was the rushing river, indicating that the place the boots&#39; owner was headed drew closer. 

It was quite intriguing that Linhardt was sent to this area, considering his newly formed relationship with the territory&#39;s owner. Well... former owner, he supposed. It was his mission to assist in the reversal of the &quot;former&quot; part of that title, as was promised.

Ah, but that&#39;s getting ahead of himself. Today was meant for fishing. It was a pastime of his, thankfully, meaning he wouldn&#39;t be too angry at the person who forced him to join this competition. It wouldn&#39;t have been his first choice - the pond in the monastery was good enough for his hobby - but... being out here brought a certain type of peace he hadn&#39;t felt in a long time. 

It was wonderfully quiet. 

Once he found a place to set up, the backpack he carried thumped against the grass and a rod was pulled out. <em>What type of fish can I catch?</em> was the first question that ran through his head. Followed by <em>I wonder how long I can stay out here</em>. 

Within moments, the line was baited and cast, and all he had to do was wait. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777929257963487282/8524e248df0e60779b6a2df2eb948da2.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Thyra Iphigenia Mateus#0000" data-user-id="777929257963487282">Thyra Iphigenia Mateus</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">16-Nov-20 11:13 AM</span>

            <div class="chatlog__message " data-message-id="777929258404151327" id="message-777929258404151327">
                <div class="chatlog__content">
                    <div class="markdown"><em>Fishing</em> was never really a pastime Thyra had bothered with all too often. While ice fishing was certainly a thing, it wasn&#39;t terribly popular; most Faerghus citizens preferred gamier meats. After all, in the unforgiving winters of the north, any extra ounce of fat was critical for survival. Setting up a net or traps, at most, was <em>maybe</em> worth the effort when it came to fish.

At least her partner seemed to know what he was doing, given he had already cast his line. She trudged through the mud, enjoying the cooler air but wrinkling her nose a bit at the smell of the sea. It was a bit earlier than the festival organizers had recommended; the sun wasn&#39;t <em>quite</em> at midday. But the green-haired student&#39;s mentality was probably right; it wouldn&#39;t hurt to get a head start. At worst, it would just get some practice in.

&quot;Hey, Linhardt,&quot; she greeted, setting her bag by a rock a few feet away from his spot. &quot;You sure are early. Do you like fishing a whole lot?&quot;

She stretched slowly in an effort to delay the moment where she would inevitably have to ask him to teach her all the steps. While normally she would have no qualms about asking for help, she was <em>supposed</em> to already know how to fish if they wanted any chance of winning the competition. And with her partner&#39;s calm air, surely it meant he was confident enough in his own skills... </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777769798276481046/3dfc2be4f30c9fbf4ade903e2d378dfe.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Linhardt Von Hevring#0000" data-user-id="777769798276481046">Linhardt Von Hevring</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">16-Nov-20 03:41 PM</span>

            <div class="chatlog__message " data-message-id="777996889806471219" id="message-777996889806471219">
                <div class="chatlog__content">
                    <div class="markdown">The sound of approaching footsteps didn&#39;t bother Linhardt. He <em>was</em> expecting his partner to show up any moment now, so it only made sense for someone to appear now. Her voice was what brought his attention away from the task at hand, sapphires shifting to the other.

&quot;Thyra, right? Good morning.&quot; A short nod in greeting. &quot;I enjoy fishing quite a lot, yes. Gives me time to think.&quot;

A soft sigh later, his head turned back to the rushing river. Few shadows lingered beneath the surface, a fact he hoped would change soon, and it wasn&#39;t long until one approached the bobbing lure. Bingo. A <em>plop</em> indicated that the bait was taken, and without hesitation, arms flexed as the line was pulled back. It only took a minute or two, a struggle for survival his enemy, for a sturgeon to flop it&#39;s way onto the rocks. Soft pants came from the teen from the battle, though that is where his expertise ended. 

Even when he caught a fish, never did he end it&#39;s life. It was either released or placed in the bucket that often sat at the end of the docks at the monastery. 

Blue eyes darted to his colleague. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777929257963487282/8524e248df0e60779b6a2df2eb948da2.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Thyra Iphigenia Mateus#0000" data-user-id="777929257963487282">Thyra Iphigenia Mateus</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">16-Nov-20 08:53 PM</span>

            <div class="chatlog__message " data-message-id="778075426966339594" id="message-778075426966339594">
                <div class="chatlog__content">
                    <div class="markdown">(blood cw for spoilered)

She&#39;d never really seen fishing as an activity to allow for more introspection. But it made sense - other than quietly sitting in place and waiting, what else were they supposed to do? Even so, Thyra figured she wouldn&#39;t like it too much. All that keeping still was hard for her; she usually needed to at least swing her feet around a bit.

Her train of thought was cut off by Linhardt&#39;s sudden movements. In a flash, the long fish sailed out of the water and tumbled around on the rocks, gills flapping in a desperate attempt to breathe. One little meal, in exchange for suffering and <em>becoming</em> a meal.

Kunzite met sapphire, and an unspoken understanding passed through them. She sent him a singular nod, then jumped to pin the slimy animal down. There were a few options now - smash it against a rock, smash a rock against it, or...

&quot;They only need the body meat, right?&quot; She pulled out a pocket knife, one that she had purchased specifically for the hunting festival, and pressed it through where she figured the fish&#39;s head ended. <span class="spoiler spoiler--hidden" onclick="showSpoiler(event, this)"><span class="spoiler-text">Blood spurted forth, and she felt a slight crunch as she punctured through its spine. Her first instinct was to cup the cut in an attempt to stem the gush of crimson, but she quickly realized blood was not usually desired in fish. Instead, she grabbed one of the little buckets they&#39;d been provided with, filled it with water, and dunked the fish in to let it bleed out.</span></span>

Yeah, she was going to need to figure out a system of some sort.

&quot;... You&#39;re pretty good,&quot; she finally commented, looking up at Linhardt and giving him a weary smile. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777769798276481046/3dfc2be4f30c9fbf4ade903e2d378dfe.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Linhardt Von Hevring#0000" data-user-id="777769798276481046">Linhardt Von Hevring</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">17-Nov-20 02:27 AM</span>

            <div class="chatlog__message " data-message-id="778159464892596226" id="message-778159464892596226">
                <div class="chatlog__content">
                    <div class="markdown">He hadn&#39;t looked away in time. 

A burning sensation made it&#39;s way up his throat as a hand shot to his mouth. Dizziness was the next sensation to hit him. That sickening crunch was echoing through his mind like a cavern, seizing any thoughts he had in that moment. The grass shuffled under his feet as he turned sharply to look away, at <em>anything</em> other than crimson. 
Crimson that burned into his memory like the future grill marks of that small creature he just watched die.

It took all of him not not start panicking right then and there.

<em>It&#39;s just a fish... Think logically.</em>
<em><strong>Red.</strong></em>

Allowing his eyes to close for a moment as he willed all thoughts for that... substance that shall not be named to leave immediately, he forced himself to breathe deeply in an attempt to calm himself. 

One...
Two...
Three...

Okay.
Back to work.

Azure orbs returned to lavender ones, a hint of shame weaved into his expression. 
&quot;Th-thank you.&quot; 
It was not a sentiment that was returned. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777929257963487282/8524e248df0e60779b6a2df2eb948da2.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Thyra Iphigenia Mateus#0000" data-user-id="777929257963487282">Thyra Iphigenia Mateus</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">18-Nov-20 04:34 PM</span>

            <div class="chatlog__message " data-message-id="778734820603068426" id="message-778734820603068426">
                <div class="chatlog__content">
                    <div class="markdown">Too busy with cleaning the fish carcass, she missed the pained disgust that writhed through Linhardt. Which was really for the best for him; she&#39;d already figured he wasn&#39;t a fan of killing the fish, and it would probably only bring him more shame to know that she had seen how <em>viscerally</em> he disliked it.

Not that Thyra would judge, though. Maybe she didn&#39;t know the exact cause of his disgust, but she had looked game in the dark, pitiful eyes as she put them out of their suffering - and she knew it was not a burden for everyone to bear.

&quot;If you have any tips for cleaning the fish, let me know.&quot; Her usual bright expression returned in an attempt to put the earlier tension behind them. &quot;Otherwise, I&#39;m sure I&#39;ll figure it out on my own.&quot;

It seemed the red substance was no longer pooling out, so she removed the fish from the bucket and placed it in the basket for the final count. &quot;And, uh, if this part is difficult for you, I can take care of it instead of adding an extra bait to the lake. This whole competition is about working together, after all, right?&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777769798276481046/3dfc2be4f30c9fbf4ade903e2d378dfe.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Linhardt Von Hevring#0000" data-user-id="777769798276481046">Linhardt Von Hevring</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">20-Nov-20 02:48 PM</span>

            <div class="chatlog__message " data-message-id="779433130784194570" id="message-779433130784194570">
                <div class="chatlog__content">
                    <div class="markdown">A few nods came from her suggestion, shoulders raising and dropping slowly as he finalised his calming routine. 

&quot;Right, that is the goal of this event.&quot; 
And then a slight pause as he considered the words he should use as to convey this is a short but efficient manner.
&quot;I will catch the fish, you will.. kill.. them and clean them. That sounds like the favourable course of action.&quot;

A throat is cleared before he looked away, back at the river.

&quot;As for tips, I&#39;m afraid that catching the fish is where my expertise ends. I typically return them to their waters or pass the job onto someone else.&quot; Much like he was doing right now. As to not let much time be wasted, he began to bait another hook then, casting the line moments later. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777929257963487282/8524e248df0e60779b6a2df2eb948da2.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Thyra Iphigenia Mateus#0000" data-user-id="777929257963487282">Thyra Iphigenia Mateus</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">21-Nov-20 06:08 AM</span>

            <div class="chatlog__message " data-message-id="779664539117551626" id="message-779664539117551626">
                <div class="chatlog__content">
                    <div class="markdown">Ah - that made sense. After all, it was precisely the part that had set him off; of course he wouldn&#39;t know too much about it. She would have to rely on her knowledge of using fish in cooking (not terribly frequent, as she was not the biggest fan of the taste) and of preparing game. Logically, there had to be connections; they were all living creatures at the end of the day.

She mused over the process for a bit, considering what was really the most humane, efficient, and clean way to go about it. There were a few actions she could take differently, and maybe some other motions could be tested, but overall it seemed she had hit the nail on the head. Or maybe she was totally off and all of their fish wouldn&#39;t be counted, but that seemed unlikely.

A stretch of quiet passed. Linhardt didn&#39;t seem terribly talkative - then again, pairing off two random students was probably not the best way to get lively conversation. Unfortunately for him, however, Thyra was a rather chatty creature by nature.

&quot;Sooo...&quot; He was the heir to Hevring County, right? If the stereotypes were true, Adrestian nobles loved to flaunt information about their land. &quot;Hevring - that&#39;s mining, right? What&#39;s your ministry title?&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777769798276481046/3dfc2be4f30c9fbf4ade903e2d378dfe.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Linhardt Von Hevring#0000" data-user-id="777769798276481046">Linhardt Von Hevring</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">25-Nov-20 01:57 AM</span>

            <div class="chatlog__message " data-message-id="781051001502826526" id="message-781051001502826526">
                <div class="chatlog__content">
                    <div class="markdown">The pleasures of fishing came back to him as the silence stretched, calming thoughts entering his mind. It began with the sounds of the river, reminding him of a time long passed when he wouldn&#39;t be scolded by all around him for taking a nap near a small body of water. He recalled the time Caspar had almost accidentally drowned him, then, a small smirk forming on his lips. That memory flowed into a recollection of a book he&#39;d read a few years prior about the myth of the tiger drowning in the-

The sound of his companion&#39;s voice dragged him off memory lane, eyebrows picking up in interest.

And then plummeting at the mention of his title. 

&quot;Correct. My father is the &#39;Minister of the Interior&#39;.&quot; 
His tone was mockingly formal at the last bit, followed by a sound of disgust.
&quot;Not that I care much for it.&quot;

He silently prayed for that to be the end of it.
Or at least for a fish to save him from this conversation. </div>
                </div>



            </div>
    </div>
</div>

</div>

<div class="postamble">
    <div class="postamble__entry">Exported 14 message(s)</div>
</div>

</body>
</html>
