

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - fox</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }

        function showSpoiler(event, element) {
            if (element && element.classList.contains('spoiler--hidden')) {
                event.preventDefault();
                element.classList.remove('spoiler--hidden');
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../../../index.html#ch05">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">☆ &#120387;&#120426;&#120419;&#120425;&#120414;&#120419;&#120412; &#120385;&#120410;&#120424;&#120425;&#120414;&#120427;&#120406;&#120417; / fox</div>


    </div>
</div>

<div class="chatlog">


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/358788505012404225/b0fa675c9e43eb7c03b45b80c2d74cdb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="anubis in high heels#6432" data-user-id="358788505012404225" style="color: rgb(183,139,198)">anubis in high heels</span>


        <span class="chatlog__timestamp">15-Nov-20 06:47 PM</span>

            <div class="chatlog__message " data-message-id="777681110892937217" id="message-777681110892937217">
                <div class="chatlog__content">
                    <div class="markdown"> </div>
                </div>

                    <div class="chatlog__attachment">
                            <a href="https://cdn.discordapp.com/attachments/777608854996647956/777681110934618132/unknown.png">
                                    <img class="chatlog__attachment-thumbnail" src="https://cdn.discordapp.com/attachments/777608854996647956/777681110934618132/unknown.png" alt="Attachment">
                            </a>
                    </div>


            </div>
            <div class="chatlog__message " data-message-id="777682646620176384" id="message-777682646620176384">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight">Adrestian Empire - Gronder Field</div> </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="777682807207231518" id="message-777682807207231518">
                <div class="chatlog__content">
                    <div class="markdown">Without celebration, the popular Gronder Field remains a vast and grassy plain. Tall grass keep the animals hidden at certain spots, bushes offer shelter, rocks bringing a challenge to keep things interesting. To keep your eyes peeled is often advice for hunting here.

<div class="quote"><strong>Hunting for - <img class="emoji " alt="game" title="game" src="https://cdn.discordapp.com/emojis/777625733228920913.png"> Fox</strong></div> </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="777682933011185684" id="message-777682933011185684">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight">A bit cloudy, but if it&#39;s a sign of rain or not is unclear; Dawn.</div> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/358788505012404225/b0fa675c9e43eb7c03b45b80c2d74cdb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="anubis in high heels#6432" data-user-id="358788505012404225" style="color: rgb(183,139,198)">anubis in high heels</span>


        <span class="chatlog__timestamp">15-Nov-20 07:09 PM</span>

            <div class="chatlog__message " data-message-id="777686708619182102" id="message-777686708619182102">
                <div class="chatlog__content">
                    <div class="markdown">The hunt has started! <span class="mention" style="color: rgb(146, 101, 86); background-color: rgba(146, 101, 86, 0.1);">@Cyril</span> and <span class="mention" style="color: rgb(247, 130, 130); background-color: rgba(247, 130, 130, 0.1);">@Soleil</span> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777959970205073419/75edde9b04df51184155bf7f819e53bc.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Cyril#0000" data-user-id="777959970205073419">Cyril</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">16-Nov-20 01:15 PM</span>

            <div class="chatlog__message " data-message-id="777959971265576980" id="message-777959971265576980">
                <div class="chatlog__content">
                    <div class="markdown"><em>It was common for Cyril to be awake at or even before dawn so that he can get a head start on his work for the day and today was no different. Though today&#39;s work will be different. The idea of going on this hunting trip was brought up Shamir for training, mostly for spotting your target and approaching carefully rather than actually shooting the arrow, though that part is still very important. He wasn&#39;t keen on leaving work behind but training like this will help him help Lady Rhea better in the future in something that isn&#39;t just doing chores.</em>

<em>One thing he wasn&#39;t expecting was to be paired up with a student. For some reason he thought he would be with Shamir, not Soleil. Cyril has no problems with Blue Lion student, he just doesn&#39;t know her that well.</em>

<em>At dawn, Cyril scouted out on his own not far from camp with his bow and quiver full of arrows. He wasn&#39;t expecting to see any foxes this early but it doesn&#39;t hurt to be prepared in case he spots one of the sly creatures.</em>

&quot;This field should be full of mice and where mice are, foxes should be around.&quot; <em>The boy mused to himself as he observed the famous spot of the Battle of the Eagle and Lion before glancing up at the cloudy skies. Silently hoping that if it does rain, it&#39;s after they catch a few foxes.</em> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777959970205073419/fb853d0384c00c9c35a331081a07cdf9.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Soleil Astraea Artiss#0000" data-user-id="777959970205073419">Soleil Astraea Artiss</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">16-Nov-20 10:37 PM</span>

            <div class="chatlog__message " data-message-id="778101526064398387" id="message-778101526064398387">
                <div class="chatlog__content">
                    <div class="markdown">Previously...Soleil hadn&#39;t really hunted. Ever.

She&#39;d had no need to, really. Living at the palace, all the food she wanted had been delivered to her, already prepared; there was no need to go out and hunt or scavenge just to put food on the table, as she knew some people did. But she had fought before, as was evident, and she reasoned that hunting could not be all that different from regular combat, only the targets were different. Thought differently. Were smaller. Had different behavioral patterns.

If she manages to analyze those factors, she guesses, she may be able to hunt more or less efficiently.

She&#39;d been paired up with a member of the Church of Seiros, or so she&#39;d been told: a young faculty member. Upon hearing his age, she had been a bit skeptical as to his skill, but she&#39;d heard from others that he was rather talented and hard-working.

She walks up to Cyril and comes to stand there, her daggers hanging by her side. She&#39;d chosen to hunt with daggers, this time around: being lighter than swords, they would, in all probability, be therefore easier to wield and therefore better for hunting with.

&quot;So!&quot; She says, her tone light, her voice airy. &quot;Where shall we begin? You are Cyril, correct?&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777959970205073419/75edde9b04df51184155bf7f819e53bc.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Cyril#0000" data-user-id="777959970205073419">Cyril</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">17-Nov-20 12:55 AM</span>

            <div class="chatlog__message " data-message-id="778136256928022548" id="message-778136256928022548">
                <div class="chatlog__content">
                    <div class="markdown"><em>His eyes caught slight of a small orange-ish thing in the distance. It was quiet far but it was close enough for Cyril to know it was a fox. He got his bow ready with an arrow about to attempt a lucky shot before Soleil&#39;s voice broke his focus. The fox must have heard the girl as it scurried off into the grassy field.</em>

&quot;Yup, I&#39;m Cyril.&quot; <em>He sighed.</em> &quot;And I guess you&#39;re Soleil?&quot; <em>The boy asked plainly as he put the unused arrow back in his quiver. He looked slightly upset at the fact the creature got away but honestly, Cyril wasn&#39;t expecting to actually hit it but it was worth a shot just to test the limits.</em>

<em>He looked at the girl, taking notice of her choice of hunting weapons. Daggers aren&#39;t the worst. He&#39;s seen Shamir chuck a dagger at a spider who dared exist on the wall of the Knight&#39;s Hall. The poor tiny eight legged creature was absolutely destroyed. Even if Soleil didn&#39;t match up with his teacher&#39;s dagger skills, foxes are bigger targets than spiders.</em> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777959970205073419/fb853d0384c00c9c35a331081a07cdf9.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Soleil Astraea Artiss#0000" data-user-id="777959970205073419">Soleil Astraea Artiss</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">17-Nov-20 10:26 PM</span>

            <div class="chatlog__message " data-message-id="778460992630947880" id="message-778460992630947880">
                <div class="chatlog__content">
                    <div class="markdown">&quot;You are correct.&quot;

She studies Cyril. He seems to know what he&#39;s doing, at least, from what she&#39;d observed of him as she was approaching, though he&#39;d been cut off by the prey being alerted by her arrival. Then again, she can&#39;t really judge solely off of appearances: for all she knows, Cyril won&#39;t be able to hit a single target, or the opposite. Who knows?

In the same light tone of voice, she proceeds, &quot;I believe we are paired together for this hunt! It should go marvelously, as long as we make sure to cooperate. If we each do our own thing, we are sure to clash with one another, no? And, as far as I know, the real goal is to bring the prey back to the monastery, so we are not doing this for ourselves.&quot;

&quot;So!&quot; She claps, once, then withdraws a dagger from her belt. She begins to walk forwards, towards the spot in the grass that the fox had disappeared into. Without waiting to see if Cyril is following, she calls over her shoulder, &quot;Let us go, then!&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777959970205073419/75edde9b04df51184155bf7f819e53bc.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Cyril#0000" data-user-id="777959970205073419">Cyril</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">17-Nov-20 11:08 PM</span>

            <div class="chatlog__message " data-message-id="778471670864281610" id="message-778471670864281610">
                <div class="chatlog__content">
                    <div class="markdown"><em>They had only talked for a few minutes and Cyril could already tell he wasn&#39;t going to like this girl very much. It had nothing to do with what Soleil said, cause she was correct about it. It was more of her attitude as she walked off into the grass, seemly to take charge of the hunt. But this was probably Cyril judging way too quickly before giving the girl a fair chance. Who knows, maybe his opinion of the girl will change during this hunt.</em>

<em>He quickly ran to catch up with Soleil and started walking beside her. Not being one for small talk, he stayed silent as they walked through the grassy field keeping an eye out for any signs of one of the sly creatures. It didn&#39;t take long for him to spot one way out in the field.</em>

&quot;Hey. Stay still for a moment.&quot; <em>He lowered his voice into a whisper before pointing out into the field. To most people it seems like there&#39;s nothing but grass.</em> &quot;I see a fox out there in the field. It&#39;s way to far to throw a dagger or shoot it with an arrow but if we&#39;re quiet and sneaky enough.. We can get into a good spot where I can made a clean shot at it.&quot; <em>Cyril whispered out his plan.</em> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777959970205073419/fb853d0384c00c9c35a331081a07cdf9.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Soleil Astraea Artiss#0000" data-user-id="777959970205073419">Soleil Astraea Artiss</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">18-Nov-20 08:31 PM</span>

            <div class="chatlog__message " data-message-id="778794492307832912" id="message-778794492307832912">
                <div class="chatlog__content">
                    <div class="markdown">It&#39;s Soleil&#39;s nature to take the lead, regardless of the situation. She&#39;s been born and raised to act for others, to make decisions that benefit, not only herself, but an entire nation, in anticipation of the day when she ascends to the throne of Morfis. So it&#39;s understandable that, even in this little hunting group, she assumes charge.

She&#39;s suspending judgement on Cyril&#39;s character for now, knowing little to nothing about him. She can, however, assess his hunting skills, over the course of this little excursion. Perhaps an analysis of personality will follow.

She stops moving and follow&#39;s Cyril&#39;s gaze into the field. She sees a patch of grass swaying, moved by something other than the wind, confirming Cyril&#39;s assertation. Still, she&#39;s skeptical that he&#39;d &quot;seen&quot; the fox: although perhaps it had been a conclusion made from the same branch of logic that she&#39;d used. Lowering her voice to the same whisper, she says, &quot;It&#39;d be a bit difficult to see a fox from here, no? Especially in such tall, closely-packed grass.&quot;

She turns her head slightly, hearing a rustling noise not far away, and sees several spots of moving grass in other places as well. Hm. This place really does have many foxes. &quot;However, it is not the only prey in sight.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777959970205073419/75edde9b04df51184155bf7f819e53bc.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Cyril#0000" data-user-id="777959970205073419">Cyril</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">18-Nov-20 09:48 PM</span>

            <div class="chatlog__message " data-message-id="778813916762996767" id="message-778813916762996767">
                <div class="chatlog__content">
                    <div class="markdown"><em>Cyril looked at Soleil like she&#39;s crazy for a moment. How could she not see the fox through the grass? It&#39;s orange fur is as clear as day to him at less.</em>

&quot;No, I&#39;m sure I see one out there. There&#39;s even the perfect spot to snipe if it doesn&#39;t move very far.&quot; <em>The boy insisted looking annoyed that the student doesn&#39;t seem to believe him.</em> &quot;I&#39;ll get it myself then..&quot;

<em>Feeling like he has to prove himself. Cyril stormed off on his own into the field, but carefully as to not scare his prey away. Completely ignoring the Morfis Princess (not like he knows that) when she pointed out the other spots of rustling grass.</em>

<em>Getting to his sniping spot which was a rock with a decent amount of tall grass around it, giving him extra height and something to hide behind. Cyril sees the fox he saw minutes ago. It was curled up in a little ball looking like it&#39;s napping. The boy silently draws an arrow from his quiver and readied his bow. He would feel bad for killing a sleeping animal but that&#39;s just what can happen when your guard is down.</em>

(cw, blood)

<span class="spoiler spoiler--hidden" onclick="showSpoiler(event, this)"><span class="spoiler-text"><em>The fox&#39;s ears perked up at the sound of the arrow flying through the air. It was too late for it to flee though. The creature let out loud screeches as the arrow pierced it&#39;s stomach and staining the dirt under it red. Wasn&#39;t a perfect shot by any means but Cyril did hit it. Sprinting over to the fox, he pulled out a simple hunting dagger and quickly stabbed the fox&#39;s neck to end it&#39;s pain as soon as possible.</em> 

<em>After the adrenaline from the hunt wore off. He removed both the arrow and dagger from the animal and slung it over his shoulder to get it back to camp, doing that caused a bit of blood to get on his shirt but he can worry about that later.</em></span></span>

&quot;I actually got one..!&quot; <em>Cyril cheered quietly to himself.</em>

<em>It was far from a clean success but he was feeling proud of himself nonetheless. The main thing is that he forgot this was meant to be a teamwork thing instead of a competition...</em> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777959970205073419/fb853d0384c00c9c35a331081a07cdf9.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Soleil Astraea Artiss#0000" data-user-id="777959970205073419">Soleil Astraea Artiss</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">20-Nov-20 10:05 PM</span>

            <div class="chatlog__message " data-message-id="779543084576931850" id="message-779543084576931850">
                <div class="chatlog__content">
                    <div class="markdown">Soleil can&#39;t exactly...see through objects (or whatever grass classifies as), so she doesn&#39;t quite understand what Cyril is talking about. Nevertheless, she decides not to press the point further.

&quot;If you say so.&quot;

She didn&#39;t say that she didn&#39;t believe him--she merely questioned the fact that he had been able to glimpse the small fox through all the grass, even considering the distance. Ah, well. She turns her head away, leaving the boy to his own devices. He can do what he wishes, for now: but that&#39;s not to say she&#39;ll forsake her own duties.

Foxes are often portrayed as sly, she recalls: having a certain level of intelligence. At the same time, they seem to be numerous at Gronder Field, so they have strength in numbers: that may have lured them into a false sense of security. As always, she finds herself thinking analytically, looking ahead at possible outcomes that may not even exist, but are good to plan for anyways.

She walks a few paces in the grass, the soft ground masking her footsteps so that they&#39;re barely audible, scanning the grass for any indication of movement not caused by herself. In several places, she can see the grasses twitching, though by the time she reaches it, all is still again.

Finally, she springs onto a rock and crouches down, so that she does not cast much of a shadow over the ground. Now without any movement to disturb the foxes, she watches the grass intently, waiting for the slightest shiver in the blades. Meanwhile, her hands deftly withdraw several small daggers from where she had been keeping them.

The instant she sees--and hears--the rustling, she lets the daggers fly.
- </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="779543097993330739" id="message-779543097993330739">
                <div class="chatlog__content">
                    <div class="markdown">It had been a guess, albeit an educated one, but the <em>thud</em> that follows tells her that her tactic had come to fruition. She climbs down from the rock and moves over to the spot. Sure enough, though two of the daggers are embedded in the ground, another two had found their mark: <span class="spoiler spoiler--hidden" onclick="showSpoiler(event, this)"><span class="spoiler-text">a more or less clean kill, though the blades had, of course, drawn blood where they had hit.</span></span>

Soleil pulls them out, and, after cleaning them somewhat with a cloth she had brought along for this purpose, re-sheathes them, along with the ones that had hit the ground. It seemed the fox had paid dearly for a moment of idleness.

She stands there for a moment, before bending down to inspect the wounds she had inflicted upon the poor animal. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777959970205073419/75edde9b04df51184155bf7f819e53bc.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Cyril#0000" data-user-id="777959970205073419">Cyril</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">23-Nov-20 01:21 AM</span>

            <div class="chatlog__message " data-message-id="780317001175531551" id="message-780317001175531551">
                <div class="chatlog__content">
                    <div class="markdown"><em>As Cyril was heading back to camp, he kept looking around the field in search of another fox. Though instead he noticed Soleil not too far away. He almost forgot about the student he was supposed to be working with. Deciding to check up on her, he could see that she got herself a fox of her own.</em>

&quot;Oh hey.. I see you got a fox too.&quot; <em>Cyril commented as he walked up to Soleil. He was actually impressed since the student was only using daggers, but he didn&#39;t make that clear. He would have thought that the sly creatures would notice her and flee before she was close enough to throw her daggers but it appears he was proven incorrect.</em>

&quot;I was heading back to camp to drop off a fox of my own before going back out. Wanna come with me?&quot; <em>The young boy offered.</em> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777959970205073419/fb853d0384c00c9c35a331081a07cdf9.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Soleil Astraea Artiss#0000" data-user-id="777959970205073419">Soleil Astraea Artiss</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">26-Nov-20 09:56 PM</span>

            <div class="chatlog__message " data-message-id="781715106044182538" id="message-781715106044182538">
                <div class="chatlog__content">
                    <div class="markdown">She glimpses the fox that Cyril was holding, and raises an eyebrow. Hm. Seems as though he&#39;s skilled after all, or that he hadn&#39;t entirely been lying when he said that he could see the foxes through the thick grass. Their pairing for this assignment seems to have worked out after all.

&quot;Yes. I did, as a matter of fact.&quot; Having determined that the fox was, as a matter of fact, dead from the wounds she had inflicted, she pulls out a cloth she had brought for the purpose and wraps up the fox&#39;s delicate body in it, for easier transportation. She then stands up and turns to Cyril.

&quot;It&#39;s lovely to see that your plan had come to fruition, even if this is a group assignment.&quot; She says, lightly, her voice having a hint of a reprimand in it. &quot;And even more wonderful to see that you&#39;ve finally remembered that it is such.&quot; Hoisting up the fox into a position that&#39;s easier for her to carry, she begins to walk in the direction of the camp. &quot;Certainly. We must at least keep up an appearance of having collaborated, after all. Come along, if you so wish.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777959970205073419/75edde9b04df51184155bf7f819e53bc.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Cyril#0000" data-user-id="777959970205073419">Cyril</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">30-Nov-20 05:09 PM</span>

            <div class="chatlog__message " data-message-id="783092312153522216" id="message-783092312153522216">
                <div class="chatlog__content">
                    <div class="markdown"><em>Soleil&#39;s tone of voice and words didn&#39;t go unnoticed by the boy. But it was deserved considering he had a bit of a fit and ran off on his own. Sure it worked out in the end in both of them getting a fox but it doesn&#39;t change the fact that this was a group assignment and Cyril completely forgot or most likely chose to ignore that. Was he going to admit he was wrong? No, absolutely not.</em>

&quot;I asked you if wanted to go back to camp first..&quot; <em>He grumbled. Looking very unamused at the student, not like she could see his expression anyway with her back turned. She did the same thing she did at the start of the hunt, taking the lead before even discussing who the leader would be. Cyril still wasn&#39;t keen about her attitude but at this point he couldn&#39;t bring himself to be anything more than annoyed about it. With a sigh, he begrudgingly followed Soleil back to camp.</em> </div>
                </div>



            </div>
    </div>
</div>

</div>

<div class="postamble">
    <div class="postamble__entry">Exported 17 message(s)</div>
</div>

</body>
</html>
