

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - rabbit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }

        function showSpoiler(event, element) {
            if (element && element.classList.contains('spoiler--hidden')) {
                event.preventDefault();
                element.classList.remove('spoiler--hidden');
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../../../index.html#ch06">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">☆ &#120387;&#120426;&#120419;&#120425;&#120414;&#120419;&#120412; &#120385;&#120410;&#120424;&#120425;&#120414;&#120427;&#120406;&#120417; / rabbit</div>


    </div>
</div>

<div class="chatlog">


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/358788505012404225/b0fa675c9e43eb7c03b45b80c2d74cdb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="anubis in high heels#6432" data-user-id="358788505012404225" style="color: rgb(183,139,198)">anubis in high heels</span>


        <span class="chatlog__timestamp">15-Nov-20 06:47 PM</span>

            <div class="chatlog__message " data-message-id="777681102021591050" id="message-777681102021591050">
                <div class="chatlog__content">
                    <div class="markdown"> </div>
                </div>

                    <div class="chatlog__attachment">
                            <a href="https://cdn.discordapp.com/attachments/777608829499736074/777681101824983040/unknown.png">
                                    <img class="chatlog__attachment-thumbnail" src="https://cdn.discordapp.com/attachments/777608829499736074/777681101824983040/unknown.png" alt="Attachment">
                            </a>
                    </div>


            </div>
            <div class="chatlog__message " data-message-id="777681568600686622" id="message-777681568600686622">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight">Kingdom of Faerghus - Teutates&#39; Pond</div> </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="777681748933869588" id="message-777681748933869588">
                <div class="chatlog__content">
                    <div class="markdown">Lying west from Arianrhod, the slightly frigid location in Faerghus is surprisingly serene. The tall and rigid mountains hugging the area keep the air still, as the pond in the middle brings life to it&#39;s surroundings. Embellished by small flowers and weeds, fish can be found wriggling about, small game coming from the brush to take a sip of the cold water before it freezes over.

<div class="quote"><strong>Hunting for - <img class="emoji " alt="game" title="game" src="https://cdn.discordapp.com/emojis/777625733228920913.png"> Rabbit</strong></div> </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="777682085786812436" id="message-777682085786812436">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight">Bright and sunny with a breeze; Midday.</div> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/358788505012404225/b0fa675c9e43eb7c03b45b80c2d74cdb.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="anubis in high heels#6432" data-user-id="358788505012404225" style="color: rgb(183,139,198)">anubis in high heels</span>


        <span class="chatlog__timestamp">15-Nov-20 07:07 PM</span>

            <div class="chatlog__message " data-message-id="777686347452121099" id="message-777686347452121099">
                <div class="chatlog__content">
                    <div class="markdown">The hunt has started! <span class="mention" style="color: rgb(244, 220, 196); background-color: rgba(244, 220, 196, 0.1);">@Mercedes</span> and <span class="mention" style="color: rgb(189, 41, 41); background-color: rgba(189, 41, 41, 0.1);">@Zegrath</span> </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777792743635681280/2f682c57b53791e078814836e047f920.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Mercedes von Matritz#0000" data-user-id="777792743635681280">Mercedes von Matritz</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">16-Nov-20 02:10 AM</span>

            <div class="chatlog__message " data-message-id="777792744713617408" id="message-777792744713617408">
                <div class="chatlog__content">
                    <div class="markdown">All the birds whistling and the animals jumping around and interacting with each other, it looked surreal... With all the missions and the battles that take place in them, it was nice to go somewhere to a place like this; with the trees rustling because of the soft breeze and the sun&#39;s bright light beaming over the animals and plants. Mercedes took a glance at the pond which had the sunbeams reflecting over it. A few animals had taken a few sips out of it and the fish and other water species swam through the water. 

Though the sun was up and all, the breeze was quite cold. But nonetheless, the scene looked beautiful. So the blonde didn&#39;t really understand why her intention here was to hunt... Luckily, she had someone to keep her company and keep her mind off the hunting and such. That someone was Zegrath though, someone who Mercedes didn&#39;t really know that well. At least he was from the same house... that was good she guessed. Though talking to someone she didn&#39;t really know could be awkward. Maybe she could befriend or learn more about them. 

The blonde looked around the place to take in the sight of a different, but serene place before hunting or more of asking what to do because Mercedes wasn&#39;t really a hunter. &quot;Uhm... Zegrath, was it?&quot; she started, trying to strike up a conversation as to not make hunting awkward, though people probably needed quiet when hunting. The blonde-haired student was unsure though. &quot;The place is nice.&quot; She remarked. Was that right to start off a conversation to someone she doesn&#39;t know that well? 

&quot;Shall we start hunting then?&quot; 

Mercedes gripped her weapon, a dagger, tight and glanced at the animals near the pond once more before looking back up at Zegrath. </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/778189165128581132/a6ddad99a951294c4ee07bc355908d48.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Zegrath Blackwood#0000" data-user-id="778189165128581132">Zegrath Blackwood</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">17-Nov-20 04:25 AM</span>

            <div class="chatlog__message " data-message-id="778189166286471188" id="message-778189166286471188">
                <div class="chatlog__content">
                    <div class="markdown">Zegrath took in a deep breath of that chilly forest air. Almost nostalgic, really. He&#39;d lived in a forest just like this for a good few years, it was still quite relaxing. He needed this, after all the mess of missions and emotions and everything else. Hunting wasn&#39;t a strange idea to him either, he had to survive off that kind of thing for those years, so he&#39;s actually rather good at it! In his opinion at least!

His almost emerald green eyes flicked to Mercedes once she spoke his name. She was a fellow Blue Lion so he&#39;d seen her around a lot, but never had the pleasure of actually speaking with her! A sweet smile sitting easily on his face, he waved hello with his magically-operated wooden arm. 

&quot;Howdy! I&#39;m Zegrath, yeah. And you&#39;re Mercedes, right? It&#39;s very nice to properly meet you. Although... I-I&#39;ll admit it&#39;s a bit of a weird place to do that, hehe...&quot; He quietly giggled, itching the back of his head with his real hand. Hunting isn&#39;t something he&#39;d done with anyone else before, so it&#39;s new for him too.

Nevertheless, he nodded in agreement to her statement of the area being nice, it very much was. His bright red hair really stuck out in the dark green forest, the cool breeze making it&#39;s fluff move ever so gently with it. He can&#39;t just talk to a new friend though (even if he wants to), it&#39;s hunting time! Rabbit... quick little creatures but not too terribly hard to catch. Lets see if he&#39;s rusty!

&quot;Yeah we should probably get to it... um! Do you have any hunting knowledge? I do, although I&#39;m mostly self taught.&quot; </div>
                </div>



            </div>
    </div>
</div>


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/777792743635681280/2f682c57b53791e078814836e047f920.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Mercedes von Matritz#0000" data-user-id="777792743635681280">Mercedes von Matritz</span>

            <span class="chatlog__bot-tag">BOT</span>

        <span class="chatlog__timestamp">18-Nov-20 12:27 AM</span>

            <div class="chatlog__message " data-message-id="778491659360272404" id="message-778491659360272404">
                <div class="chatlog__content">
                    <div class="markdown">The blonde-haired girl easily calmed at her fellow student. Zegrath&#39;s smile seemed pretty natural; not forced or anything. A smile had appeared on the Mercedes&#39;s face instantly. She had guessed that nothing awkward will happen, but that was just a prediction; anything can happen out of the blue. She nodded at the redhead&#39;s  remark. It was quite a strange place to be meeting and also strange at how they met up. To be honest, blonde never expected her to be meeting someone like this. Though many unexpected things can happen.

&quot;Yes, it is quite strange. And also quite a strange way to meet,&quot; Mercedes added, letting out a small giggle too and nodding at Zegrath&#39;s remark. When he waved, the blonde noticed his arm which was wooden. She could immediately guess that something bad had happened in the red-haired boy&#39;s life, but she didn&#39;t mention it. It would be a bit rude and selfish to ask and mention. But she did wonder how it functioned...

Now is not the time though to be asking questions. They had to get a move on if they wanted to win the competition. Was it a competition? The only reason why she signed up was because it just sounded fun and all... She hadn&#39;t heard that it was something about hunting. If the blonde had heard it was about hunting, then she&#39;d probably wouldn&#39;t have joined, but this could be fun either way. 

&quot;I don&#39;t really know how to hunt. Actually, this is my first time hunting to be fair,&quot; she replied. &quot;I&#39;m sorry about that!&quot; Mercedes quickly apologized after. </div>
                </div>



            </div>
    </div>
</div>

</div>

<div class="postamble">
    <div class="postamble__entry">Exported 8 message(s)</div>
</div>

</body>
</html>
