

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Between Heaven and Earth - debriefs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../static/style.css" />
    <link href="../../../static/all.css" rel="stylesheet">
    <script src="../../../static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);

            if (element) {
                event.preventDefault();

                element.classList.add('chatlog__message--highlighted');

                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });

                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }

        function showSpoiler(event, element) {
            if (element && element.classList.contains('spoiler--hidden')) {
                event.preventDefault();
                element.classList.remove('spoiler--hidden');
            }
        }
    </script>
</head>
<body>

<div id="sidebarBtn">
    <button class="openBtn" onclick="changeNav()"><i class="fas fa-ellipsis-v"></i></button>
</div>
<div id="mySidebar" class="sidebar">
    <p><a href="../../../index.html">Home</a></p>
    <p><a href="../../../index.html#ch07">Back to Chapter</a></p>
</div>

<div class="preamble">
    <div class="preamble__guild-icon-container">
        <a href="../../../index.html"><img class="preamble__guild-icon" src="https://cdn.discordapp.com/icons/670072498812878849/a_e56f538171c389ad8041db301a9dd0ce.png" alt="Guild icon" /></a>
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">Between Heaven and Earth</div>
        <div class="preamble__entry">♞ &#119810;&#119841;&#119834;&#119849;&#119853;&#119838;&#119851; &#120789;: &#119827;&#119841;&#119838; &#119819;&#119842;&#119848;&#119847;, &#119853;&#119841;&#119838; &#119811;&#119838;&#119838;&#119851;, &#119834;&#119847;&#119837; &#119853;&#119841;&#119838; &#119812;&#119834;&#119840;&#119845;&#119838; / debriefs</div>


    </div>
</div>

<div class="chatlog">


<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="https://cdn.discordapp.com/avatars/630892271042035743/9b1c7caa91af97ad009eb379e7908db6.png" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="Vi#9820" data-user-id="630892271042035743" style="color: rgb(57,240,128)">Vi the Bridge Troll</span>


        <span class="chatlog__timestamp">18-Mar-21 03:13 PM</span>

            <div class="chatlog__message " data-message-id="822185989887098920" id="message-822185989887098920">
                <div class="chatlog__content">
                    <div class="markdown"> </div>
                </div>

                    <div class="chatlog__attachment">
                            <a href="https://cdn.discordapp.com/attachments/814720974272462888/822185989686296646/unknown.png">
                                    <img class="chatlog__attachment-thumbnail" src="https://cdn.discordapp.com/attachments/814720974272462888/822185989686296646/unknown.png" alt="Attachment">
                            </a>
                    </div>


            </div>
            <div class="chatlog__message " data-message-id="822187054183743528" id="message-822187054183743528">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight"> ➣ &#119809;&#119808;&#119827;&#119827;&#119819;&#119812; &#119822;&#119813; &#119827;&#119815;&#119812; &#119815;&#119822;&#119828;&#119826;&#119812;&#119826; </div>

<img class="emoji " alt="blackeagle" title="blackeagle" src="https://cdn.discordapp.com/emojis/822186898625396799.png"><img class="emoji " alt="blue_lion" title="blue_lion" src="https://cdn.discordapp.com/emojis/822186899103416338.png"><img class="emoji " alt="golden_deer" title="golden_deer" src="https://cdn.discordapp.com/emojis/822186915285434369.png"> The Battle of Eagle and Lion begins! While members of the church are able to watch on, the students participate in a bttle of strength in an attempt to gain points for their house. Though the prize of victory is not steep, supporting the house is worth every moment! 

<strong>GOAL: Earn as many points as possible in 8 turns.</strong> </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="822187228108161135" id="message-822187228108161135">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight"> ➣ &#119827;&#119808;&#119819;&#119812;&#119826; &#119822;&#119813; &#119827;&#119815;&#119812; &#119825;&#119812;&#119811; &#119810;&#119808;&#119821;&#119832;&#119822;&#119821; </div>

<img class="emoji " alt="ashen_wolf" title="ashen_wolf" src="https://cdn.discordapp.com/emojis/822186898276876289.png"> Trouble stirs at Garreg Mach while most students and staff are away. The Ashen Wolves are put in charge of protecting their home from bandits that have decided to cause troubles.

<strong>GOAL: Defeat the boss.</strong> </div>
                </div>



            </div>
            <div class="chatlog__message " data-message-id="822187590878101575" id="message-822187590878101575">
                <div class="chatlog__content">
                    <div class="markdown"><div class="pre pre--multiline nohighlight"> ➣ &#119828;&#119823;&#119811;&#119808;&#119827;&#119816;&#119821;&#119814; &#119820;&#119808;&#119823;&#119826; </div>

<a href="https://docs.google.com/spreadsheets/d/1rMlt0LuqNIiqB5ofphyWuqzWLAFKTiV69n_xZiqW1jI/edit#gid=0">https://docs.google.com/spreadsheets/d/1rMlt0LuqNIiqB5ofphyWuqzWLAFKTiV69n_xZiqW1jI/edit#gid=0</a> </div>
                </div>


                    <div class="chatlog__embed">
                            <div class="chatlog__embed-color-pill chatlog__embed-color-pill--default"></div>

                        <div class="chatlog__embed-content-container">
                            <div class="chatlog__embed-content">
                                <div class="chatlog__embed-text">

                                        <div class="chatlog__embed-title">
                                                <a class="chatlog__embed-title-link" href="https://docs.google.com/spreadsheets/d/1rMlt0LuqNIiqB5ofphyWuqzWLAFKTiV69n_xZiqW1jI/edit">
                                                    <div class="markdown">Chapter 07 Maps</div>
                                                </a>
                                        </div>

                                        <div class="chatlog__embed-description">
                                            <div class="markdown">Enemy Statblocks

Type,Lvl,Max HP,Str,Mag,Dex,Spd,Luk,Def,Res,Cha,Mvt,Weapons,Gambit,Combat Arts,Abilities
Green Golem,13,70/70/70,16,16,23,18,0,16,16,0,4,Wind,-,Poison Breath,Terrain Resistance, Vital Defense, Swordbreaker [2], Lancebreaker [2], Magic +2 [1]
Red Golem,13,70/70/70,16,16,23,16,0,1...</div>
                                        </div>

                                </div>

                                    <div class="chatlog__embed-thumbnail-container">
                                        <a class="chatlog__embed-thumbnail-link" href="https://lh5.googleusercontent.com/6v5b6X9v3bLmdulGqLpZ9lM5aAofNpVdMPkQv31SUupU69J9VzbimLR66Tc4Dl9vHlbRxCAt2j9WcA=w1200-h630-p">
                                            <img class="chatlog__embed-thumbnail" src="https://lh5.googleusercontent.com/6v5b6X9v3bLmdulGqLpZ9lM5aAofNpVdMPkQv31SUupU69J9VzbimLR66Tc4Dl9vHlbRxCAt2j9WcA=w1200-h630-p" alt="Thumbnail">
                                        </a>
                                    </div>
                            </div>


                        </div>
                    </div>

            </div>
    </div>
</div>

</div>

<div class="postamble">
    <div class="postamble__entry">Exported 4 message(s)</div>
</div>

</body>
</html>
